.flows.json.backup
[{"id":"37ca70b3.1ccd","type":"tab","label":"Motion Control","disabled":false,"info":""},{"id":"42bda437.8bf3ec","type":"tab","label":"Family Room","disabled":false,"info":""},{"id":"3d9442da.6e01ee","type":"tab","label":"Ariving/Leaving","disabled":false,"info":""},{"id":"cd61eba5.1d17e8","type":"tab","label":"Doors","disabled":false,"info":""},{"id":"1ae55a97.d30a15","type":"tab","label":"Utility","disabled":false,"info":""},{"id":"f096674e.b4e168","type":"tab","label":"Weather","disabled":false,"info":""},{"id":"c7cc637f.2f28c","type":"tab","label":"DVR/Torrent","disabled":false,"info":""},{"id":"f90ad8d5.5a1c18","type":"tab","label":"Github","disabled":false,"info":""},{"id":"67b76939.9a9c98","type":"tab","label":"Networking","disabled":false,"info":""},{"id":"2878bef7.9eec62","type":"tab","label":"Chores","disabled":false,"info":""},{"id":"ab7335c3.520b68","type":"tab","label":"Christmas Lights/Tree","disabled":false,"info":""},{"id":"6425f89.f9f3b08","type":"tab","label":"Pool","disabled":false,"info":""},{"id":"994bcb17.c990b8","type":"tab","label":"redmine","disabled":false,"info":""},{"id":"8c206717.a2b1c8","type":"tab","label":"Minecraft","disabled":false,"info":""},{"id":"341e8e87.fcfe22","type":"tab","label":"Alexa","disabled":false,"info":""},{"id":"4a997387.5b288c","type":"tab","label":"Medication","disabled":false,"info":""},{"id":"bf06917b.82d12","type":"tab","label":"Master Bedroom","disabled":false,"info":""},{"id":"6943dccf.4adf14","type":"tab","label":"Eufy","disabled":false,"info":""},{"id":"42d81757.3ff8b8","type":"tab","label":"3D Printer","disabled":false,"info":""},{"id":"3f4b0de7.1a15d2","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"12ea236b.b30f3d","type":"tab","label":"Alien Frontiers","disabled":true,"info":""},{"id":"e3b9f6b1.a1d0c8","type":"subflow","name":"Light 1/5m Timer","info":"Takes an input of the template used to determine on time. Output is for turning off the light.\n\nNOTE: Node will output any home assistant API errors for catching with the 'catch all' node\n\nConfiguration\ntemplate string\nJinja template to be rendered, discarded if `msg.template` is provided via input msg\nInputs\ntemplate string\nJinja template to be rendered\nOutputs\ntemplate string\nThe original template sent to home assistant for rendering\npayload string\nThe rendered template","in":[{"x":25,"y":163,"wires":[{"id":"4b7cf0de.21ef3"}]}],"out":[{"x":903,"y":158,"wires":[{"id":"6253919d.3b4f7","port":0},{"id":"69b3b513.3d7cfc","port":0}]}],"inputLabels":["last change time in seconds"],"outputLabels":["long timer trigger"]},{"id":"30de7929.802c66","type":"subflow","name":"Kitchen Light Should Turn On","info":"","category":"","in":[{"x":25,"y":128,"wires":[{"id":"a7cc0711.69d318"},{"id":"7f4c1b6a.d48104"},{"id":"97625ac0.a8feb8"}]}],"out":[{"x":940,"y":141,"wires":[{"id":"d7a9417.dd76dc","port":1}]},{"x":940,"y":60,"wires":[{"id":"d7a9417.dd76dc","port":0}]},{"x":840,"y":220,"wires":[{"id":"51cdf89d.656b68","port":0}]}],"outputLabels":["Full Bright","Night Mode","Motion Timer"]},{"id":"a52e9553.e94c48","type":"subflow","name":"Kitchen Motion","info":"","in":[{"x":40,"y":40,"wires":[{"id":"5cb0f2d2.9c235c"}]}],"out":[{"x":360,"y":40,"wires":[{"id":"5cb0f2d2.9c235c","port":0}]}]},{"id":"fa3dc47b.73ac68","type":"subflow","name":"Dining Motion","info":"","in":[{"x":50,"y":30,"wires":[{"id":"b74e47c5.f3aa38"}]}],"out":[{"x":455,"y":29,"wires":[{"id":"260414bc.0d035c","port":0}]}]},{"id":"24ed876f.5e68d8","type":"subflow","name":"Living Motion","info":"","in":[{"x":48,"y":25,"wires":[{"id":"99bdc5ec.98a038"}]}],"out":[{"x":475,"y":25,"wires":[{"id":"6af6dece.28d34","port":0}]}]},{"id":"be6daaf.e87f058","type":"subflow","name":"Dining Light Should Turn On","info":"","in":[{"x":46,"y":145,"wires":[{"id":"bf77d069.da049"},{"id":"5bfb8611.2f0388"},{"id":"40d0e5ac.4f8a7c"},{"id":"57ba9309.c2257c"}]}],"out":[{"x":826,"y":143,"wires":[{"id":"e8ed0eb0.c85ea","port":0}]}]},{"id":"6e62bbb7.da2654","type":"subflow","name":"Kitchen Light Level High","info":"","in":[{"x":49.99998474121094,"y":59.999996185302734,"wires":[{"id":"d08b875.cc24178"}]}],"out":[{"x":488.9166717529297,"y":59.749996185302734,"wires":[{"id":"f3cd4ad0.4b9c68","port":0},{"id":"f3cd4ad0.4b9c68","port":1}]}]},{"id":"49f9131f.8ed8fc","type":"subflow","name":"Living Room Lights Should Turn On","info":"","in":[{"x":26,"y":116,"wires":[{"id":"99aee22e.3db7"},{"id":"ca786a89.748378"}]}],"out":[{"x":696,"y":127,"wires":[{"id":"c4109cf3.7558a","port":0}]}]},{"id":"1a3e8c71.6c1c84","type":"subflow","name":"TCL 65\" Power State","info":"","category":"","in":[{"x":40,"y":40,"wires":[{"id":"f8fa7107.60bf"}]}],"out":[{"x":580,"y":40,"wires":[{"id":"cf398c7b.c9c21","port":0}]},{"x":580,"y":100,"wires":[{"id":"cf398c7b.c9c21","port":1}]}],"outputLabels":["On","Off"]},{"id":"14ced623.01764a","type":"mqtt-broker","z":"","name":"hass","broker":"pc-server","port":"1883","clientid":"NodeRED","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"home/NodeRED/availability","birthQos":"0","birthPayload":"online","closeTopic":"","closePayload":"","willTopic":"home/NodeRED/availability","willQos":"0","willPayload":"offline"},{"id":"c6e44f7f.644af","type":"websocket-listener","z":"2878bef7.9eec62","path":"/ws/simple","wholemsg":"false"},{"id":"112b57e5.982ba8","type":"websocket-listener","z":"","path":"/ws/chores","wholemsg":"false"},{"id":"541582c5.74415c","type":"sqlitedb","z":"","db":"/var/www/chores/data/chores.db"},{"id":"c18ad1ef.40cb5","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f4c7a6b2.8e3038","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"23213140.97bf2e","type":"Alexa-credentials","z":"","email":"nord.lead.2005@gmail.com","password":"SdpClpLLA13","alexaServiceHost":"alexa.amazon.com","acceptLanguage":"en-US","amazonPage":"amazon.com","cookie":"x-amzn-dat-gui-client-v=1.24.204852.0; ubid-main=132-4343155-0142547; lc-main=en_US; x-wl-uid=1e8Scdl+QhXuuR2HsHs3c6tLHudzVPlBo7NXV7N5aln4O2JKHWu+Mr6UMGvv0PavZ080x3rQgfJpnouqfnXR/wUsYPuma1FZDQ65a/fsPYuziU5SEEr1OOvIqZTwT8q7aYNqvtNy384w=; sst-main=Sst1|PQGi0d_A8g7t2btOxyDQLuNxCyaM9sYutCOAVllF0wRTBwzYTBIj0t1Fws8lUn-EH8ii50O7s-PFzeIiuz_pYeE2cfl_dVyglAG_AEwXuwdllcwfTGmuDaJC0bHPrWsSgjVvJ6ItcAxjyNU5Xi21hS8Jzq4OUwSWMZsgw9rezqVexV0zmFVCeWQkszfgTDyRx3wB5YD-G4D8-n5japLdkOlNSlZPbr9X-zn3FTFbtGwPnlLYlxtbNOIf8BB6E4SQAGPpctPyV7lJj48PFNiO_18owRjgx-LgCnEOzHcM1IfySy0yTyddmi_B0OTSzKtueBf3vZmH_x1EP_fwFMOXvHdwaw; csrf=-497642748; session-id=147-1791563-9341568; session-id-time=2082787201l; unique_id=cqGQgrZxPGBHbpb2tKNslpzgJi0okBGr; i18n-prefs=USD; session-token=\"hnYtJbxp0BdCEmVML1INY/2y08sDC2yl+AyjZeuHTYFCR2no9Fzuqx6K04Nsg/25C6FVNLea647VfpCZ+SOhKWhslKgqVLfTIeG8se5qzrmcbkPUtbERx7auy5AFaTSAbol2W03HQ17j6+FCQOvbrUFd/XkyYzWuzz2L0uxKRmMUCMRWQJWxTL5s1XMB7rPR10V1Si6LPEU6v5Xbq7MWwDWqIfcJ8fD4AMuV0EjQWwc=\"; x-main=VIOtJ1qs4vmA38uI8FpfKyHJRvCrA8FC; at-main=Atza|IwEBIEMQSzofwF7j8A79iMH2wcmEjOs7TzP8q6n5JeE25jCjtW_lELble_SJ_AgHgkJITrtchfjeNKEs7YDqlElHBzvunvl81A4FEIvRQFa_0U0DvESl7f8cx6VyAj7JXzfE9D7IqYK4Aqz3hxAsv8-_Tqxjh5bx5nQAKM84uVZQzdG8hhW96XbDQxT9GO24dGJznHc5UQNe0CfeljkaV-3psxEQ_4_5wkGiAQ-bkVqRiJXnUE0wvY4zDBCK0_AbzC0y4F8RKMcduFvYtORzWX2b-l485xV3Tks4DoAGmr_dwUmXHio8Z8To9Q2h_8_kheLd8NUA1FoGPff1IRbD2GXyVuWVTecfCRDJvW9wBBPxsAwoXFykEmMW4HgsvU7ULn5w6RetONmtUHoQJE31D6hTBaHq; sess-at-main=\"/Gql7edbgRUoApQfpVVyHALiQ7MNRdjtclfz8iMtbCc=\""},{"id":"d83466c3.60ea08","type":"websocket-client","z":"","path":"ws://192.168.125.92:81","tls":"","wholemsg":"false"},{"id":"bcb6d16b.be84e","type":"server","z":"","name":"Home Assistant","legacy":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true},{"id":"18823656.f5797a","type":"github-credentials","z":"","name":"node-red-git"},{"id":"a4d8fbce.f5a008","type":"websocket-listener","z":"","path":"/ws/alienfrontiers","wholemsg":"false"},{"id":"92a53210.bb95b","type":"sqlitedb","z":"","db":"/var/www/alienfronteirs/data/chores.db","mode":"RWC"},{"id":"25a568e.1250098","type":"time-range-switch","z":"37ca70b3.1ccd","name":"Daytime For Motion","lat":"43.14029","lon":"-76.09538","startTime":"7:00","endTime":"21:00","startOffset":0,"endOffset":0,"x":651,"y":654.5833940505981,"wires":[["f1193a48.97d778"],["6e3decff.fa78d4"]],"inputLabels":["Motion Activation"],"outputLabels":["Daytime","Nighttime"]},{"id":"f1193a48.97d778","type":"stoptimer","z":"37ca70b3.1ccd","duration":"10","units":"Minute","payloadtype":"num","payloadval":"10","name":"","x":874,"y":625.5833940505981,"wires":[["c330083c.5dcd38"],[]]},{"id":"6e3decff.fa78d4","type":"stoptimer","z":"37ca70b3.1ccd","duration":"2","units":"Minute","payloadtype":"num","payloadval":"2","name":"","x":874,"y":679.5833940505981,"wires":[["c330083c.5dcd38"],[]]},{"id":"5d21105c.389ed","type":"bigtimer","z":"42bda437.8bf3ec","outtopic":"/home/downstairs/family_room/shades/set","outpayload1":"OPEN","outpayload2":"CLOSE","name":"Big Timer","lat":"43.1387","lon":"-76.23631","starttime":"480","endtime":"5004","startoff":"0","endoff":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":252,"y":68.5,"wires":[["c75f5398.41348"],[],[]]},{"id":"c75f5398.41348","type":"switch","z":"42bda437.8bf3ec","name":"Shades Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OPEN","vt":"str"},{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"CLOSE","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"false","outputs":4,"x":560,"y":140,"wires":[["dad65627.c62d58"],["706b473.86e06b8"],["eb2c4adc.2796b8"],["eb2c4adc.2796b8"]]},{"id":"1e59164b.20676a","type":"inject","z":"42bda437.8bf3ec","name":"CLOSE","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"x":93,"y":125,"wires":[["5d21105c.389ed"]]},{"id":"a83a2578.e4f088","type":"inject","z":"42bda437.8bf3ec","name":"OPEN","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":90,"y":60,"wires":[["5d21105c.389ed"]]},{"id":"7d078c95.bb9424","type":"time-range-switch","z":"42bda437.8bf3ec","name":"","lat":"43.1387","lon":"-76.23631","startTime":"08:00","endTime":"sunset","startOffset":0,"endOffset":"-30","x":386,"y":220,"wires":[["c75f5398.41348"],[]]},{"id":"38acf50e.38b4ca","type":"switch","z":"3d9442da.6e01ee","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"not_home","vt":"str"},{"t":"eq","v":"home","vt":"str"}],"checkall":"false","outputs":2,"x":330,"y":260,"wires":[["70590b8e.71d3b4","b43d6b02.e82658"],["989862aa.77261","c2c66c0d.8216e"]]},{"id":"c8bae6fe.6be4b8","type":"switch","z":"3d9442da.6e01ee","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"},{"t":"eq","v":"just_left","vt":"str"},{"t":"eq","v":"just_arrived","vt":"str"},{"t":"eq","v":"work","vt":"str"},{"t":"eq","v":"church","vt":"str"},{"t":"eq","v":"parentsHouse","vt":"str"},{"t":"eq","v":"inLawsHouse","vt":"str"},{"t":"eq","v":"northwestYMCA","vt":"str"},{"t":"eq","v":"wegmans","vt":"str"}],"checkall":"false","repair":false,"outputs":10,"x":290,"y":440,"wires":[[],["cc63a4c4.fd77a8"],[],["6c5cf4b8.b7964c","989862aa.77261","7b5fddf.0d7dd24"],[],[],[],[],[],[]]},{"id":"c0de85c2.891c88","type":"delay","z":"3d9442da.6e01ee","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":680,"y":480,"wires":[["b8dc82b5.2564b"]]},{"id":"989862aa.77261","type":"time-range-switch","z":"3d9442da.6e01ee","name":"","lat":"43.14035","lon":"-76.09633","startTime":"sunrise","endTime":"sunset","startOffset":0,"endOffset":0,"x":600,"y":260,"wires":[[],["ab9a7ee.4d59c8","cc9e7290.227cc"]]},{"id":"ab9a7ee.4d59c8","type":"stoptimer","z":"3d9442da.6e01ee","duration":"7","units":"Minute","payloadtype":"num","payloadval":"7","name":"","x":800,"y":260,"wires":[["84eb0290.77acc"],[]]},{"id":"971294c8.efdcb8","type":"stoptimer","z":"cd61eba5.1d17e8","duration":"1","units":"Hour","payloadtype":"num","payloadval":"0","name":"","x":570,"y":200,"wires":[["2f725c77.ef5e24"],[]]},{"id":"720f38b0.5f37b8","type":"change","z":"cd61eba5.1d17e8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":200,"wires":[["971294c8.efdcb8"]]},{"id":"aa6eff9f.1b3f7","type":"switch","z":"ab7335c3.520b68","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Full","vt":"str"},{"t":"eq","v":"Low","vt":"str"},{"t":"eq","v":"Normal","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":335.5,"y":538.2500095367432,"wires":[["29e77c6d.8b4184"],["9648f7a6.ba0698","b8e3273.0d1bed8","88cf6ca.5e1499"],[]]},{"id":"ccae8202.213b7","type":"stoptimer","z":"ab7335c3.520b68","duration":"2","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":940,"y":740,"wires":[["465b4b55.348c14"],[]]},{"id":"c2677356.41dc9","type":"repeat","z":"ab7335c3.520b68","name":"","repetitions":"6","elseOutput":true,"outputs":2,"x":547,"y":712.0000095367432,"wires":[["32c816e.f7d03ea"],["662a58cf.5da3d8"]]},{"id":"32c816e.f7d03ea","type":"delay","z":"ab7335c3.520b68","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":723,"y":698,"wires":[["4a9ec202.42748c"]]},{"id":"465b4b55.348c14","type":"change","z":"ab7335c3.520b68","name":"Reset Loop To 6","rules":[{"t":"set","p":"_loopController.remaining","pt":"msg","to":"6","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":800,"wires":[["287b25cc.f15cfa"]]},{"id":"9648f7a6.ba0698","type":"change","z":"ab7335c3.520b68","name":"Format Notification","rules":[{"t":"change","p":"payload","pt":"msg","from":"Full","fromt":"str","to":"{\"data\":{\"message\": \"Thanks, I sure was thirsty!!\",\"data\": {\"tag\": \"christmas_tree\"}}}","tot":"json"},{"t":"change","p":"payload","pt":"msg","from":"Low","fromt":"str","to":"{\"data\":{\"message\": \"Please Water Me!! [low]\",\"data\": {\"tag\": \"christmas_tree\"}}}","tot":"json"},{"t":"change","p":"payload","pt":"msg","from":"critical","fromt":"str","to":"{\"data\":{\"message\": \"Please Water Me!! [critical]\",\"data\": {\"tag\": \"christmas_tree\"}}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":520,"wires":[["e1a715bd.54c3f8"]]},{"id":"f11250a.23b24b","type":"comment","z":"ab7335c3.520b68","name":"Blink the tree 6 times every 2 minutes once low until full","info":"","x":580,"y":620,"wires":[]},{"id":"f37741be.800d1","type":"switch","z":"e3b9f6b1.a1d0c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"180","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":564,"y":197,"wires":[["9ef70dc1.602dc","69b3b513.3d7cfc"],["6253919d.3b4f7"]]},{"id":"9ef70dc1.602dc","type":"change","z":"e3b9f6b1.a1d0c8","name":"Stop Timer","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":728,"y":188,"wires":[["6253919d.3b4f7"]]},{"id":"6253919d.3b4f7","type":"stoptimer","z":"e3b9f6b1.a1d0c8","duration":"1","units":"Minute","payloadtype":"num","payloadval":"1","name":"","x":784.333251953125,"y":250.16665649414062,"wires":[[],[]]},{"id":"a83126e6.84a798","type":"subflow:e3b9f6b1.a1d0c8","z":"37ca70b3.1ccd","x":811,"y":133.91664123535156,"wires":[["daa78b25.204ac8"]]},{"id":"50f1bd91.4a42f4","type":"subflow:e3b9f6b1.a1d0c8","z":"37ca70b3.1ccd","x":779,"y":283.6666650772095,"wires":[["4719404d.ef282"]]},{"id":"968b2e9e.b60e4","type":"subflow:e3b9f6b1.a1d0c8","z":"37ca70b3.1ccd","x":775,"y":473.6666955947876,"wires":[["9120aa45.8e39f8"]]},{"id":"e56fc132.08256","type":"throttle","z":"30de7929.802c66","name":"","throttleType":"time","timeLimit":"50","timeLimitType":"milliseconds","countLimit":0,"blockSize":0,"locked":false,"x":480,"y":114,"wires":[["51cdf89d.656b68"]]},{"id":"b4e5b296.50c36","type":"subflow:30de7929.802c66","z":"37ca70b3.1ccd","name":"","x":360,"y":284.0000047683716,"wires":[["c3cd04be.699218"],[],["46c8a65c.c626e8"]]},{"id":"c6496bc9.8b2738","type":"subflow:30de7929.802c66","z":"37ca70b3.1ccd","x":341,"y":472.0000047683716,"wires":[["afe6167f.138958"],[],["d5f0abdc.108c38"]]},{"id":"51cdf89d.656b68","type":"subflow:a52e9553.e94c48","z":"30de7929.802c66","x":632,"y":113,"wires":[["d7a9417.dd76dc"]]},{"id":"4719404d.ef282","type":"subflow:a52e9553.e94c48","z":"37ca70b3.1ccd","x":966,"y":283.00000858306885,"wires":[["a21b48b9.031fa8","6d5cfa3f.316034","bf1cf641.c5b6f8"]]},{"id":"9120aa45.8e39f8","type":"subflow:a52e9553.e94c48","z":"37ca70b3.1ccd","x":965,"y":473.00000858306885,"wires":[["a21b48b9.031fa8","6d5cfa3f.316034","bf1cf641.c5b6f8"]]},{"id":"260414bc.0d035c","type":"switch","z":"fa3dc47b.73ac68","name":"Dining Mode","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"motion","vt":"str"}],"checkall":"true","outputs":1,"x":340,"y":29,"wires":[[]]},{"id":"6af6dece.28d34","type":"switch","z":"24ed876f.5e68d8","name":"Living Mode","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"motion","vt":"str"}],"checkall":"true","outputs":1,"x":342,"y":20,"wires":[[]]},{"id":"daa78b25.204ac8","type":"subflow:fa3dc47b.73ac68","z":"37ca70b3.1ccd","x":1019,"y":135.24999237060547,"wires":[["c6e3cb0f.141728"]]},{"id":"c330083c.5dcd38","type":"subflow:24ed876f.5e68d8","z":"37ca70b3.1ccd","x":1071,"y":647.6667070388794,"wires":[["eeb6229e.01ccf"]]},{"id":"f3cd4ad0.4b9c68","type":"switch","z":"6e62bbb7.da2654","name":"Light < 20","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"20","vt":"num"},{"t":"eq","v":"undefined","vt":"str"}],"checkall":"true","outputs":2,"x":348.9166717529297,"y":59.749996185302734,"wires":[[],[]]},{"id":"f133b53d.2aee58","type":"throttle","z":"be6daaf.e87f058","name":"","throttleType":"time","timeLimit":"100","timeLimitType":"milliseconds","countLimit":0,"blockSize":0,"locked":false,"x":509.74999237060547,"y":144.4166555404663,"wires":[["e8ed0eb0.c85ea"]]},{"id":"e8ed0eb0.c85ea","type":"subflow:fa3dc47b.73ac68","z":"be6daaf.e87f058","x":677.3333129882812,"y":142.75,"wires":[[]]},{"id":"3dce11d3.475bfe","type":"subflow:be6daaf.e87f058","z":"37ca70b3.1ccd","name":"","x":356,"y":134,"wires":[["2576a529.1f8d0a","68d2c1c2.4ee62"]]},{"id":"bf77d069.da049","type":"subflow:6e62bbb7.da2654","z":"be6daaf.e87f058","x":272.4583282470703,"y":60.874996185302734,"wires":[["f133b53d.2aee58"]]},{"id":"a7cc0711.69d318","type":"subflow:6e62bbb7.da2654","z":"30de7929.802c66","x":221,"y":74,"wires":[["e56fc132.08256"]]},{"id":"c4109cf3.7558a","type":"subflow:24ed876f.5e68d8","z":"49f9131f.8ed8fc","x":568,"y":128,"wires":[[]]},{"id":"c837e56d.6edfd8","type":"throttle","z":"49f9131f.8ed8fc","name":"","throttleType":"time","timeLimit":"100","timeLimitType":"milliseconds","countLimit":0,"blockSize":0,"locked":false,"x":404.00000762939453,"y":132.41667079925537,"wires":[["c4109cf3.7558a"]]},{"id":"24b0c047.f9cb4","type":"switch","z":"49f9131f.8ed8fc","name":"Light < 500","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"500","vt":"num"},{"t":"eq","v":"undefined","vt":"str"}],"checkall":"true","outputs":2,"x":302.91668701171875,"y":85.75,"wires":[["c837e56d.6edfd8"],["c837e56d.6edfd8"]]},{"id":"2dac65cd.c0bf9a","type":"subflow:49f9131f.8ed8fc","z":"37ca70b3.1ccd","name":"","x":358,"y":640.6667070388794,"wires":[["25a568e.1250098","3b1a403c.d6b82"]]},{"id":"4b7cf0de.21ef3","type":"time-range-switch","z":"e3b9f6b1.a1d0c8","name":"Daytime For Motion","lat":"43.14029","lon":"-76.09538","startTime":"7:00","endTime":"21:00","startOffset":0,"endOffset":0,"x":181,"y":163,"wires":[["69b3b513.3d7cfc"],["f2483243.e4a82"]],"inputLabels":["Motion Activation"],"outputLabels":["Daytime","Nighttime"]},{"id":"69b3b513.3d7cfc","type":"stoptimer","z":"e3b9f6b1.a1d0c8","duration":"5","units":"Minute","payloadtype":"num","payloadval":"5","name":"","x":599.25,"y":107.25,"wires":[[],[]]},{"id":"2576a529.1f8d0a","type":"change","z":"37ca70b3.1ccd","name":"Set Template","rules":[{"t":"set","p":"template","pt":"msg","to":"{{(as_timestamp(now()) - as_timestamp(states.switch.dining_room.last_changed)) if states.switch.dining_room.state == 'on' else 0}}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":603,"y":135,"wires":[["a83126e6.84a798"]]},{"id":"46c8a65c.c626e8","type":"change","z":"37ca70b3.1ccd","name":"Set Template","rules":[{"t":"set","p":"template","pt":"msg","to":"{{(as_timestamp(now()) - as_timestamp(states.switch.kitchen.last_changed)) if states.switch.kitchen.state == 'on' else 0}}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":599,"y":284.00000858306885,"wires":[["50f1bd91.4a42f4"]]},{"id":"d5f0abdc.108c38","type":"change","z":"37ca70b3.1ccd","name":"Set Template","rules":[{"t":"set","p":"template","pt":"msg","to":"{{(as_timestamp(now()) - as_timestamp(states.switch.kitchen_table.last_changed)) if states.switch.kitchen_table.state == 'on' else 0}}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":595,"y":474.00000858306885,"wires":[["968b2e9e.b60e4"]]},{"id":"1af692e2.3434bd","type":"switch","z":"1ae55a97.d30a15","name":"switch","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"christmas","vt":"str"},{"t":"cont","v":"sump","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":214,"y":340,"wires":[[],["1114f5cc.cf8e2a"],["298e06fc.ee6bda"]]},{"id":"9cca897f.281048","type":"template","z":"1ae55a97.d30a15","name":"notify template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"data\": {\n    \"title\": \"{{data.new_state.attributes.friendly_name}} High [{{payload}}]\",\n    \"message\": \"Check Water Sensor\",\n    \"data\": {\n        \"tag\": \"{{data.new_state.attributes.friendly_name}}\"\n        }\n    }\n}","output":"json","x":806,"y":368,"wires":[[]]},{"id":"ef8f0323.9f368","type":"comment","z":"1ae55a97.d30a15","name":"If water level is over 10 for a sensor notify everyone","info":"","x":228,"y":300,"wires":[]},{"id":"f6a13638.c79488","type":"comment","z":"42bda437.8bf3ec","name":"open the shades at 8 and close at sunset","info":"","x":289,"y":20,"wires":[]},{"id":"7ab76a8e.79af94","type":"comment","z":"42bda437.8bf3ec","name":"open/close shades during daytime when ariving/leaving","info":"","x":205,"y":184,"wires":[]},{"id":"298e06fc.ee6bda","type":"switch","z":"1ae55a97.d30a15","name":"Non-trivial Water level","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"10","vt":"num"}],"checkall":"true","outputs":1,"x":512,"y":369,"wires":[["9cca897f.281048"]]},{"id":"c625e5a0.be82d8","type":"watch","z":"c7cc637f.2f28c","name":"Torrent Finished","files":"/share/media/torrents","recursive":true,"x":118,"y":116,"wires":[["c55225dd.c2bb38","6f033f2f.f4fec"]]},{"id":"c55225dd.c2bb38","type":"switch","z":"c7cc637f.2f28c","name":"","property":"type","propertyType":"msg","rules":[{"t":"eq","v":"none","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":308,"y":117,"wires":[[],["59122a09.bc0964","6f033f2f.f4fec"]]},{"id":"59122a09.bc0964","type":"template","z":"c7cc637f.2f28c","name":"notify template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"data\": {\n    \"title\": \"{{file}} finished downloading\",\n    \"message\": \"Download Finished\",\n    \"data\":{\n        \"tag\": \"{{file}}_tag\",\n        \"vibrate\": [500, 200, 500, 200, 500],\n        \"renotify\": true\n        }\n    }\n}","output":"json","x":461,"y":124,"wires":[["6f033f2f.f4fec","3d8abc2f.7479f4"]]},{"id":"6f033f2f.f4fec","type":"debug","z":"c7cc637f.2f28c","name":"","active":true,"tosidebar":true,"console":false,"complete":"true","x":599,"y":310,"wires":[]},{"id":"65f2204d.a42c8","type":"function","z":"3d9442da.6e01ee","name":"Format Notification","func":"var notification = {};\nvar turn_off_notification = null;\n\nvar traveler = \"Seth\";\nvar destination = \"Christy\";\nvar phone = \"christys_lg_g2\";\nvar message = \"\";\nvar title = \"\";\nvar renotify = false;\nif(msg.topic.endsWith(\"seth\"))\n{\n    phone = \"seths_one_plus_3t\";\n    traveler = \"Christy\";\n    destination = \"Seth\";\n}\nif(Number(msg.payload) < 3)\n{\n    title = traveler+\" is here.\";\n    message = \"Travel time is 2 minutes or less.\";\n    renotify = true;\n    var entity_id = \"input_boolean.notify_travel_time_\"+traveler.toLowerCase()+\"_to_\"+destination.toLowerCase();\n    turn_off_notification = {payload: {\"data\":{\"entity_id\": entity_id}}};\n}\nelse\n{\n    title = traveler+\" will be here in \"+msg.payload+\" minutes.\";\n    message = \"Estimated travel time.\";\n}\nvar tag = traveler+\"_to_\"+destination;\nnotification = {payload: {\"data\": {\"target\": phone, \"title\": title, \"message\": message, \"data\":{\"tag\":tag, \"renotify\":renotify}}}};\n\nreturn [notification, turn_off_notification];","outputs":"2","noerr":0,"x":750,"y":700,"wires":[["e0ce6620.a67b78"],[]]},{"id":"40f1e2cb.03fa8c","type":"delay","z":"3d9442da.6e01ee","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":413,"y":744,"wires":[[]]},{"id":"e0ce6620.a67b78","type":"debug","z":"3d9442da.6e01ee","name":"","active":false,"console":"false","complete":"true","x":918,"y":647,"wires":[]},{"id":"4eac2310.d65f6c","type":"delay","z":"3d9442da.6e01ee","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":426,"y":661,"wires":[[]]},{"id":"dd38b2fc.f614e","type":"switch","z":"1ae55a97.d30a15","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"motion","vt":"str"}],"checkall":"true","outputs":1,"x":183,"y":553,"wires":[["a4610aef.c99798","ff263327.01b43","1ceefd51.90d053"]]},{"id":"a4610aef.c99798","type":"debug","z":"1ae55a97.d30a15","name":"","active":false,"console":"false","complete":"true","x":375,"y":477,"wires":[]},{"id":"ff263327.01b43","type":"stoptimer","z":"1ae55a97.d30a15","duration":"5","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":335,"y":576,"wires":[["9de6a2eb.5ed35"],[]]},{"id":"789c067.67e4df8","type":"comment","z":"1ae55a97.d30a15","name":"motion boolean for baysien sensor","info":"","x":148,"y":481,"wires":[]},{"id":"f8de8c16.8b4c6","type":"inject","z":"ab7335c3.520b68","name":"","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"x":730,"y":800,"wires":[["ccae8202.213b7"]]},{"id":"2971cd9c.67efd2","type":"inject","z":"1ae55a97.d30a15","name":"Check Disk Usage","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"30 17 * * *","once":false,"x":128,"y":707,"wires":[["225d7e0e.444482","67dbac4c.95c574","671aa447.eef05c"]]},{"id":"92dfd19b.23a32","type":"switch","z":"1ae55a97.d30a15","name":"> 90","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"90","vt":"num"}],"checkall":"true","outputs":1,"x":686,"y":693,"wires":[["3e822922.736d46"]]},{"id":"3e822922.736d46","type":"template","z":"1ae55a97.d30a15","name":"notify template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"data\": {\n    \"title\": \"{{data.attributes.friendly_name}} is {{payload}}%\",\n    \"message\": \"Usage High\",\n    \"data\": {\n        \"tag\": \"{{topic}}\"\n        }\n    }\n}","output":"json","x":840,"y":693,"wires":[["746e84a0.b2fb2c","c8e3308f.57c1"]]},{"id":"746e84a0.b2fb2c","type":"change","z":"1ae55a97.d30a15","name":"pretty format","rules":[{"t":"change","p":"payload.data.title","pt":"msg","from":"&#x2F;","fromt":"str","to":"/","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1011,"y":693,"wires":[["c8e3308f.57c1","582a46e3.3ffe98"]]},{"id":"c8e3308f.57c1","type":"debug","z":"1ae55a97.d30a15","name":"","active":true,"console":"false","complete":"true","x":1157,"y":730,"wires":[]},{"id":"d693a69c.8d8928","type":"inject","z":"1ae55a97.d30a15","name":"12:30 AM","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"30 00 * * *","once":false,"onceDelay":"","x":90,"y":60,"wires":[["96d505f7.006528"]]},{"id":"360cb8c6.d7cce8","type":"comment","z":"1ae55a97.d30a15","name":"Reset the house at 12:30","info":"","x":132,"y":20,"wires":[]},{"id":"6c5cf4b8.b7964c","type":"switch","z":"3d9442da.6e01ee","name":"Christy Home?","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"input_select.christys_location","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":520,"y":520,"wires":[["c0de85c2.891c88","11a015a9.36acda"]]},{"id":"1f044ac9.9bd6a5","type":"time-range-switch","z":"3d9442da.6e01ee","name":"","lat":"43.14035","lon":"-76.09633","startTime":"16:00","endTime":"18:30","startOffset":0,"endOffset":0,"x":830,"y":360,"wires":[["69b583d9.fae9ac"],[]]},{"id":"61440062.f64f","type":"delay","z":"1ae55a97.d30a15","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":531,"y":723,"wires":[["92dfd19b.23a32"]]},{"id":"aeab69a4.453768","type":"comment","z":"1ae55a97.d30a15","name":"delay required or notify fails to notify if both are over 90","info":"","x":670,"y":654,"wires":[]},{"id":"35f37f30.eb1ab","type":"switch","z":"3d9442da.6e01ee","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"}],"checkall":"true","outputs":1,"x":1147,"y":619,"wires":[["6c822ca.64898d4"]]},{"id":"aa2dd421.c69468","type":"comment","z":"3d9442da.6e01ee","name":"Let Christy Know Seth Left Work","info":"","x":870,"y":320,"wires":[]},{"id":"356aeb2c.6fdb54","type":"switch","z":"1ae55a97.d30a15","name":"> 50","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"50","vt":"num"}],"checkall":"true","outputs":1,"x":534.5,"y":813.75,"wires":[["3e822922.736d46"]]},{"id":"1782141.c55f6ec","type":"throttle","z":"3d9442da.6e01ee","name":"","throttleType":"time","timeLimit":"100","timeLimitType":"milliseconds","countLimit":0,"blockSize":0,"locked":false,"x":361,"y":880,"wires":[["ef26bb9c.0f2b08","cb6c38a7.2f70e8"]]},{"id":"8e01f1e5.f8f76","type":"debug","z":"3d9442da.6e01ee","name":"","active":false,"console":"false","complete":"true","x":1033,"y":929.75,"wires":[]},{"id":"50346b91.f7b494","type":"inject","z":"3d9442da.6e01ee","name":"","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"onceDelay":"","x":238.5,"y":931.75,"wires":[["1782141.c55f6ec"]]},{"id":"bcb106d8.13d008","type":"join","z":"3d9442da.6e01ee","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","x":649.25,"y":880,"wires":[["7ec4516.f85f5b","8e01f1e5.f8f76"]]},{"id":"7ec4516.f85f5b","type":"function","z":"3d9442da.6e01ee","name":"Count Difference","func":"var list1 = msg.payload[0].split('\\n');\nvar count = list1.length;\nif(msg.payload.length > 1)\n{\n    list2 = msg.payload[1].split('\\n');\n    count = Math.abs(list1.length - list2.length);\n}\n\nvar result = {payload: {\n                \"state\":count ,\n                \"attributes\":{\"friendly_name\": \"Number of Guests\"}\n                },\n              topic: \"Number of Guests\"};\nreturn result;","outputs":1,"noerr":0,"x":807,"y":879,"wires":[["8e01f1e5.f8f76","d9e9c882.c3e9c8"]]},{"id":"eadf6028.607bb","type":"switch","z":"3d9442da.6e01ee","name":"","property":"data.old_state.state != payload","propertyType":"jsonata","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":233,"y":880.5,"wires":[["1782141.c55f6ec"]]},{"id":"d9e9c882.c3e9c8","type":"http request","z":"3d9442da.6e01ee","name":"HA REST Post","method":"POST","ret":"txt","url":"pc-server2:8123/api/states/sensor.guest_count","tls":"","x":999,"y":879.5,"wires":[["8e01f1e5.f8f76"]]},{"id":"bdf85915.217238","type":"comment","z":"3d9442da.6e01ee","name":"Count the number of tracked devices in the house and compare them to the known \"family member\" devices","info":"","x":402,"y":822.5,"wires":[]},{"id":"492c14a.ecf1fec","type":"comment","z":"3d9442da.6e01ee","name":"hass REST api is the only way to create and update a read only sensor","info":"","x":1055,"y":846.5,"wires":[]},{"id":"e7c57007.11aca","type":"comment","z":"3d9442da.6e01ee","name":"Travel Time update between seth and christy send html5 notification","info":"","x":546,"y":615.4999856948853,"wires":[]},{"id":"73e8f184.1362a","type":"switch","z":"1ae55a97.d30a15","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":60,"wires":[["16af2b39.7c0fb5"],["d3b82cf0.716fa"]]},{"id":"f12220f6.3e632","type":"link in","z":"1ae55a97.d30a15","name":"House Shutdown In","links":["25e58ce1.7e70b4"],"x":136,"y":98,"wires":[["96d505f7.006528"]]},{"id":"25e58ce1.7e70b4","type":"link out","z":"1ae55a97.d30a15","name":"House Shutdown Out","links":["f12220f6.3e632"],"x":815,"y":80,"wires":[]},{"id":"287b25cc.f15cfa","type":"link out","z":"ab7335c3.520b68","name":"Christmas Tree Flash Loop Out","links":["16272eb.afdc2d1"],"x":1075,"y":800,"wires":[]},{"id":"16272eb.afdc2d1","type":"link in","z":"ab7335c3.520b68","name":"Christmas Tree Flash Loop In","links":["287b25cc.f15cfa","4a9ec202.42748c"],"x":415.5,"y":713.75,"wires":[["c2677356.41dc9"]]},{"id":"4a9ec202.42748c","type":"link out","z":"ab7335c3.520b68","name":"Christmas Tree Flash Loop Out","links":["16272eb.afdc2d1"],"x":820.5,"y":697.75,"wires":[]},{"id":"cc63a4c4.fd77a8","type":"switch","z":"3d9442da.6e01ee","name":"Departed Where?","property":"data.old_state.state","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"},{"t":"eq","v":"just_left","vt":"str"},{"t":"eq","v":"just_arrived","vt":"str"},{"t":"eq","v":"work","vt":"str"},{"t":"eq","v":"church","vt":"str"},{"t":"eq","v":"parentsHouse","vt":"str"},{"t":"eq","v":"inLawsHouse","vt":"str"},{"t":"eq","v":"northwestYMCA","vt":"str"},{"t":"eq","v":"wegmans","vt":"str"}],"checkall":"false","outputs":10,"x":530,"y":380,"wires":[[],[],[],[],["1f044ac9.9bd6a5","d516d4ae.4ae468"],["d516d4ae.4ae468"],["d516d4ae.4ae468"],["d516d4ae.4ae468"],["d516d4ae.4ae468"],[]]},{"id":"6b9ac9da.c32d58","type":"switch","z":"3d9442da.6e01ee","name":"> 30min","property":"dT","propertyType":"msg","rules":[{"t":"gt","v":"30","vt":"num"}],"checkall":"true","outputs":1,"x":980,"y":400,"wires":[["6b559d43.a5caa4"]]},{"id":"d516d4ae.4ae468","type":"function","z":"3d9442da.6e01ee","name":"dT minutes","func":"var t1 = Date.parse(msg.data.old_state.last_changed);\nvar t2 = Date.parse(msg.data.new_state.last_changed);\n\n//time delta in minutes\nvar delta = ((t2-t1)/1000.0)/60.0;\nmsg.dT = delta;\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":400,"wires":[["6b9ac9da.c32d58"]]},{"id":"a21b48b9.031fa8","type":"time-range-switch","z":"37ca70b3.1ccd","name":"","lat":"43.18568","lon":"-76.17175","startTime":"00:30","endTime":"06:00","startOffset":0,"endOffset":0,"x":1152,"y":344.00000858306885,"wires":[[],[]]},{"id":"d7a9417.dd76dc","type":"time-range-switch","z":"30de7929.802c66","name":"","lat":"43.18568","lon":"-76.17175","startTime":"00:30","endTime":"05:30","startOffset":0,"endOffset":0,"x":804,"y":114,"wires":[[],[]]},{"id":"6aac6a98.2b2934","type":"switch","z":"1ae55a97.d30a15","name":"Non-trivial Water level","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"10","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":330,"wires":[["9cca897f.281048"]]},{"id":"1114f5cc.cf8e2a","type":"rbe","z":"1ae55a97.d30a15","name":"","func":"narrowband","gap":"20","start":"","inout":"in","x":401,"y":329,"wires":[["6aac6a98.2b2934"]]},{"id":"1a374238.d270ee","type":"fs-file-lister","z":"f90ad8d5.5a1c18","name":".node-red","start":"/data","pattern":"*","path":true,"single":true,"depth":"0","stat":false,"x":292,"y":61,"wires":[["110b1547.683d1b"]]},{"id":"798015da.a8cfac","type":"fs-file-lister","z":"f90ad8d5.5a1c18","name":".node-red/lib","start":"/data/lib","pattern":"*","path":true,"single":true,"depth":"10","stat":false,"x":302,"y":117,"wires":[["110b1547.683d1b"]]},{"id":"2b3802e.9c8bbfe","type":"file in","z":"f90ad8d5.5a1c18","name":"Get File","filename":"","format":"utf8","chunk":false,"sendError":false,"x":700,"y":100,"wires":[["73001a0.233afe8","5d83edb6.7af7e4"]]},{"id":"110b1547.683d1b","type":"function","z":"f90ad8d5.5a1c18","name":"extract files and set filename parameter","func":"var returnMsgs = [];\nfor(i = 0; i < msg.payload.length; i++)\n{\n    var newMsg = {filename: msg.payload[i],\n                  gitPath: msg.payload[i].replace(\"/data/\", \"\")};\n    returnMsgs.push(newMsg);\n}\nreturn [returnMsgs];","outputs":1,"noerr":0,"x":720,"y":40,"wires":[["cdb7601f.4c586","663c596e.1f3b68"]]},{"id":"2719c027.fa87e","type":"github-repo","z":"f90ad8d5.5a1c18","github":"18823656.f5797a","name":"","username":"nordlead2005","usernameType":"str","repository":"node-red-config","repositoryType":"str","action":"write","branch":"master","branchType":"str","path":"gitPath","pathType":"msg","pathto":"","pathtoType":"str","contents":"payload","contentsType":"msg","outputs":"0","x":770,"y":260,"wires":[]},{"id":"8f5b1c08.21433","type":"inject","z":"f90ad8d5.5a1c18","name":"Nightly Backup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 01 * * *","once":false,"x":121,"y":61,"wires":[["1a374238.d270ee","798015da.a8cfac","5ca6d79f.bcb9d8"]]},{"id":"73001a0.233afe8","type":"delay","z":"f90ad8d5.5a1c18","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":880,"y":100,"wires":[["2719c027.fa87e"]]},{"id":"5ca6d79f.bcb9d8","type":"fs-file-lister","z":"f90ad8d5.5a1c18","name":".node-red/nodes","start":"/data/nodes","pattern":"*","path":true,"single":true,"depth":"10","stat":false,"x":309,"y":171,"wires":[["110b1547.683d1b"]]},{"id":"1ceefd51.90d053","type":"throttle","z":"1ae55a97.d30a15","name":"","throttleType":"reset","timeLimit":0,"timeLimitType":"seconds","countLimit":0,"blockSize":0,"locked":false,"x":487,"y":513,"wires":[[]]},{"id":"9de6a2eb.5ed35","type":"change","z":"1ae55a97.d30a15","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":516,"y":569,"wires":[["1ceefd51.90d053"]]},{"id":"5eaa7f3f.bafbd","type":"debug","z":"37ca70b3.1ccd","name":"","active":false,"console":"false","complete":"true","x":294,"y":83,"wires":[]},{"id":"5d83edb6.7af7e4","type":"debug","z":"f90ad8d5.5a1c18","name":"","active":false,"console":"false","complete":"true","x":590,"y":180,"wires":[]},{"id":"d55d622f.8e83","type":"inject","z":"f096674e.b4e168","name":"Night Check","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 20 * * *","once":false,"x":138,"y":373,"wires":[["324c016e.525ece","311b90d3.e2931","55ad834c.85c2ac"]]},{"id":"83ed6a6e.1b4788","type":"switch","z":"f096674e.b4e168","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"auto","vt":"str"},{"t":"eq","v":"cool","vt":"str"},{"t":"eq","v":"heat","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":454,"y":351,"wires":[["41c7a69c.496a08","e033b906.3e6318","394b05e4.d2802a","b256cabc.604378"],["394b05e4.d2802a","b256cabc.604378"],["41c7a69c.496a08","e033b906.3e6318"],["e033b906.3e6318","b256cabc.604378"]]},{"id":"41c7a69c.496a08","type":"time-range-switch","z":"f096674e.b4e168","name":"Night","lat":"43.12228","lon":"-76.10097","startTime":"19:30","endTime":"23:59","startOffset":0,"endOffset":0,"x":617,"y":229,"wires":[["6aab02a9.386d9c"],["3f23387b.91f5f8"]]},{"id":"ede35d45.ff69b","type":"change","z":"f096674e.b4e168","name":"Set as Today","rules":[{"t":"set","p":"day","pt":"msg","to":"Today","tot":"str"},{"t":"set","p":"operation","pt":"msg","to":"heat","tot":"str"},{"t":"set","p":"title","pt":"msg","to":"Off Heat","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":915,"y":252,"wires":[["b695a44d.070378"]]},{"id":"b695a44d.070378","type":"switch","z":"f096674e.b4e168","name":">=65F","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"65","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":1053,"y":252,"wires":[["f9d42f06.8da15","c42ea1ab.a7cac"]]},{"id":"b8475374.7db35","type":"switch","z":"f096674e.b4e168","name":">=85F","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"85","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":1136,"y":55,"wires":[["c7b553a9.a8f7d"]]},{"id":"e033b906.3e6318","type":"time-range-switch","z":"f096674e.b4e168","name":"Night","lat":"43.12228","lon":"-76.10097","startTime":"19:30","endTime":"23:59","startOffset":0,"endOffset":0,"x":619,"y":76,"wires":[["2b74fd23.8d3092"],["5f068fd4.48a0b"]]},{"id":"22950c37.da5094","type":"change","z":"f096674e.b4e168","name":"Set as Tomorrow","rules":[{"t":"set","p":"day","pt":"msg","to":"Tomorrow","tot":"str"},{"t":"set","p":"operation","pt":"msg","to":"cool","tot":"str"},{"t":"set","p":"title","pt":"msg","to":"On A/C","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":979,"y":55,"wires":[["b8475374.7db35"]]},{"id":"1239b4b1.7bf82b","type":"change","z":"f096674e.b4e168","name":"Set as Today","rules":[{"t":"set","p":"day","pt":"msg","to":"Today","tot":"str"},{"t":"set","p":"operation","pt":"msg","to":"off","tot":"str"},{"t":"set","p":"title","pt":"msg","to":"On A/C","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1117,"y":100,"wires":[["b22c8fcc.0f34a"]]},{"id":"b22c8fcc.0f34a","type":"switch","z":"f096674e.b4e168","name":">=85F","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"85.0","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":1255,"y":100,"wires":[["c7b553a9.a8f7d","4a636972.321398"]]},{"id":"bd09cf78.b6764","type":"switch","z":"f096674e.b4e168","name":">=65F","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"65","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":1134,"y":208,"wires":[["f9d42f06.8da15"]]},{"id":"324cff85.5557a","type":"change","z":"f096674e.b4e168","name":"Set as Tomorrow","rules":[{"t":"set","p":"day","pt":"msg","to":"Tomorrow","tot":"str"},{"t":"set","p":"operation","pt":"msg","to":"off","tot":"str"},{"t":"set","p":"title","pt":"msg","to":"Off Heat","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":977,"y":208,"wires":[["bd09cf78.b6764"]]},{"id":"e3f79293.7029e","type":"comment","z":"f096674e.b4e168","name":"Warmer Tomorrow","info":"","x":785,"y":173,"wires":[]},{"id":"12cd3d7a.08ada3","type":"comment","z":"f096674e.b4e168","name":"Hotter Tomorrow","info":"","x":775,"y":20,"wires":[]},{"id":"c7b553a9.a8f7d","type":"link out","z":"f096674e.b4e168","name":"Hotter Tomorrow","links":["51601549.378d1c"],"x":1343,"y":58,"wires":[]},{"id":"63d9fcec.be59d4","type":"debug","z":"f096674e.b4e168","name":"","active":false,"console":"false","complete":"true","x":370,"y":80,"wires":[]},{"id":"3007add0.08c8e2","type":"template","z":"f096674e.b4e168","name":"notify template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"data\": {\n    \"title\": \"Turning {{title}}\",\n    \"message\": \"{{day}}'s High is {{payload}}{{data.attributes.unit_of_measurement}}\",\n    \"data\":{\n        \"tag\": \"ecobee_automate\",\n        \"vibrate\": [500, 200, 500, 200, 500],\n        \"renotify\": true,\n        \"mode\": \"{{operation}}\",\n        \"actions\": [\n            {\n                \"action\": \"change_ecobee_operation_mode\",\n                \"title\": \"Set Ecobee to {{operation}}\"\n            }\n            ]\n        }\n    }\n}","output":"json","x":200,"y":120,"wires":[["63d9fcec.be59d4","a69dee4a.29185"]]},{"id":"51601549.378d1c","type":"link in","z":"f096674e.b4e168","name":"Ecobee Format And Notify","links":["c7b553a9.a8f7d","f9d42f06.8da15","c9b91219.b586f","8d51285a.7fb068"],"x":75,"y":120,"wires":[["3007add0.08c8e2"]]},{"id":"f9d42f06.8da15","type":"link out","z":"f096674e.b4e168","name":"Warmer Tomorrow","links":["51601549.378d1c"],"x":1299,"y":219,"wires":[]},{"id":"394b05e4.d2802a","type":"time-range-switch","z":"f096674e.b4e168","name":"Night","lat":"43.12228","lon":"-76.10097","startTime":"19:30","endTime":"23:59","startOffset":0,"endOffset":0,"x":616,"y":385,"wires":[["93eee247.5748e"],["ae273165.3562"]]},{"id":"863e35f5.085ae8","type":"change","z":"f096674e.b4e168","name":"Set as Today","rules":[{"t":"set","p":"day","pt":"msg","to":"Today","tot":"str"},{"t":"set","p":"operation","pt":"msg","to":"cool","tot":"str"},{"t":"set","p":"title","pt":"msg","to":"Off A/C","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":914,"y":408,"wires":[["b757dbfa.35aad8"]]},{"id":"b757dbfa.35aad8","type":"switch","z":"f096674e.b4e168","name":"<=80F","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"80","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":1052,"y":408,"wires":[["c9b91219.b586f","3d09c6c0.1fd97a"]]},{"id":"655a5ed0.47638","type":"switch","z":"f096674e.b4e168","name":"<=80F","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"80","vt":"num"}],"checkall":"false","outputs":1,"x":1133,"y":364,"wires":[["c9b91219.b586f"]]},{"id":"1249e7ad.9221b8","type":"change","z":"f096674e.b4e168","name":"Set as Tomorrow","rules":[{"t":"set","p":"day","pt":"msg","to":"Tomorrow","tot":"str"},{"t":"set","p":"operation","pt":"msg","to":"off","tot":"str"},{"t":"set","p":"title","pt":"msg","to":"Off A/C","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":976,"y":364,"wires":[["655a5ed0.47638"]]},{"id":"e326806a.41edb","type":"comment","z":"f096674e.b4e168","name":"Cooler Tomorrow","info":"","x":774,"y":329,"wires":[]},{"id":"c9b91219.b586f","type":"link out","z":"f096674e.b4e168","name":"Warmer Tomorrow","links":["51601549.378d1c"],"x":1298,"y":375,"wires":[]},{"id":"1f550968.c27777","type":"switch","z":"f096674e.b4e168","name":"<=63F","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"63","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":1135,"y":521,"wires":[["8d51285a.7fb068"]]},{"id":"b256cabc.604378","type":"time-range-switch","z":"f096674e.b4e168","name":"Night","lat":"43.12228","lon":"-76.10097","startTime":"19:30","endTime":"23:59","startOffset":0,"endOffset":0,"x":618,"y":542,"wires":[["ab5ea796.eff3a8"],["26b59e88.975332"]]},{"id":"212ce4f3.1057bc","type":"change","z":"f096674e.b4e168","name":"Set as Tomorrow","rules":[{"t":"set","p":"day","pt":"msg","to":"Tomorrow","tot":"str"},{"t":"set","p":"operation","pt":"msg","to":"heat","tot":"str"},{"t":"set","p":"title","pt":"msg","to":"On Heat","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":978,"y":521,"wires":[["1f550968.c27777"]]},{"id":"eba43172.12aa7","type":"change","z":"f096674e.b4e168","name":"Set as Today","rules":[{"t":"set","p":"day","pt":"msg","to":"Today","tot":"str"},{"t":"set","p":"operation","pt":"msg","to":"off","tot":"str"},{"t":"set","p":"title","pt":"msg","to":"On Heat","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":916,"y":565,"wires":[["82ced88f.27cdd8"]]},{"id":"82ced88f.27cdd8","type":"switch","z":"f096674e.b4e168","name":"<=63F","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"63","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":1054,"y":565,"wires":[["8d51285a.7fb068","8a075a40.74cd68"]]},{"id":"10f5dc8b.3995d3","type":"comment","z":"f096674e.b4e168","name":"Colder Tomorrow","info":"","x":774,"y":486,"wires":[]},{"id":"8d51285a.7fb068","type":"link out","z":"f096674e.b4e168","name":"Hotter Tomorrow","links":["51601549.378d1c"],"x":1296,"y":534,"wires":[]},{"id":"c843937e.511","type":"inject","z":"f096674e.b4e168","name":"Morning Check","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 08 * * *","once":false,"onceDelay":"","x":138,"y":333,"wires":[["324c016e.525ece"]]},{"id":"16d91eda.619a41","type":"switch","z":"f096674e.b4e168","name":">=2.5\"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"2.5","vt":"num"}],"checkall":"false","outputs":1,"x":297,"y":490,"wires":[["3426cb75.ba1824"]]},{"id":"88b7072e.0f6bb8","type":"debug","z":"f096674e.b4e168","name":"","active":false,"console":"false","complete":"true","x":460,"y":544,"wires":[]},{"id":"3426cb75.ba1824","type":"template","z":"f096674e.b4e168","name":"notify template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"data\": {\n    \"title\": \"Snow Tomorrow\",\n    \"message\": \"{{payload}}\\\" of snow expected\",\n    \"data\":{\n        \"tag\": \"tomorrow_snow\",\n        \"renotify\": true\n        }\n    }\n}","output":"json","x":299,"y":542,"wires":[["88b7072e.0f6bb8"]]},{"id":"d589fb74.764a18","type":"switch","z":"f096674e.b4e168","name":">=15mph","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"15","vt":"num"}],"checkall":"false","outputs":1,"x":308,"y":587,"wires":[["9a936d7.5bed49"]]},{"id":"9a936d7.5bed49","type":"template","z":"f096674e.b4e168","name":"notify template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"data\": {\n    \"title\": \"Windy Tomorrow\",\n    \"message\": \"{{payload}} MPH expected\",\n    \"data\":{\n        \"tag\": \"tomorrow_wind\",\n        \"renotify\": true\n        }\n    }\n}","output":"json","x":300,"y":639,"wires":[["88b7072e.0f6bb8"]]},{"id":"6596ada.51c6754","type":"switch","z":"42bda437.8bf3ec","name":"","property":"data.old_state.state != payload","propertyType":"jsonata","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":238,"y":221,"wires":[["7d078c95.bb9424"]]},{"id":"1b2f4885.3bd3b7","type":"comment","z":"42bda437.8bf3ec","name":"Bias Light","info":"","x":65,"y":313,"wires":[]},{"id":"b032389c.57f5e8","type":"delay","z":"1ae55a97.d30a15","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":533,"y":770,"wires":[["92dfd19b.23a32"]]},{"id":"3a3557d1.b8e288","type":"watch","z":"1ae55a97.d30a15","name":"rsync log","files":"/home/sdpinter/rsync_remote.log","recursive":false,"x":89,"y":925,"wires":[["d053b325.effa5","4ea28a8.2bd9f74"]]},{"id":"d053b325.effa5","type":"switch","z":"1ae55a97.d30a15","name":"","property":"type","propertyType":"msg","rules":[{"t":"eq","v":"none","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":232,"y":945,"wires":[[],["d3363327.1d9fa"]]},{"id":"4ea28a8.2bd9f74","type":"debug","z":"1ae55a97.d30a15","name":"","active":false,"tosidebar":true,"console":false,"complete":"true","x":226,"y":879,"wires":[]},{"id":"d3363327.1d9fa","type":"stoptimer","z":"1ae55a97.d30a15","duration":"10","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":382,"y":953,"wires":[["79e7fed1.b0659"],[]]},{"id":"3164f8d5.59e168","type":"debug","z":"1ae55a97.d30a15","name":"","active":false,"tosidebar":true,"console":false,"complete":"true","x":663,"y":965,"wires":[]},{"id":"2eda3d36.a1baf2","type":"function","z":"1ae55a97.d30a15","name":"Extract Errors","func":"var errorMsg = null\nif(msg.payload.includes(\"rsync error\"))\n{\n  errorMsg = msg.payload.match(/rsync.*\\n/)\n  for(i = 0; i < errorMsg.length; i++)\n  {\n    result = errorMsg[i].slice(7)\n    errorMsg[i] = result\n    node.error(errorMsg[i])\n  }\n}\nvar returnMsg = {payload: errorMsg}\nreturn returnMsg;","outputs":1,"noerr":0,"x":386,"y":1010,"wires":[["cec37a9.daa1488"]]},{"id":"79e7fed1.b0659","type":"file in","z":"1ae55a97.d30a15","name":"Get File","filename":"/home/sdpinter/rsync_remote.log","format":"utf8","chunk":false,"sendError":false,"x":225,"y":1011,"wires":[["2eda3d36.a1baf2"]]},{"id":"cec37a9.daa1488","type":"function","z":"1ae55a97.d30a15","name":"format","func":"// outputs: 1\nvar returnMsgs = [];\nvar phone = \"seths_one_plus_3t\"\nvar title = \"Rsync Error\"\nfor(i = 0; i < msg.payload.length; i++)\n{\n    var message = msg.payload[i];\n    var newMsg = notification = {payload: {\"data\": {\"target\": phone, \"title\": title, \"message\": message, \"data\":{ \"vibrate\":[0]}}}};\n    returnMsgs.push(newMsg);\n}\nreturn [returnMsgs];","outputs":1,"noerr":0,"x":539,"y":1009,"wires":[["3164f8d5.59e168","e24951fc.75b15"]]},{"id":"372d430a.5dde9c","type":"snmp walker","z":"67b76939.9a9c98","host":"192.168.125.1","community":"public","version":"1","oids":"1.3.6.1.2.1.1.1.0","timeout":"20","name":"dd-wrt","x":230,"y":201,"wires":[["b900e212.2ad25"]]},{"id":"b900e212.2ad25","type":"debug","z":"67b76939.9a9c98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":384,"y":202,"wires":[]},{"id":"a65c4138.04cb","type":"inject","z":"67b76939.9a9c98","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":84,"y":283,"wires":[["c389cdd4.8e59f"]]},{"id":"c389cdd4.8e59f","type":"snmp","z":"67b76939.9a9c98","host":"192.168.125.1","community":"public","version":"2c","oids":"1.3.6.1.2.1.2.2.1.2.1,1.3.6.1.2.1.2.2.1.2.2,1.3.6.1.2.1.2.2.1.2.3,1.3.6.1.2.1.2.2.1.2.4,1.3.6.1.2.1.2.2.1.2.5,1.3.6.1.2.1.2.2.1.2.6,1.3.6.1.2.1.2.2.1.2.7","timeout":5,"name":"Interface Retriever","x":277,"y":283,"wires":[["b900e212.2ad25"]]},{"id":"38ef83a3.d46f0c","type":"inject","z":"67b76939.9a9c98","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":86,"y":198,"wires":[["372d430a.5dde9c"]]},{"id":"b5c0ff85.4cd99","type":"snmp","z":"67b76939.9a9c98","host":"192.168.125.3","community":"public","version":"1","oids":"1.3.6.1.4.1.2021.255.3.54.1.3.32.1.4.1","timeout":5,"name":"","x":289,"y":324,"wires":[["b900e212.2ad25"]]},{"id":"f4204d3b.65034","type":"inject","z":"67b76939.9a9c98","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":88,"y":327,"wires":[["b5c0ff85.4cd99"]]},{"id":"f2c46fc2.50408","type":"inject","z":"67b76939.9a9c98","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":97,"y":72,"wires":[["d90d2fb1.7c431","9c5aa539.4b4048","da97a9d5.155008"]]},{"id":"d90d2fb1.7c431","type":"snmp","z":"67b76939.9a9c98","host":"192.168.125.1","community":"public","version":"2c","oids":"1.3.6.1.2.1.2.2.1.10.7,1.3.6.1.2.1.2.2.1.16.7","timeout":5,"name":"1 WAN In/Out","x":267,"y":29,"wires":[["a3688874.d1c928"]]},{"id":"a0312472.b48b48","type":"function","z":"67b76939.9a9c98","name":"Kbps Calculator","func":"//get previous values and store the current values\nvar ifInPrev = context.get('ifInPrev'+msg.router_interface)||null\nvar ifOutPrev = context.get('ifOutPrev'+msg.router_interface)||null\ncontext.set('ifInPrev'+msg.router_interface, msg.payload[0].value)\ncontext.set('ifOutPrev'+msg.router_interface, msg.payload[1].value)\n\nif(ifInPrev === null || ifOutPrev === null)\n  return null;\nelse\n{\n  var msgInRate = null\n  var msgOutRate = null\n  var unitOfMeasure = \"Kbps\"\n  var baseURL = \"pc-server2:8123/api/states/sensor.router_\"\n  var ifInRate = Math.round((msg.payload[0].value - ifInPrev) / 128 / 10)\n  var ifOutRate = Math.round((msg.payload[1].value - ifOutPrev) / 128 / 10)\n  var msgDebug = {payload: [ifInRate, ifOutRate]}\n  \n  if(ifInRate >= 0)\n  {\n    msgInRate = {\n      payload: {\n        state:ifInRate,\n          attributes: {\n            unit_of_measurement:unitOfMeasure,\n            icon:msg.icon,\n            friendly_name:msg.friendly_name+\" In\"\n          }\n      },\n      url: baseURL+msg.router_interface+\"_in\"\n    }\n  }\n  if(ifOutRate >= 0)\n  {\n    var msgOutRate = {\n      payload: {\n        state:ifOutRate,\n          attributes: {\n            unit_of_measurement:unitOfMeasure,\n            icon:msg.icon,\n            friendly_name:msg.friendly_name+\" Out\"\n        }\n      },\n      url: baseURL+msg.router_interface+\"_out\"\n    }\n  }\n  \n  return [msgInRate, msgOutRate, msgDebug];\n}","outputs":3,"noerr":0,"x":594,"y":66,"wires":[["b5503cdf.4ff5a"],["6e5eb2e4.b58b6c"],["e5c69d01.3ffbb"]],"outputLabels":["In Kbps","Out Kbps","Debug"]},{"id":"e5c69d01.3ffbb","type":"debug","z":"67b76939.9a9c98","name":"","active":false,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","x":770,"y":111,"wires":[]},{"id":"9c5aa539.4b4048","type":"snmp","z":"67b76939.9a9c98","host":"192.168.125.1","community":"public","version":"2c","oids":"1.3.6.1.2.1.2.2.1.10.3,1.3.6.1.2.1.2.2.1.16.3","timeout":5,"name":"1 LAN In/Out","x":257,"y":73,"wires":[["733c9fc4.65f6a"]]},{"id":"b5503cdf.4ff5a","type":"http request","z":"67b76939.9a9c98","name":"HA REST Post","method":"POST","ret":"txt","url":"","tls":"","x":777,"y":20,"wires":[[]]},{"id":"6e5eb2e4.b58b6c","type":"http request","z":"67b76939.9a9c98","name":"HA REST Post","method":"POST","ret":"txt","url":"","tls":"","x":778,"y":66,"wires":[[]]},{"id":"a3688874.d1c928","type":"change","z":"67b76939.9a9c98","name":"1_wan","rules":[{"t":"set","p":"router_interface","pt":"msg","to":"1_wan","tot":"str"},{"t":"set","p":"icon","pt":"msg","to":"mdi:wan","tot":"str"},{"t":"set","p":"friendly_name","pt":"msg","to":"WAN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":429,"y":29,"wires":[["a0312472.b48b48"]]},{"id":"733c9fc4.65f6a","type":"change","z":"67b76939.9a9c98","name":"1_lan","rules":[{"t":"set","p":"router_interface","pt":"msg","to":"1_lan","tot":"str"},{"t":"set","p":"icon","pt":"msg","to":"mdi:lan","tot":"str"},{"t":"set","p":"friendly_name","pt":"msg","to":"Router 1 LAN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":429,"y":73,"wires":[["a0312472.b48b48"]]},{"id":"da97a9d5.155008","type":"snmp","z":"67b76939.9a9c98","host":"192.168.125.3","community":"public","version":"2c","oids":"1.3.6.1.2.1.2.2.1.10.5,1.3.6.1.2.1.2.2.1.16.5","timeout":5,"name":"2 LAN In/Out","x":258,"y":114,"wires":[["31956441.2b1b9c"]]},{"id":"31956441.2b1b9c","type":"change","z":"67b76939.9a9c98","name":"2_lan","rules":[{"t":"set","p":"router_interface","pt":"msg","to":"2_lan","tot":"str"},{"t":"set","p":"icon","pt":"msg","to":"mdi:lan","tot":"str"},{"t":"set","p":"friendly_name","pt":"msg","to":"Router 2 LAN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":428,"y":114,"wires":[["a0312472.b48b48"]]},{"id":"a204bfb8.6e151","type":"snmp table","z":"67b76939.9a9c98","host":"192.168.125.1","community":"public","version":"1","oids":"1.3.6.1.4.1.2021.255.3.54.1.3.32.1.1.1","timeout":5,"name":"","x":292,"y":372,"wires":[["b900e212.2ad25"]]},{"id":"5da3f86d.de28c8","type":"inject","z":"67b76939.9a9c98","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":91,"y":373,"wires":[["a204bfb8.6e151"]]},{"id":"d9ee8945.e6b7b8","type":"snmp","z":"67b76939.9a9c98","host":"192.168.125.3","community":"public","version":"1","oids":"1.3.6.1.4.1.2021.255.3.54.1.3.32.1.13.1,1.3.6.1.4.1.2021.255.3.54.1.3.32.1.26.1,1.3.6.1.4.1.2021.255.3.54.1.3.32.1.27.1,1.3.6.1.4.1.2021.255.3.54.1.3.32.1.4.15,1.3.6.1.4.1.2021.255.3.54.1.3.32.1.26.15,1.3.6.1.4.1.2021.255.3.54.1.3.32.1.27.15","timeout":5,"name":"SNR Retriever ","x":275,"y":431,"wires":[["b900e212.2ad25"]]},{"id":"eee47723.25b1f8","type":"inject","z":"67b76939.9a9c98","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":92,"y":431,"wires":[["d9ee8945.e6b7b8"]]},{"id":"2b66e8f1.2ca378","type":"websocket in","z":"2878bef7.9eec62","name":"","server":"112b57e5.982ba8","client":"","x":85,"y":64,"wires":[["5b83cea4.7c22f"]]},{"id":"48dbb019.e7abf","type":"debug","z":"2878bef7.9eec62","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":756,"y":65,"wires":[]},{"id":"2f882d31.599292","type":"sqlite","z":"2878bef7.9eec62","mydb":"541582c5.74415c","name":"chores.db","x":250,"y":104,"wires":[["2aca3b8d.a11574"]]},{"id":"bdb58895.a532e8","type":"template","z":"2878bef7.9eec62","name":"Query","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT * FROM chores where chore_id={{event.id}}","output":"str","x":546,"y":62,"wires":[["2f882d31.599292"]]},{"id":"2aca3b8d.a11574","type":"function","z":"2878bef7.9eec62","name":"Format Message","func":"msg.message = msg.event.person+ \" has completed \"+msg.payload[0].chore_name+\".\";\nmsg.id = msg.event.person+\"_\"+msg.event.id;\nreturn msg;","outputs":1,"noerr":0,"x":417,"y":104,"wires":[["a302f322.ec12a"]]},{"id":"a8de7815.0fd508","type":"inject","z":"2878bef7.9eec62","name":"","topic":"","payload":"{\"person\":\"Leif\",\"id\":79}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":116,"y":26,"wires":[["c36a336c.f8417"]]},{"id":"29955349.528c1c","type":"inject","z":"2878bef7.9eec62","name":"Weekly Payout","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"30 23 * * 6","once":false,"onceDelay":0.1,"x":111,"y":333,"wires":[[]]},{"id":"c679d552.fd7e48","type":"sqlite","z":"2878bef7.9eec62","mydb":"541582c5.74415c","name":"chores.db","x":518,"y":332,"wires":[["6bbcb459.fc1a2c"]]},{"id":"feae83d3.51cf6","type":"template","z":"2878bef7.9eec62","name":"Query","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT sum(value) FROM (SELECT sum(value) as 'value' FROM chores where completed_by=\"{{person}}\" AND STATUS=\"approved\" UNION SELECT balance as 'value' FROM bank WHERE person = \"{{person}}\")","output":"str","x":391,"y":332,"wires":[["c679d552.fd7e48"]]},{"id":"5b83cea4.7c22f","type":"json","z":"2878bef7.9eec62","name":"","property":"payload","action":"","pretty":false,"x":231,"y":64,"wires":[["c36a336c.f8417"]]},{"id":"bab97217.8865f","type":"change","z":"2878bef7.9eec62","name":"Leif","rules":[{"t":"set","p":"person","pt":"msg","to":"Leif","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":265,"y":332,"wires":[["feae83d3.51cf6"]]},{"id":"aadc6d79.48f46","type":"change","z":"2878bef7.9eec62","name":"Liam","rules":[{"t":"set","p":"person","pt":"msg","to":"Liam","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":264,"y":367,"wires":[["feae83d3.51cf6"]]},{"id":"ed6503b5.dbb4a","type":"change","z":"2878bef7.9eec62","name":"Avery","rules":[{"t":"set","p":"person","pt":"msg","to":"Avery","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":263,"y":400,"wires":[["feae83d3.51cf6"]]},{"id":"6bbcb459.fc1a2c","type":"change","z":"2878bef7.9eec62","name":"Extract Total","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].sum(value)","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":333,"wires":[["3bc4cc8d.6199d4"]]},{"id":"3bc4cc8d.6199d4","type":"template","z":"2878bef7.9eec62","name":"Query","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE bank SET balance={{payload}} WHERE person=\"{{person}}\"","output":"str","x":811,"y":332,"wires":[[]]},{"id":"23b9614b.e7504e","type":"throttle","z":"2878bef7.9eec62","name":"","throttleType":"time","timeLimit":"5","timeLimitType":"seconds","countLimit":0,"blockSize":0,"locked":false,"x":530,"y":400,"wires":[["36bccf9c.dd621"]]},{"id":"36bccf9c.dd621","type":"change","z":"2878bef7.9eec62","name":"Clear Payouts","rules":[{"t":"set","p":"topic","pt":"msg","to":"UPDATE chores SET status=\"incomplete\",completed_by=\"\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":400,"wires":[["948e9144.8d32b"]]},{"id":"948e9144.8d32b","type":"sqlite","z":"2878bef7.9eec62","mydb":"541582c5.74415c","name":"chores.db","x":840,"y":400,"wires":[[]]},{"id":"a302f322.ec12a","type":"template","z":"2878bef7.9eec62","name":"notify template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"data\": {\n    \"title\": \"Chore Finished\",\n    \"message\": \"{{message}}\",\n    \"data\":{\n      \"tag\": \"{{id}}\",\n      \"requireInteraction\": true,\n      \"icon\":\"https://hass.pinternet.us/local/inspect.png\",\n      \"actions\": [\n        {\n          \"action\": \"approved\",\n          \"title\": \"Approve\"\n        },\n        {\n          \"action\": \"incomplete\",\n          \"title\": \"Incomplete\"\n        }\n      ]\n    }\n  }\n}","output":"json","x":603,"y":104,"wires":[["48dbb019.e7abf","576fa4b3.4e14fc"]]},{"id":"c36a336c.f8417","type":"change","z":"2878bef7.9eec62","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"event","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":389,"y":63,"wires":[["bdb58895.a532e8"]]},{"id":"75c59dd5.ddd1e4","type":"function","z":"2878bef7.9eec62","name":"Query","func":"id = msg.payload.event.tag.split('_')[1];\nstatus = msg.payload.event.action;\n\nif(status === null || status === \"\"){ msg = null; }\nelse {\n  msg.topic = 'UPDATE chores SET status=\"'+status+'\"WHERE chore_id='+id;\n}\nreturn msg;","outputs":1,"noerr":0,"x":477,"y":228,"wires":[["629bd747.3d3d48","9640bb74.e9ca08"]]},{"id":"629bd747.3d3d48","type":"sqlite","z":"2878bef7.9eec62","mydb":"541582c5.74415c","name":"chores.db","x":610,"y":230,"wires":[[]]},{"id":"9640bb74.e9ca08","type":"debug","z":"2878bef7.9eec62","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":670,"y":180,"wires":[]},{"id":"181206df.1ad0e9","type":"switch","z":"2878bef7.9eec62","name":"Chores","property":"payload.event.tag","propertyType":"msg","rules":[{"t":"regex","v":"(Leif|Liam|Avery)_[0-9]{1,}","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":344,"y":228,"wires":[["75c59dd5.ddd1e4"]]},{"id":"d61f0d7f.f4764","type":"inject","z":"2878bef7.9eec62","name":"Weekly Check Pending","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 16 * * 6","once":false,"onceDelay":0.1,"x":138,"y":490,"wires":[["2a75785c.d107b8"]]},{"id":"343a92e6.22ff4e","type":"comment","z":"2878bef7.9eec62","name":"Receive WS from HTML page and notify parents","info":"","x":372,"y":24,"wires":[]},{"id":"91445dd5.58541","type":"comment","z":"2878bef7.9eec62","name":"Receive notification click events and update DB","info":"","x":204,"y":189,"wires":[]},{"id":"550490f.7c61b7","type":"comment","z":"2878bef7.9eec62","name":"On Saturday, Pay out kids and reset chores","info":"","x":187,"y":297,"wires":[]},{"id":"2a75785c.d107b8","type":"change","z":"2878bef7.9eec62","name":"Check Pending","rules":[{"t":"set","p":"topic","pt":"msg","to":"SELECT * FROM chores where status=\"pending\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":396,"y":490,"wires":[["b6d09703.8b3b28"]]},{"id":"b6d09703.8b3b28","type":"sqlite","z":"2878bef7.9eec62","mydb":"541582c5.74415c","name":"chores.db","x":558,"y":490,"wires":[["cafdf730.decdc8","91260aef.a7b638"]]},{"id":"cafdf730.decdc8","type":"function","z":"2878bef7.9eec62","name":"Format Message","func":"returnVal = null;\n\nif(msg.payload !== null && msg.payload.length > 0)\n{\n    var legnth = msg.payload.length;\n    returnVal = {payload: {\n                    data: {\n                      title: \"Chores Pending\",\n                      message: \"There are \"+legnth+\" Pending.\",\n                      data:{\n                        url: \"http://chores.pinternet.us/admin.php\",\n                        tag: \"chore_pending\",\n                      }\n                    }\n                  }\n                };\n}\nreturn returnVal;","outputs":1,"noerr":0,"x":730,"y":490,"wires":[["91260aef.a7b638","f1faae6f.36b94"]]},{"id":"91260aef.a7b638","type":"debug","z":"2878bef7.9eec62","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":888,"y":448,"wires":[]},{"id":"2da60874.84a9f8","type":"inject","z":"37ca70b3.1ccd","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"45 05 * * *","once":false,"onceDelay":0.1,"x":1237,"y":276,"wires":[[]]},{"id":"5f721f2e.7ae93","type":"inject","z":"6425f89.f9f3b08","name":"Check Pool","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":120,"wires":[["603b64a0.3666cc"]]},{"id":"b1ab6f22.04945","type":"function","z":"6425f89.f9f3b08","name":"Pump on/off","func":"service = \"\"\nlastChangeTime = Date.parse(msg.data.last_changed)\ntimeSinceLastChangeMinutes = (Date.now() - lastChangeTime) / (1000 * 60)\n\nif(msg.data.state === \"on\" && timeSinceLastChangeMinutes > 120)\n{\n    service = \"turn_off\"\n}\nelse if(timeSinceLastChangeMinutes > 600)\n{\n    service = \"turn_on\"\n}\n\nif(service !== \"\")\n{\n   msg.payload = { \"service\": service,\n                   \"payload\": msg.payload}\n   return msg;\n}\nreturn null;","outputs":1,"noerr":0,"x":610,"y":120,"wires":[["b7b884b5.a1f058","b239473d.a780a8","d5c5035d.7bb6c"]]},{"id":"b7b884b5.a1f058","type":"debug","z":"6425f89.f9f3b08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":668,"y":50,"wires":[]},{"id":"b239473d.a780a8","type":"switch","z":"6425f89.f9f3b08","name":"","property":"payload.service","propertyType":"msg","rules":[{"t":"eq","v":"turn_on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":180,"wires":[["ffbb4ef.b4c09b"]]},{"id":"c81848a2.76e468","type":"template","z":"6425f89.f9f3b08","name":"Format Data","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"state\":\"{{payload}}\",\n  \"attributes\":{\"friendly_name\": \"Pool Pump Off Time\"}\n}","output":"json","x":630,"y":180,"wires":[["e9fadbc0.dc80b8"]]},{"id":"e9fadbc0.dc80b8","type":"http request","z":"6425f89.f9f3b08","name":"HA REST Post","method":"POST","ret":"txt","url":"https://hass.pinternet.us/api/states/sensor.pool_pump_off_time","tls":"","x":820,"y":180,"wires":[[]]},{"id":"afad69f.8ed9298","type":"template","z":"6425f89.f9f3b08","name":"Format Data","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"state\":\"--:--\",\n  \"attributes\":{\"friendly_name\": \"Pool Pump Off Time\"}\n}","output":"json","x":630,"y":220,"wires":[["e9fadbc0.dc80b8"]]},{"id":"94b8311.08be6d","type":"switch","z":"f096674e.b4e168","name":"Mode","property":"payload.event.data.mode","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"eq","v":"heat","vt":"str"},{"t":"eq","v":"cool","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":490,"y":820,"wires":[["cd4dd3d9.e8dab"],["39bb4f3.db896b"],["220d63a6.f6a1cc"]]},{"id":"4408923b.ecd92c","type":"comment","z":"f096674e.b4e168","name":"Receive notification click events and update DB","info":"","x":204,"y":766,"wires":[]},{"id":"4ece06c7.4100d8","type":"switch","z":"f096674e.b4e168","name":"ecobee automate","property":"payload.event.tag","propertyType":"msg","rules":[{"t":"eq","v":"ecobee_automate","vt":"str"}],"checkall":"false","repair":false,"outputs":1,"x":310,"y":820,"wires":[["94b8311.08be6d"]]},{"id":"d92888d6.9b81e8","type":"debug","z":"f096674e.b4e168","name":"","active":true,"console":"false","complete":"true","x":453,"y":298,"wires":[]},{"id":"4e44413e.3b443","type":"watch","z":"c7cc637f.2f28c","name":"Show Finished","files":"/share/media/TVShows","recursive":true,"x":119,"y":34,"wires":[["a5056527.cedef8"]]},{"id":"a5056527.cedef8","type":"switch","z":"c7cc637f.2f28c","name":"","property":"type","propertyType":"msg","rules":[{"t":"eq","v":"none","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":300,"y":61,"wires":[[],["e0f88d27.09942"]]},{"id":"f1479136.6fc01","type":"template","z":"c7cc637f.2f28c","name":"notify template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"data\": {\n    \"title\": \"{{file}} finished recording\",\n    \"message\": \"Recording Finished\",\n    \"data\":{\n        \"tag\": \"{{file}}_tag\",\n        \"vibrate\": [500, 200, 500, 200, 500],\n        \"renotify\": true\n        }\n    }\n}","output":"json","x":581,"y":67,"wires":[["6f033f2f.f4fec","3d8abc2f.7479f4"]]},{"id":"70dec2f3.7db77c","type":"watch","z":"c7cc637f.2f28c","name":"Movie Finished","files":"/share/media/DVDs","recursive":true,"x":121,"y":73,"wires":[["a5056527.cedef8"]]},{"id":"4952d7f5.86eeb8","type":"inject","z":"42bda437.8bf3ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":97,"y":350,"wires":[["eed987bd.1b0358"]]},{"id":"eed987bd.1b0358","type":"time-range-switch","z":"42bda437.8bf3ec","name":"","lat":"43.1387","lon":"-76.23631","startTime":"sunrise","endTime":"sunset","startOffset":0,"endOffset":"-30","x":265,"y":351,"wires":[[],["5d16f26e.5d3f3c"]]},{"id":"e0f88d27.09942","type":"throttle","z":"c7cc637f.2f28c","name":"","throttleType":"time","timeLimit":"1","timeLimitType":"minutes","countLimit":0,"blockSize":0,"locked":false,"x":424.5,"y":67,"wires":[["f1479136.6fc01","6f033f2f.f4fec"]]},{"id":"a8f63c42.3e37","type":"inject","z":"994bcb17.c990b8","name":"Weekday 5:00","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 17 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"x":120,"y":100,"wires":[["3fc9e205.1d55ae"]]},{"id":"3fc9e205.1d55ae","type":"http request","z":"994bcb17.c990b8","name":"Redmine Issues","method":"GET","ret":"obj","url":"https://redmine.pinternet.us/issues.json","tls":"","x":340,"y":120,"wires":[["9d7ee0b4.8a18e"]]},{"id":"95e27ccc.a8b66","type":"inject","z":"994bcb17.c990b8","name":"Weekend 8:00AM","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 08 * * 6,0","once":false,"onceDelay":0.1,"x":130,"y":140,"wires":[["3fc9e205.1d55ae"]]},{"id":"47757eff.444bd","type":"debug","z":"994bcb17.c990b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":570,"y":60,"wires":[]},{"id":"9d7ee0b4.8a18e","type":"function","z":"994bcb17.c990b8","name":"Split Issues","func":"//sort issues based on having a due date or being urgient priority\n\nvar dueDates = {payload:{issues:[]}};\nvar urgent = {payload:{issues:[]}};\nfor(i = 0; i < msg.payload.issues.length; i++)\n{\n    //get issues with due dates\n    if(msg.payload.issues[i].due_date)\n    {\n        dueDates.payload.issues.push(msg.payload.issues[i]);\n    }\n    //get urgent issues\n    if(msg.payload.issues[i].priority.id == 3)\n    {\n        urgent.payload.issues.push(msg.payload.issues[i]);\n    }\n}\n\nreturn [dueDates, urgent];","outputs":2,"noerr":0,"x":510,"y":120,"wires":[["47757eff.444bd","fae69a7.4a69f68"],["ba8272b9.52d26"]]},{"id":"fae69a7.4a69f68","type":"function","z":"994bcb17.c990b8","name":"Format Notification","func":"var formatted = [];\nfor(i = 0; i < msg.payload.issues.length; ++i)\n{\n    issue = msg.payload.issues[i];\n    dueDate = new Date(issue.due_date);\n    interval = Math.trunc((dueDate.getTime() - new Date().getTime())/(1000*60*60*24.0));\n    var notification = {payload: { data: { title: \"Task Due\",\n                                           message: \"Insert Here\",\n                                           data:{\n                                             url: \"https://redmine.pinternet.us/issues/\"+issue.id,\n                                             tag: \"redmine_\",\n                                             requireInteraction: true,\n                                             actions: [\n                                             {\n                                               action: \"finished\",\n                                               title: \"Finished\"\n                                             }]\n                                           }\n                                          }\n                                   }\n                        }\n    if(issue.assigned_to)\n    {\n        if(issue.assigned_to.name==\"Seth Pinter\")\n        {\n            notification.payload.data.target = \"seths_one_plus_3t\"\n        }\n        else if(issue.assigned_to.name==\"Christy Pinter\")\n        {\n            notification.payload.data.target = \"christys_lg_g2\"\n        }\n    }\n    if(interval == 3 || interval == 1)\n    {\n        notification.payload.data.title = issue.subject;\n        notification.payload.data.message = issue.subject+\" is due in \"+interval+\" days.\";\n        notification.payload.data.data.tag += issue.id;\n        formatted.push(notification);\n    }\n    if(interval === 0)\n    {\n        notification.payload.data.title = issue.subject;\n        notification.payload.data.message = issue.subject+\" is due in today.\";\n        notification.payload.data.data.tag += issue.id;\n        formatted.push(notification);\n    }\n    if(interval < 0)\n    {\n        notification.payload.data.title = issue.subject;\n        notification.payload.data.message = issue.subject+\" is overdue by \"+Math.abs(interval)+\" days.\";\n        notification.payload.data.data.tag += issue.id;\n        formatted.push(notification);\n    }\n}\nreturn [formatted];","outputs":1,"noerr":0,"x":730,"y":100,"wires":[["1784056e.8f260b","9d05165.e8ba8e8"]]},{"id":"ba8272b9.52d26","type":"debug","z":"994bcb17.c990b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":590,"y":180,"wires":[]},{"id":"1784056e.8f260b","type":"debug","z":"994bcb17.c990b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":850,"y":40,"wires":[]},{"id":"5f212728.f30198","type":"switch","z":"994bcb17.c990b8","name":"Redmine Click","property":"payload.event.tag","propertyType":"msg","rules":[{"t":"regex","v":"redmine_[0-9]{1,}","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":280,"y":320,"wires":[["dc166513.bc8c78","2295fc37.72b2e4"]]},{"id":"23335a6e.84f996","type":"comment","z":"994bcb17.c990b8","name":"Receive notification click events and update issues","info":"","x":229,"y":274,"wires":[]},{"id":"7de3d645.eedbd8","type":"comment","z":"994bcb17.c990b8","name":"Query Redmine and send notification","info":"","x":160,"y":60,"wires":[]},{"id":"2295fc37.72b2e4","type":"function","z":"994bcb17.c990b8","name":"Update Redmine Task","func":"id = msg.payload.event.tag.split('_')[1];\nstatus = msg.payload.event.action;\n\nif(status === null || status === \"\"){ msg = null; }\nelse {\n  msg.url = \"https://redmine.pinternet.us/issues/\"+id+\".json\"\n  msg.payload = { issue: {\n                    status_id: 3,\n                    notes: \"Resolved via node-red\" \n                  }\n                };\n}\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":320,"wires":[["51e140a5.fc92f"]]},{"id":"51e140a5.fc92f","type":"http request","z":"994bcb17.c990b8","name":"Redmine Issues","method":"PUT","ret":"txt","url":"","tls":"","x":700,"y":320,"wires":[["310121d5.bbbeee"]]},{"id":"310121d5.bbbeee","type":"debug","z":"994bcb17.c990b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":870,"y":320,"wires":[]},{"id":"17df769c.225179","type":"json","z":"994bcb17.c990b8","name":"","property":"payload","action":"str","pretty":false,"x":570,"y":380,"wires":[["51e140a5.fc92f","27613bc7.8a1ba4"]]},{"id":"dc166513.bc8c78","type":"debug","z":"994bcb17.c990b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":470,"y":280,"wires":[]},{"id":"27613bc7.8a1ba4","type":"debug","z":"994bcb17.c990b8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":710,"y":380,"wires":[]},{"id":"5f2dfa7f.116c24","type":"inject","z":"8c206717.a2b1c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":220,"wires":[["6845bc0c.7e2ee4","d6cbd09e.13e29","e5acc76d.1780f8","569ed844.0ac048"]]},{"id":"9634e925.206fb8","type":"inject","z":"8c206717.a2b1c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":380,"wires":[["f7d3f7e0.447718"]]},{"id":"f7d3f7e0.447718","type":"function","z":"8c206717.a2b1c8","name":"Insert Fake Players to leave","func":"var players = [\"RC_master\", \"Guest Account\"];\nflow.set(\"skyblocksPlayers\", players);","outputs":1,"noerr":0,"x":420,"y":380,"wires":[[]]},{"id":"2b940d37.fdec02","type":"comment","z":"f096674e.b4e168","name":"After Ecobee decision, send notification","info":"","x":210,"y":40,"wires":[]},{"id":"a3c5d104.f7676","type":"snmp","z":"67b76939.9a9c98","host":"192.168.125.1","community":"public","version":"2c","oids":"1.3.6.1.2.1.2.2.1.10.3,1.3.6.1.2.1.2.2.1.16.3","timeout":5,"name":"1 LAN In/Out","x":290,"y":500,"wires":[["6196f432.9dd58c"]]},{"id":"6196f432.9dd58c","type":"debug","z":"67b76939.9a9c98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":450,"y":500,"wires":[]},{"id":"88e90bb5.b743e8","type":"inject","z":"67b76939.9a9c98","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":500,"wires":[["a3c5d104.f7676"]]},{"id":"ecf86f71.4ddab","type":"template","z":"2878bef7.9eec62","name":"Query","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT * FROM Chores WHERE completed_by IS NOT NULL AND completed_by IS NOT \"\" AND value IS NOT 0","output":"str","x":250,"y":440,"wires":[["6be88d65.b31cb4"]]},{"id":"ce35d229.06a78","type":"inject","z":"2878bef7.9eec62","name":"Weekly Payout","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"30 23 * * 6","once":false,"onceDelay":0.1,"x":100,"y":440,"wires":[["ecf86f71.4ddab"]]},{"id":"6be88d65.b31cb4","type":"sqlite","z":"2878bef7.9eec62","mydb":"541582c5.74415c","name":"chores.db","x":380,"y":440,"wires":[["cb4ee9d5.0d4f48","23b9614b.e7504e"]]},{"id":"cb4ee9d5.0d4f48","type":"function","z":"2878bef7.9eec62","name":"Query","func":"var messages = [];\noptions = { year: 'numeric', month: '2-digit', day: '2-digit' };\ndate = new Date(Date.now()).toLocaleDateString(options);\nfor(i = 0; i < msg.payload.length; i++)\n{\n    query = 'INSERT INTO Ledger VALUES ('\n           + '\"' + msg.payload[i].completed_by + '\",'\n           + '\"' + msg.payload[i].chore_name + '\",'\n           + '\"' + date +'\",'\n           + msg.payload[i].value +','\n           + '\"' + msg.payload[i].status + '\")';\n    tmpMsg = {topic: query}\n    messages.push(tmpMsg);\n}\nreturn [messages];","outputs":1,"noerr":0,"x":530,"y":440,"wires":[["66e13bf9.ef29b4","bab79fe5.5f59b"]]},{"id":"66e13bf9.ef29b4","type":"debug","z":"2878bef7.9eec62","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":670,"y":360,"wires":[]},{"id":"bab79fe5.5f59b","type":"sqlite","z":"2878bef7.9eec62","mydb":"541582c5.74415c","name":"chores.db","x":680,"y":440,"wires":[[]]},{"id":"a183d51f.bd6468","type":"template","z":"2878bef7.9eec62","name":"Query","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT * FROM Chores WHERE completed_by IS NOT NULL AND completed_by IS NOT \"\" AND value IS NOT 0","output":"str","x":250,"y":560,"wires":[["4c5f427a.d15e5c"]]},{"id":"a75f134c.8f66","type":"inject","z":"2878bef7.9eec62","name":"Test Pending","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":560,"wires":[["a183d51f.bd6468"]]},{"id":"4c5f427a.d15e5c","type":"sqlite","z":"2878bef7.9eec62","mydb":"541582c5.74415c","name":"chores.db","x":380,"y":560,"wires":[["66ebc587.f36b7c"]]},{"id":"66ebc587.f36b7c","type":"function","z":"2878bef7.9eec62","name":"Query","func":"var messages = [];\noptions = { year: 'numeric', month: '2-digit', day: '2-digit' };\ndate = new Date(Date.now()).toLocaleDateString(options);\nfor(i = 0; i < msg.payload.length; i++)\n{\n    query = 'INSERT INTO Ledger VALUES ('\n           + '\"' + msg.payload[i].completed_by + '\",'\n           + '\"' + msg.payload[i].chore_name + '\",'\n           + '\"' + date +'\",'\n           + msg.payload[i].value +','\n           + '\"' + msg.payload[i].status + '\")';\n    tmpMsg = {topic: query}\n    messages.push(tmpMsg);\n}\nreturn [messages];","outputs":1,"noerr":0,"x":510,"y":560,"wires":[["c373f93b.e02978"]]},{"id":"c373f93b.e02978","type":"sqlite","z":"2878bef7.9eec62","mydb":"541582c5.74415c","name":"chores.db","x":640,"y":560,"wires":[[]]},{"id":"e10d2e5d.2b389","type":"inject","z":"3d9442da.6e01ee","name":"At Parents at night","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"30 19 * * *","once":false,"onceDelay":0.1,"x":130,"y":40,"wires":[["1aed5635.7f671a","979fec59.8457b"]]},{"id":"a7302b66.76c908","type":"Alexa-speak","z":"341e8e87.fcfe22","name":"Kitchen Dot Speak","serialOrName":"G090U509846712RN","volume":"100","text":"Placeholder","account":"23213140.97bf2e","x":210,"y":100,"wires":[["b7dd1760.f727d8"]]},{"id":"ac237e64.7a4c6","type":"inject","z":"341e8e87.fcfe22","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":420,"wires":[["12a81362.82bf7d"]]},{"id":"b7dd1760.f727d8","type":"debug","z":"341e8e87.fcfe22","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":450,"y":100,"wires":[]},{"id":"dbfcef36.5c774","type":"comment","z":"341e8e87.fcfe22","name":"Dot UIDs","info":"Bedroom Dot - G090U509846219GE\nFamily Room Dot - G090U50984642MS8\nKitchen Dot - G090LF1072031H9W","x":100,"y":40,"wires":[]},{"id":"12a81362.82bf7d","type":"change","z":"341e8e87.fcfe22","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"text\":\"test\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":420,"wires":[["527abe06.2ee66"]]},{"id":"109a42ba.6f251d","type":"link in","z":"341e8e87.fcfe22","name":"Kitchen Dot","links":["e847149b.2aa208","5e2099d.b2c5668","7ae13d9c.41b764","c7186151.9afa7","fa1c3106.d773b","737b7ec2.47aa9"],"x":75,"y":100,"wires":[["a7302b66.76c908"]]},{"id":"5a0a1ca.3ac95e4","type":"Alexa-speak","z":"341e8e87.fcfe22","name":"Master Bedroom Dot Speak","serialOrName":"G090U509846219GE","volume":"100","text":"Placeholder","account":"23213140.97bf2e","x":240,"y":140,"wires":[["b7dd1760.f727d8"]]},{"id":"a65678de.644da8","type":"Alexa-speak","z":"341e8e87.fcfe22","name":"Family Room Dot Speak","serialOrName":"G090U50984642MS8","volume":"100","text":"Placeholder","account":"23213140.97bf2e","x":230,"y":180,"wires":[["b7dd1760.f727d8"]]},{"id":"72652cd8.34be64","type":"link in","z":"341e8e87.fcfe22","name":"Master Bedroom Dot","links":["e847149b.2aa208","7ae13d9c.41b764","c7186151.9afa7","737b7ec2.47aa9"],"x":75,"y":140,"wires":[["5a0a1ca.3ac95e4"]]},{"id":"a66bbf1.47ca34","type":"link in","z":"341e8e87.fcfe22","name":"Family Room Dot","links":["e847149b.2aa208","7ae13d9c.41b764","c7186151.9afa7","737b7ec2.47aa9"],"x":75,"y":180,"wires":[["a65678de.644da8"]]},{"id":"d3b82cf0.716fa","type":"stoptimer","z":"1ae55a97.d30a15","duration":"10","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":540,"y":80,"wires":[["230904b6.fac6ec"],[]]},{"id":"230904b6.fac6ec","type":"time-range-switch","z":"1ae55a97.d30a15","name":"Night Check","lat":"43.1387","lon":"-76.23631","startTime":"00:30","endTime":"5:00","startOffset":0,"endOffset":0,"x":710,"y":80,"wires":[["25e58ce1.7e70b4"],[]]},{"id":"5e2099d.b2c5668","type":"link out","z":"341e8e87.fcfe22","name":"","links":["109a42ba.6f251d"],"x":435,"y":280,"wires":[]},{"id":"7ae13d9c.41b764","type":"link out","z":"3d9442da.6e01ee","name":"","links":["109a42ba.6f251d","72652cd8.34be64","a66bbf1.47ca34"],"x":795,"y":520,"wires":[]},{"id":"7b5fddf.0d7dd24","type":"switch","z":"3d9442da.6e01ee","name":"Seth Home?","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"input_select.seths_location","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":510,"y":560,"wires":[["9a99f16c.94d15"]]},{"id":"9a99f16c.94d15","type":"change","z":"3d9442da.6e01ee","name":"Announce","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"text\":\"Seth is now home.\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":560,"wires":[["7ae13d9c.41b764"]]},{"id":"11a015a9.36acda","type":"change","z":"3d9442da.6e01ee","name":"Announce","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"text\":\"Christy is now home.\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":520,"wires":[["7ae13d9c.41b764"]]},{"id":"6c822ca.64898d4","type":"change","z":"3d9442da.6e01ee","name":"Announce","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"text\":\"Seth has left work.\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":580,"wires":[["c7186151.9afa7"]]},{"id":"c7186151.9afa7","type":"link out","z":"3d9442da.6e01ee","name":"","links":["109a42ba.6f251d","72652cd8.34be64","a66bbf1.47ca34"],"x":1375,"y":520,"wires":[]},{"id":"527abe06.2ee66","type":"Alexa-speak","z":"341e8e87.fcfe22","name":"Family Room Dot Speak","serialOrName":"Family Room Dot","volume":"100","text":"Placeholder","account":"23213140.97bf2e","x":530,"y":380,"wires":[[]]},{"id":"4e5c3fc9.97c8b","type":"debug","z":"ab7335c3.520b68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":290,"y":480,"wires":[]},{"id":"b8e3273.0d1bed8","type":"change","z":"ab7335c3.520b68","name":"Format Notification","rules":[{"t":"change","p":"payload","pt":"msg","from":"Full","fromt":"str","to":"{\"text\":\"The Christmas tree water is full.\"}","tot":"json"},{"t":"change","p":"payload","pt":"msg","from":"Low","fromt":"str","to":"{\"text\":\"The Christmas tree needs water.\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":560,"wires":[["fa1c3106.d773b"]]},{"id":"fa1c3106.d773b","type":"link out","z":"ab7335c3.520b68","name":"Christmas Tree Flash Alexa","links":["109a42ba.6f251d"],"x":895,"y":560,"wires":[]},{"id":"29e77c6d.8b4184","type":"throttle","z":"ab7335c3.520b68","name":"Until Low","throttleType":"reset","timeLimit":"2","timeLimitType":"hours","countLimit":0,"blockSize":0,"locked":false,"x":480,"y":500,"wires":[["9648f7a6.ba0698","b8e3273.0d1bed8"]]},{"id":"88cf6ca.5e1499","type":"throttle","z":"ab7335c3.520b68","name":"2hr","throttleType":"time","timeLimit":"30","timeLimitType":"minutes","countLimit":0,"blockSize":0,"locked":false,"x":210,"y":660,"wires":[["c2677356.41dc9","53dc3051.a7983"]]},{"id":"53dc3051.a7983","type":"change","z":"ab7335c3.520b68","name":"low reached","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":740,"wires":[["29e77c6d.8b4184"]]},{"id":"255bc86.8be5d38","type":"inject","z":"42bda437.8bf3ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":680,"y":280,"wires":[[]]},{"id":"b344d1e3.2ef0a","type":"switch","z":"bf06917b.82d12","name":"switched on","property":"payload","propertyType":"msg","rules":[{"t":"jsonata_exp","v":"payload = \"on\" and data.old_state.state = \"off\"","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":1,"x":330,"y":120,"wires":[["bd231c36.b252d"]]},{"id":"a4b675e9.b13a58","type":"debug","z":"bf06917b.82d12","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":300,"y":80,"wires":[]},{"id":"47a7cbd0.af9e14","type":"inject","z":"6943dccf.4adf14","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":120,"wires":[["ba2e4b1d.304308"]]},{"id":"750d0d80.6081f4","type":"debug","z":"6943dccf.4adf14","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":830,"y":100,"wires":[]},{"id":"ba2e4b1d.304308","type":"function","z":"6943dccf.4adf14","name":"Has Run Today","func":"eufyRunToday = flow.get(\"eufyRunToday\");\nif(eufyRunToday == null)\n{\n    eufyRunToday = false;\n}\n\nmsg.hasRunToday = eufyRunToday;\nif(eufyRunToday == false)\n{\n    return msg;\n}\nelse\n{\n    return null;\n}","outputs":1,"noerr":0,"x":300,"y":120,"wires":[["e7a3b3ef.302fb","8c6ddc65.8232a","2e9e9637.42239a"]]},{"id":"a207f587.40d858","type":"link in","z":"3d9442da.6e01ee","name":"Set Hold Home and Notify","links":["8719b374.f41fb","5fa2da07.8029a4"],"x":715,"y":40,"wires":[["5353315a.4d3f6","310568ff.231b38"]]},{"id":"5353315a.4d3f6","type":"delay","z":"3d9442da.6e01ee","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":840,"y":80,"wires":[["37683100.ab282"]]},{"id":"8719b374.f41fb","type":"link out","z":"3d9442da.6e01ee","name":"Go to Set Hold Home","links":["a207f587.40d858"],"x":595,"y":40,"wires":[]},{"id":"5fa2da07.8029a4","type":"link out","z":"3d9442da.6e01ee","name":"Go to Set Hold Home","links":["a207f587.40d858"],"x":1275,"y":400,"wires":[]},{"id":"d8e7bc46.368c1","type":"Alexa-speak","z":"341e8e87.fcfe22","name":"Basement Dot Speak","serialOrName":"G090U509846737GV","volume":"100","text":"Placeholder","account":"23213140.97bf2e","x":220,"y":220,"wires":[["b7dd1760.f727d8"]]},{"id":"6a16332a.ff071c","type":"Alexa-speak","z":"341e8e87.fcfe22","name":"2nd Gen Dot Speak","serialOrName":"G090LF1072031H9W","volume":"100","text":"Placeholder","account":"23213140.97bf2e","x":210,"y":260,"wires":[["b7dd1760.f727d8"]]},{"id":"14e3d904.f43a67","type":"link in","z":"341e8e87.fcfe22","name":"Basement Dot","links":[],"x":75,"y":220,"wires":[["d8e7bc46.368c1"]]},{"id":"c4d3008c.f8d6b","type":"link in","z":"341e8e87.fcfe22","name":"2nd Gen Dot","links":[],"x":75,"y":260,"wires":[["6a16332a.ff071c"]]},{"id":"50d37576.745fcc","type":"inject","z":"4a997387.5b288c","name":"","topic":"Avery's Medicine","payload":"","payloadType":"date","repeat":"","crontab":"30 19 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"x":180,"y":140,"wires":[["235e1270.0a761e","de4d119c.eb75d"]]},{"id":"235e1270.0a761e","type":"change","z":"4a997387.5b288c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"text\":\"Avery needs her medicine.\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":140,"wires":[["737b7ec2.47aa9"]]},{"id":"737b7ec2.47aa9","type":"link out","z":"4a997387.5b288c","name":"","links":["109a42ba.6f251d","72652cd8.34be64","a66bbf1.47ca34"],"x":715,"y":140,"wires":[]},{"id":"cb8e7e5a.bd909","type":"inject","z":"4a997387.5b288c","name":"","topic":"Avery's Medicine","payload":"","payloadType":"date","repeat":"","crontab":"30 19 * * 6,0","once":false,"onceDelay":0.1,"x":180,"y":180,"wires":[["de4d119c.eb75d","875617d8.462568"]]},{"id":"cb81eb72.8e7918","type":"function","z":"6943dccf.4adf14","name":"Reset Run Today","func":"flow.set(\"eufyRunToday\", false);","outputs":1,"noerr":0,"x":290,"y":40,"wires":[[]]},{"id":"b0c5efb8.fea4f","type":"inject","z":"6943dccf.4adf14","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"01 00 * * *","once":false,"onceDelay":0.1,"x":110,"y":40,"wires":[["cb81eb72.8e7918"]]},{"id":"14f15a21.770146","type":"function","z":"6943dccf.4adf14","name":"Set Run Today","func":"flow.set(\"eufyRunToday\", true);\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":180,"wires":[["750d0d80.6081f4","b37dfd97.3c483"]]},{"id":"e7a3b3ef.302fb","type":"time-range-switch","z":"6943dccf.4adf14","name":"","lat":"43.1387","lon":"-76.23631","startTime":"15:00","endTime":"16:00","startOffset":0,"endOffset":0,"x":250,"y":200,"wires":[["8c57780f.5dd978"],[]]},{"id":"f8fa7107.60bf","type":"http request","z":"1a3e8c71.6c1c84","name":"TCL65\" Device Info","method":"GET","ret":"txt","url":"http://192.168.125.32:8060/query/device-info","tls":"","x":190,"y":40,"wires":[["a0ff9d2.8cdbf6"]]},{"id":"a0ff9d2.8cdbf6","type":"xml","z":"1a3e8c71.6c1c84","name":"","property":"payload","attr":"","chr":"","x":350,"y":40,"wires":[["cf398c7b.c9c21"]]},{"id":"cf398c7b.c9c21","type":"switch","z":"1a3e8c71.6c1c84","name":"","property":"payload.device-info.power-mode","propertyType":"msg","rules":[{"t":"eq","v":"PowerOn","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":470,"y":40,"wires":[[],[]]},{"id":"8c57780f.5dd978","type":"subflow:1a3e8c71.6c1c84","z":"6943dccf.4adf14","name":"","x":460,"y":180,"wires":[[],["14f15a21.770146","a9306b7f.682d98"]]},{"id":"8c6ddc65.8232a","type":"time-range-switch","z":"6943dccf.4adf14","name":"","lat":"43.1387","lon":"-76.23631","startTime":"18:00","endTime":"22:00","startOffset":0,"endOffset":0,"x":250,"y":240,"wires":[["8c57780f.5dd978"],[]]},{"id":"5d16f26e.5d3f3c","type":"subflow:1a3e8c71.6c1c84","z":"42bda437.8bf3ec","name":"","x":480,"y":340,"wires":[["993fe1cd.ad424"],["92b56c6a.32184"]]},{"id":"a7fcbdaa.2b191","type":"conf ping","z":"67b76939.9a9c98","name":"","host":"192.168.125.1","timeout":"5","requests":"1","x":600,"y":260,"wires":[["e64c10df.5d77e"]]},{"id":"e64c10df.5d77e","type":"debug","z":"67b76939.9a9c98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":770,"y":260,"wires":[]},{"id":"c6207248.875c4","type":"inject","z":"67b76939.9a9c98","name":"","topic":"","payload":"","payloadType":"date","repeat":"20","crontab":"","once":false,"onceDelay":0.1,"x":597,"y":204,"wires":[["a7fcbdaa.2b191"]]},{"id":"5bab34d5.910c1c","type":"snmp","z":"67b76939.9a9c98","host":"router.pinternet.us","community":"public","version":"2c","oids":"1.3.6.1.2.1.2.2.1.16.7","timeout":5,"name":"1 WAN In/Out","x":740,"y":380,"wires":[["e64c10df.5d77e"]]},{"id":"6c24c495.c7f79c","type":"inject","z":"67b76939.9a9c98","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":580,"y":380,"wires":[["5bab34d5.910c1c"]]},{"id":"6d5cfa3f.316034","type":"delay","z":"37ca70b3.1ccd","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1070,"y":220,"wires":[["4f0b206f.8d04f"]]},{"id":"df9475d4.9be978","type":"http response","z":"8c206717.a2b1c8","name":"","statusCode":"","headers":{},"x":470,"y":560,"wires":[]},{"id":"da7e7788.4b75d8","type":"http in","z":"8c206717.a2b1c8","name":"minecraft.pinternet.us","url":"/index.html","method":"get","upload":false,"swaggerDoc":"","x":120,"y":560,"wires":[["7de6a4a0.6f12fc"]]},{"id":"7de6a4a0.6f12fc","type":"template","z":"8c206717.a2b1c8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n  <head>\n    <style>\n      body {\n          background-image: url(\"http://www.pinternet.us/img/minecraft_background_creeper.jpg\");\n      }\n      table, th, td {\n        border: 1px solid black;\n      }\n      th, td {\n        padding: 3px;\n      }\n    </style>\n  </head>\n  <body>\n    <div>\n        <h1>Online Players</h1>\n        <table>\n            <tr><th><a href='http://map.minecraft.pinternet.us'>World</a></th><th>Skyblocks</th><th>Creative</th><th>Superflat</th></tr>\n            <tr>\n        <td>{{#flow.worldPlayers}}\n        {{.}}<br>\n        {{/flow.worldPlayers}}</td>\n        <td>{{#flow.skyblocksPlayers}}\n        {{.}}<br>\n        {{/flow.skyblocksPlayers}}</td>\n        <td>{{#flow.creativePlayers}}\n        {{.}}<br>\n        {{/flow.creativePlayers}}</td>\n        <td>{{#flow.superflatPlayers}}\n        {{.}}<br>\n        {{/flow.superflatPlayers}}</td>\n        </tr>\n        </table>\n    </div>\n    <div>\n        <h1>Plugins</h1>\n        Information can be found on <a href='https://www.spigotmc.org/resources/'>www.spigotmc.org</a>\n        <table>\n            <tr><th>World</th><th>Skyblocks</th><th>Creative</th><th>Superflat</th></tr>\n            <tr>\n        <td>{{#flow.worldPlugins}}\n        {{.}}<br>\n        {{/flow.worldPlugins}}</td>\n        <td>{{#flow.skyblocksPlugins}}\n        {{.}}<br>\n        {{/flow.skyblocksPlugins}}</td>\n        <td>{{#flow.creativePlugins}}\n        {{.}}<br>\n        {{/flow.creativePlugins}}</td>\n        <td>{{#flow.superflatPlugins}}\n        {{.}}<br>\n        {{/flow.superflatPlugins}}</td>\n        </tr>\n        </table>\n    </div>\n    <div>\n      <h1>\n        How to use mutliple usernames on single account\n      </h1>\n        <ol>\n          <li>Install <a href='https://www.cygwin.com/install.html'>Cygwin</a>\n            <ol type='a'>\n              <li>when given the option to select packages, make sure that <i>sed</i> will be installed</li>\n              <li>Once installation is finished, <a href='https://www.architectryan.com/2018/03/17/add-to-the-path-on-windows-10/'>add C:\\cygwin64\\bin to your path</a></li>\n            </ol>\n          </li>\n          <li>create a bash script that changes the minecraft username<br>\n            <div>\n              <ol type='a'>\n                <li>Create your new username.sh file in a convenient location (desktop for example)</li>\n                <li>edit the file with a tool like notepad++ and use the template below. replace the <i>username#</i> with all active users on the PC, and replace the <i>username_desired</i> with the target user.<br>\n                <code>#!/bin/bash<br>\n                     <br>\n                     cd $APPDATA/.minecraft<br>\n                     sed -i -r 's/(username1|username2|username3)/username_desired/gi' launcher_profiles.json<br>\n                     <br>\n                     \"C:/Program Files (x86)/Minecraft/MinecraftLauncher.exe\"</code></li>\n                <li>Execute the new bash file with C:/cygwin64/bin/bash.exe (or whever you installed cygwin). If the username doesn't change, close minecraft and run it again and it should take. If it doesn't work, check your usernames as they are case sensitive in the script.</li>\n              </ol>\n            </div>\n          </li>\n        </ol>\n    </div>\n  </body>\n</html>","output":"str","x":320,"y":560,"wires":[["df9475d4.9be978","89d98079.f6187"]]},{"id":"89d98079.f6187","type":"debug","z":"8c206717.a2b1c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":470,"y":500,"wires":[]},{"id":"3ac42328.56c54c","type":"debug","z":"42d81757.3ff8b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":730,"y":120,"wires":[]},{"id":"6e240666.ea5c18","type":"inject","z":"42d81757.3ff8b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":60,"wires":[["7e8050cc.298f5"]]},{"id":"7e8050cc.298f5","type":"http request","z":"42d81757.3ff8b8","name":"Get MP 3D Delta Mini Status","method":"GET","ret":"txt","paytoqs":false,"url":"http://192.168.125.92/inquiry","tls":"","proxy":"","x":340,"y":60,"wires":[["47c783d0.f21b6c"]]},{"id":"47c783d0.f21b6c","type":"function","z":"42d81757.3ff8b8","name":"Extract Status/Progress","func":"var c = msg.payload.charAt(msg.payload.length - 1);\nmsg.printerModel = \"MP 3D Delta Mini\";\nif (c == 'I') {\n  msg.printerStatus = \"Idle\";\n  msg.printerProgress = \"0\";\n}\nelse if (c == 'P')\n{\n  msg.printerStatus = \"Printing\"\n  msg.printerProgress = msg.payload.match(/\\d+/g)[4];\n}\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":60,"wires":[["3ac42328.56c54c","9d5d62ea.29474"]]},{"id":"9d5d62ea.29474","type":"rbe","z":"42d81757.3ff8b8","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"printerStatus","x":110,"y":140,"wires":[["9f5262b9.bf2c1"]]},{"id":"9f5262b9.bf2c1","type":"switch","z":"42d81757.3ff8b8","name":"","property":"printerStatus","propertyType":"msg","rules":[{"t":"eq","v":"Idle","vt":"str"},{"t":"eq","v":"Printing","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":250,"y":140,"wires":[["5245a9.1a038a58"],["42064b18.9b1b94"]]},{"id":"5245a9.1a038a58","type":"link out","z":"42d81757.3ff8b8","name":"3D Delta Mini Finished","links":["398e944e.cf1b0c"],"x":355,"y":120,"wires":[]},{"id":"398e944e.cf1b0c","type":"link in","z":"42d81757.3ff8b8","name":"3D Printer Finished","links":["5245a9.1a038a58"],"x":95,"y":380,"wires":[["d5cef933.a6e8c8","5f9d63a0.9705ac"]]},{"id":"d5cef933.a6e8c8","type":"template","z":"42d81757.3ff8b8","name":"notify template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"data\": {\n    \"title\": \"{{msg.printerModel}} Finished Printing\",\n    \"message\": \"{{msg.printerModel}} Finished Printing\",\n    \"data\": {\n        \"tag\": \"{{msg.printerModel}}\"\n        }\n    }\n}","output":"json","x":240,"y":380,"wires":[["a62888fe.97b308"]]},{"id":"5f9d63a0.9705ac","type":"stoptimer","z":"42d81757.3ff8b8","duration":"15","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":260,"y":340,"wires":[["2b143123.8f8cce"],[]]},{"id":"6fc0eb86.da4d64","type":"link in","z":"42d81757.3ff8b8","name":"3D Delta Mini Printing","links":["42064b18.9b1b94"],"x":55,"y":300,"wires":[["681ed7f3.d600f8"]]},{"id":"42064b18.9b1b94","type":"link out","z":"42d81757.3ff8b8","name":"3D Delta Mini Finished","links":["6fc0eb86.da4d64"],"x":355,"y":160,"wires":[]},{"id":"681ed7f3.d600f8","type":"change","z":"42d81757.3ff8b8","name":"Printing (stop timer)","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":300,"wires":[["5f9d63a0.9705ac"]]},{"id":"9b2deb7c.0fab38","type":"websocket in","z":"42d81757.3ff8b8","name":"","server":"","client":"d83466c3.60ea08","x":160,"y":480,"wires":[["bde0220a.b166f"]]},{"id":"d8027c13.4296d","type":"websocket out","z":"42d81757.3ff8b8","name":"","server":"","client":"d83466c3.60ea08","x":490,"y":500,"wires":[]},{"id":"bde0220a.b166f","type":"debug","z":"42d81757.3ff8b8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":390,"y":440,"wires":[]},{"id":"1f32144a.19f77c","type":"inject","z":"42d81757.3ff8b8","name":"","topic":"","payload":"M503","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":540,"wires":[["d8027c13.4296d"]]},{"id":"a43ddced.f723a","type":"inject","z":"42d81757.3ff8b8","name":"Stop Off Timer","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":260,"wires":[["681ed7f3.d600f8"]]},{"id":"2b143123.8f8cce","type":"api-call-service","z":"42d81757.3ff8b8","name":"Turn off 3D Delta Mini","server":"bcb6d16b.be84e","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.extension_2\"}","mergecontext":"","output_location":"","output_location_type":"none","x":500,"y":300,"wires":[[]]},{"id":"a62888fe.97b308","type":"api-call-service","z":"42d81757.3ff8b8","name":"Notify Seth","server":"bcb6d16b.be84e","service_domain":"notify","service":"html5_seths_one_plus_3t","data":"","mergecontext":"","output_location":"","output_location_type":"none","x":470,"y":380,"wires":[[]]},{"id":"fe7fa42b.443bb8","type":"inject","z":"42d81757.3ff8b8","name":"Stop Off Timer","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":440,"wires":[["d5cef933.a6e8c8"]]},{"id":"ca41ed51.2be4c","type":"server-state-changed","z":"37ca70b3.1ccd","name":"Dining Room Motion","server":"bcb6d16b.be84e","entityidfilter":"binary_sensor.dining_room_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":140,"wires":[["3dce11d3.475bfe","5eaa7f3f.bafbd"],[]]},{"id":"b30dc187.ff7e1","type":"server-state-changed","z":"37ca70b3.1ccd","name":"Kitchen Table Motion","server":"bcb6d16b.be84e","entityidfilter":"binary_sensor.kitchen_table_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":90,"y":400,"wires":[["b4e5b296.50c36","c6496bc9.8b2738"],[]]},{"id":"81a65725.e23b88","type":"server-state-changed","z":"37ca70b3.1ccd","name":"Piano Room Motion","server":"bcb6d16b.be84e","entityidfilter":"binary_sensor.living_room_motion","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"off","halt_if_type":"str","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":95,"y":653.9999980926514,"wires":[["2dac65cd.c0bf9a"],[]]},{"id":"68d2c1c2.4ee62","type":"api-call-service","z":"37ca70b3.1ccd","name":"Turn On Dining Room","server":"bcb6d16b.be84e","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.dining_room\"}","mergecontext":"","output_location":"","output_location_type":"none","x":650,"y":80,"wires":[[]]},{"id":"c6e3cb0f.141728","type":"api-call-service","z":"37ca70b3.1ccd","name":"Turn Off Dining Room","server":"bcb6d16b.be84e","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.dining_room\"}","mergecontext":"","output_location":"","output_location_type":"none","x":1240,"y":120,"wires":[[]]},{"id":"c3cd04be.699218","type":"api-call-service","z":"37ca70b3.1ccd","name":"Turn On Kitchen","server":"bcb6d16b.be84e","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.kitchen\"}","mergecontext":"","output_location":"","output_location_type":"none","x":600,"y":240,"wires":[[]]},{"id":"4f0b206f.8d04f","type":"api-call-service","z":"37ca70b3.1ccd","name":"Turn Off Kitchen","server":"bcb6d16b.be84e","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.kitchen\"}","mergecontext":"","output_location":"","output_location_type":"none","x":1260,"y":220,"wires":[[]]},{"id":"f2483243.e4a82","type":"api-render-template","z":"e3b9f6b1.a1d0c8","name":"Execute Template","server":"bcb6d16b.be84e","template":"{{(as_timestamp(now()) - as_timestamp(states.switch.dining_room.last_changed)) if states.switch.dining_room.state == 'on' else 0}}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":390,"y":200,"wires":[["f37741be.800d1"]]},{"id":"7f4c1b6a.d48104","type":"api-current-state","z":"30de7929.802c66","name":"Kitchen Lights On","server":"bcb6d16b.be84e","outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.kitchen","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":210,"y":140,"wires":[["e56fc132.08256"],[]]},{"id":"97625ac0.a8feb8","type":"api-current-state","z":"30de7929.802c66","name":"Kitchen Table Lights On","server":"bcb6d16b.be84e","outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.kitchen_table","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":230,"y":200,"wires":[["e56fc132.08256"],[]]},{"id":"afe6167f.138958","type":"api-call-service","z":"37ca70b3.1ccd","name":"Turn On Kitchen Table","server":"bcb6d16b.be84e","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.kitchen_table\"}","mergecontext":"","output_location":"","output_location_type":"none","x":620,"y":520,"wires":[[]]},{"id":"bf1cf641.c5b6f8","type":"api-call-service","z":"37ca70b3.1ccd","name":"Turn On Kitchen Table","server":"bcb6d16b.be84e","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.kitchen_table\"}","mergecontext":"","output_location":"","output_location_type":"none","x":1240,"y":480,"wires":[[]]},{"id":"b74e47c5.f3aa38","type":"api-current-state","z":"fa3dc47b.73ac68","name":"Dining Mode","server":"bcb6d16b.be84e","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.dining_room_motion","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":168.99999618530273,"y":28.000000953674316,"wires":[["260414bc.0d035c"]]},{"id":"99bdc5ec.98a038","type":"api-current-state","z":"24ed876f.5e68d8","name":"Living Mode","server":"bcb6d16b.be84e","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_select.living_room_motion","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":163,"y":24,"wires":[["6af6dece.28d34"]]},{"id":"5bfb8611.2f0388","type":"api-current-state","z":"be6daaf.e87f058","name":"Kitchen Lights On","server":"bcb6d16b.be84e","outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.kitchen","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":250,"y":120,"wires":[["f133b53d.2aee58"],[]]},{"id":"40d0e5ac.4f8a7c","type":"api-current-state","z":"be6daaf.e87f058","name":"Kitchen Table Lights On","server":"bcb6d16b.be84e","outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.kitchen_table","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":270,"y":180,"wires":[["f133b53d.2aee58"],[]]},{"id":"57ba9309.c2257c","type":"api-current-state","z":"be6daaf.e87f058","name":"Dining Room Lights On","server":"bcb6d16b.be84e","outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.dining_room","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":270,"y":240,"wires":[["f133b53d.2aee58"],[]]},{"id":"d08b875.cc24178","type":"api-current-state","z":"6e62bbb7.da2654","name":"Light Level","server":"bcb6d16b.be84e","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.kitchen_light_level","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":170,"y":60,"wires":[["f3cd4ad0.4b9c68"]]},{"id":"99aee22e.3db7","type":"api-current-state","z":"49f9131f.8ed8fc","name":"Light Level","server":"bcb6d16b.be84e","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.living_room_light_level","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":141,"y":82.99999809265137,"wires":[["24b0c047.f9cb4"]]},{"id":"ca786a89.748378","type":"api-current-state","z":"49f9131f.8ed8fc","name":"Living Room Light On","server":"bcb6d16b.be84e","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.wemo_switch_2","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":200,"y":140,"wires":[["c837e56d.6edfd8"]]},{"id":"3b1a403c.d6b82","type":"api-call-service","z":"37ca70b3.1ccd","name":"Turn On Living Room","server":"bcb6d16b.be84e","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.wemo_switch_2\"}","mergecontext":"","output_location":"","output_location_type":"none","x":645,"y":613.9999980926514,"wires":[[]]},{"id":"eeb6229e.01ccf","type":"api-call-service","z":"37ca70b3.1ccd","name":"Turn Off Living Room","server":"bcb6d16b.be84e","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.wemo_switch_2\"}","mergecontext":"","output_location":"","output_location_type":"none","x":1272,"y":648.0000143051147,"wires":[[]]},{"id":"706b473.86e06b8","type":"api-call-service","z":"42bda437.8bf3ec","name":"Open Shades","server":"bcb6d16b.be84e","service_domain":"cover","service":"open_cover","data":"{\"entity_id\":\"cover.family_room_shades\"}","mergecontext":"","output_location":"","output_location_type":"none","x":960,"y":120,"wires":[[]]},{"id":"eb2c4adc.2796b8","type":"api-call-service","z":"42bda437.8bf3ec","name":"Close Shades","server":"bcb6d16b.be84e","service_domain":"cover","service":"close_cover","data":"{\"entity_id\":\"cover.family_room_shades\"}","mergecontext":"","output_location":"","output_location_type":"none","x":760,"y":180,"wires":[[]]},{"id":"f6f6117.1b65bf","type":"server-state-changed","z":"42bda437.8bf3ec","name":"Home","server":"bcb6d16b.be84e","entityidfilter":"group.family","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":70,"y":240,"wires":[["6596ada.51c6754"]]},{"id":"dad65627.c62d58","type":"api-current-state","z":"42bda437.8bf3ec","name":"Home Occupied","server":"bcb6d16b.be84e","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.family","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":760,"y":80,"wires":[["706b473.86e06b8"]]},{"id":"225d7e0e.444482","type":"api-current-state","z":"1ae55a97.d30a15","name":"/","server":"bcb6d16b.be84e","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.disk_use_percent","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":330,"y":680,"wires":[["92dfd19b.23a32"]]},{"id":"67dbac4c.95c574","type":"api-current-state","z":"1ae55a97.d30a15","name":"/mnt/backup","server":"bcb6d16b.be84e","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.disk_use_percent_mnt_backup","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":330,"y":720,"wires":[["61440062.f64f"]]},{"id":"671aa447.eef05c","type":"api-current-state","z":"1ae55a97.d30a15","name":"/mnt/share","server":"bcb6d16b.be84e","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.disk_use_percent_mnt_share","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":330,"y":760,"wires":[["b032389c.57f5e8"]]},{"id":"582a46e3.3ffe98","type":"api-call-service","z":"1ae55a97.d30a15","name":"Notify Seth","server":"bcb6d16b.be84e","service_domain":"notify","service":"html5_seths_one_plus_3t","data":"","mergecontext":"","output_location":"","output_location_type":"none","x":1190,"y":680,"wires":[[]]},{"id":"e24951fc.75b15","type":"api-call-service","z":"1ae55a97.d30a15","name":"Notify Seth","server":"bcb6d16b.be84e","service_domain":"notify","service":"html5_seths_one_plus_3t","data":"","mergecontext":"","output_location":"","output_location_type":"none","x":690,"y":1020,"wires":[[]]},{"id":"3d8abc2f.7479f4","type":"api-call-service","z":"c7cc637f.2f28c","name":"Notify Seth","server":"bcb6d16b.be84e","service_domain":"notify","service":"html5_seths_one_plus_3t","data":"","mergecontext":"","output_location":"","output_location_type":"none","x":750,"y":160,"wires":[[]]},{"id":"fb488ead.4e985","type":"server-state-changed","z":"bf06917b.82d12","name":"Bedroom Bed Light","server":"bcb6d16b.be84e","entityidfilter":"light.master_bedroom_bed_light","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":120,"y":120,"wires":[["b344d1e3.2ef0a"]]},{"id":"bd231c36.b252d","type":"api-call-service","z":"bf06917b.82d12","name":"Change light from 0% to 100%","server":"bcb6d16b.be84e","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.master_bedroom_bed_light\",\"white_value\":255,\"rgb_color\":[0,0,0]}","mergecontext":"","output_location":"","output_location_type":"none","x":570,"y":120,"wires":[[]]},{"id":"324c016e.525ece","type":"api-current-state","z":"f096674e.b4e168","name":"Ecobee","server":"bcb6d16b.be84e","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"climate.bigbee","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":318,"y":333,"wires":[["d92888d6.9b81e8","83ed6a6e.1b4788"]]},{"id":"2b74fd23.8d3092","type":"api-current-state","z":"f096674e.b4e168","name":"Tomorrow's High","server":"bcb6d16b.be84e","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.dark_sky_daytime_high_temperature_1d","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":768,"y":53,"wires":[["22950c37.da5094"]]},{"id":"a69dee4a.29185","type":"api-call-service","z":"f096674e.b4e168","name":"Notify","server":"bcb6d16b.be84e","service_domain":"notify","service":"html5","data":"","mergecontext":"","output_location":"","output_location_type":"none","x":370,"y":120,"wires":[[]]},{"id":"c8ab7e4f.105e7","type":"server-state-changed","z":"1ae55a97.d30a15","name":"Swap","server":"bcb6d16b.be84e","entityidfilter":"sensor.swap_use_percent","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":350,"y":820,"wires":[["356aeb2c.6fdb54"]]},{"id":"cc9e7290.227cc","type":"api-call-service","z":"3d9442da.6e01ee","name":"Turn On Porch","server":"bcb6d16b.be84e","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.front_porch\"}","mergecontext":"","output_location":"","output_location_type":"none","x":800,"y":220,"wires":[[]]},{"id":"84eb0290.77acc","type":"api-call-service","z":"3d9442da.6e01ee","name":"Turn Off Porch","server":"bcb6d16b.be84e","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.front_porch\"}","mergecontext":"","output_location":"","output_location_type":"none","x":1000,"y":260,"wires":[[]]},{"id":"37683100.ab282","type":"api-call-service","z":"3d9442da.6e01ee","name":"Resume Ecobee","server":"bcb6d16b.be84e","service_domain":"climate","service":"ecobee_resume_program","data":"{\"entity_id\":\"climate.bigbee\"}","mergecontext":"","output_location":"","output_location_type":"none","x":1030,"y":80,"wires":[["d25e59b0.28e018"]]},{"id":"cdb7601f.4c586","type":"switch","z":"f90ad8d5.5a1c18","name":"","property":"filename","propertyType":"msg","rules":[{"t":"cont","v":"cred","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":550,"y":100,"wires":[[],["2b3802e.9c8bbfe"]]},{"id":"663c596e.1f3b68","type":"debug","z":"f90ad8d5.5a1c18","name":"","active":false,"console":"false","complete":"true","x":950,"y":20,"wires":[]},{"id":"803780c7.b88de","type":"api-current-state","z":"f096674e.b4e168","name":"Today's High","server":"bcb6d16b.be84e","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.dark_sky_daytime_high_temperature_0d","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":950,"y":100,"wires":[["1239b4b1.7bf82b"]]},{"id":"6aab02a9.386d9c","type":"api-current-state","z":"f096674e.b4e168","name":"Tomorrow's High","server":"bcb6d16b.be84e","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.dark_sky_daytime_high_temperature_1d","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":776,"y":208,"wires":[["324cff85.5557a"]]},{"id":"3f23387b.91f5f8","type":"api-current-state","z":"f096674e.b4e168","name":"Today's High","server":"bcb6d16b.be84e","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.dark_sky_daytime_high_temperature_0d","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":756,"y":250,"wires":[["ede35d45.ff69b"]]},{"id":"93eee247.5748e","type":"api-current-state","z":"f096674e.b4e168","name":"Tomorrow's High","server":"bcb6d16b.be84e","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.dark_sky_daytime_high_temperature_1d","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":774,"y":364,"wires":[["1249e7ad.9221b8"]]},{"id":"ae273165.3562","type":"api-current-state","z":"f096674e.b4e168","name":"Today's High","server":"bcb6d16b.be84e","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.dark_sky_daytime_high_temperature_0d","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":754,"y":404,"wires":[["863e35f5.085ae8"]]},{"id":"ab5ea796.eff3a8","type":"api-current-state","z":"f096674e.b4e168","name":"Tomorrow's High","server":"bcb6d16b.be84e","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.dark_sky_daytime_high_temperature_1d","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":777,"y":523,"wires":[["212ce4f3.1057bc"]]},{"id":"26b59e88.975332","type":"api-current-state","z":"f096674e.b4e168","name":"Today's High","server":"bcb6d16b.be84e","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.dark_sky_daytime_high_temperature_0d","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":757,"y":563,"wires":[["eba43172.12aa7"]]},{"id":"a7ce029b.6ed9a","type":"server-events","z":"f096674e.b4e168","name":"HTML5 Clicked","server":"bcb6d16b.be84e","event_type":"html5_notification.clicked","x":100,"y":820,"wires":[["4ece06c7.4100d8"]]},{"id":"c42ea1ab.a7cac","type":"api-call-service","z":"f096674e.b4e168","name":"Turn Ecobee Off","server":"bcb6d16b.be84e","service_domain":"climate","service":"set_operation_mode","data":"{\"entity_id\":\"climate.bigbee\",\"operation_mode\":\"off\"}","mergecontext":"","output_location":"","output_location_type":"none","x":1258,"y":253,"wires":[[]]},{"id":"220d63a6.f6a1cc","type":"api-call-service","z":"f096674e.b4e168","name":"Turn Ecobee Cool","server":"bcb6d16b.be84e","service_domain":"climate","service":"set_operation_mode","data":"{\"entity_id\":\"climate.bigbee\",\"operation_mode\":\"cool\"}","mergecontext":"","output_location":"","output_location_type":"none","x":650,"y":860,"wires":[[]]},{"id":"39bb4f3.db896b","type":"api-call-service","z":"f096674e.b4e168","name":"Turn Ecobee Heat","server":"bcb6d16b.be84e","service_domain":"climate","service":"set_operation_mode","data":"{\"entity_id\":\"climate.bigbee\",\"operation_mode\":\"heat\"}","mergecontext":"","output_location":"","output_location_type":"none","x":650,"y":820,"wires":[[]]},{"id":"cd4dd3d9.e8dab","type":"api-call-service","z":"f096674e.b4e168","name":"Turn Ecobee Off","server":"bcb6d16b.be84e","service_domain":"climate","service":"set_operation_mode","data":"{\"entity_id\":\"climate.bigbee\",\"operation_mode\":\"off\"}","mergecontext":"","output_location":"","output_location_type":"none","x":640,"y":780,"wires":[[]]},{"id":"3d09c6c0.1fd97a","type":"api-call-service","z":"f096674e.b4e168","name":"Turn Ecobee Off","server":"bcb6d16b.be84e","service_domain":"climate","service":"set_operation_mode","data":"{\"entity_id\":\"climate.bigbee\",\"operation_mode\":\"off\"}","mergecontext":"","output_location":"","output_location_type":"none","x":1258,"y":413,"wires":[[]]},{"id":"8a075a40.74cd68","type":"api-call-service","z":"f096674e.b4e168","name":"Turn Ecobee Heat","server":"bcb6d16b.be84e","service_domain":"climate","service":"set_operation_mode","data":"{\"entity_id\":\"climate.bigbee\",\"operation_mode\":\"heat\"}","mergecontext":"","output_location":"","output_location_type":"none","x":1268,"y":573,"wires":[[]]},{"id":"4a636972.321398","type":"api-call-service","z":"f096674e.b4e168","name":"Turn Ecobee Cool","server":"bcb6d16b.be84e","service_domain":"climate","service":"set_operation_mode","data":"{\"entity_id\":\"climate.bigbee\",\"operation_mode\":\"cool\"}","mergecontext":"","output_location":"","output_location_type":"none","x":1428,"y":93,"wires":[[]]},{"id":"311b90d3.e2931","type":"api-current-state","z":"f096674e.b4e168","name":"Snow Tomorrow","server":"bcb6d16b.be84e","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.dark_sky_precip_accumulation_1d","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":144,"y":490,"wires":[["16d91eda.619a41"]]},{"id":"55ad834c.85c2ac","type":"api-current-state","z":"f096674e.b4e168","name":"Wind Tomorrow","server":"bcb6d16b.be84e","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.dark_sky_wind_speed_1d","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":141,"y":587,"wires":[["d589fb74.764a18"]]},{"id":"3c5c532f.e4838c","type":"server-state-changed","z":"3d9442da.6e01ee","name":"Christy's Phone","server":"bcb6d16b.be84e","entityidfilter":"input_select.seths_location","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":100,"y":480,"wires":[["c8bae6fe.6be4b8"]]},{"id":"9cdc22a2.5cfc9","type":"server-state-changed","z":"3d9442da.6e01ee","name":"Seth's Phone","server":"bcb6d16b.be84e","entityidfilter":"input_select.seths_location","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":90,"y":400,"wires":[["c8bae6fe.6be4b8"]]},{"id":"1aed5635.7f671a","type":"api-current-state","z":"3d9442da.6e01ee","name":"Seth at Parents?","server":"bcb6d16b.be84e","outputs":2,"halt_if":"parentsHouse","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"device_tracker.7ac50169","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":330,"y":20,"wires":[["dee8dbaa.558688"],[]]},{"id":"dee8dbaa.558688","type":"throttle","z":"3d9442da.6e01ee","name":"","throttleType":"time","timeLimit":"5","timeLimitType":"seconds","countLimit":0,"blockSize":0,"locked":false,"x":510,"y":40,"wires":[["8719b374.f41fb"]]},{"id":"979fec59.8457b","type":"api-current-state","z":"3d9442da.6e01ee","name":"Christy at Parents?","server":"bcb6d16b.be84e","outputs":2,"halt_if":"parentsHouse","halt_if_type":"str","halt_if_compare":"is_not","override_topic":false,"entity_id":"device_tracker.lgus9978cc74d43","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":330,"y":60,"wires":[["dee8dbaa.558688"],[]]},{"id":"5f068fd4.48a0b","type":"api-current-state","z":"f096674e.b4e168","name":"House Occupied","server":"bcb6d16b.be84e","outputs":2,"halt_if":"away","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.all_devices","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":770,"y":100,"wires":[["803780c7.b88de"],[]]},{"id":"96d505f7.006528","type":"api-current-state","z":"1ae55a97.d30a15","name":"Guest Count","server":"bcb6d16b.be84e","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.guest_count","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":250,"y":60,"wires":[["73e8f184.1362a"]]},{"id":"16af2b39.7c0fb5","type":"api-call-service","z":"1ae55a97.d30a15","name":"Turn Off All","server":"bcb6d16b.be84e","service_domain":"script","service":"script.turn_off_all","data":"","mergecontext":"","output_location":"","output_location_type":"none","x":530,"y":40,"wires":[[]]},{"id":"9d05165.e8ba8e8","type":"api-call-service","z":"994bcb17.c990b8","name":"Notify","server":"bcb6d16b.be84e","service_domain":"notify","service":"html5","data":"","mergecontext":"","output_location":"","output_location_type":"none","x":910,"y":100,"wires":[[]]},{"id":"27ff9b3e.e7ac94","type":"server-events","z":"994bcb17.c990b8","name":"HTML5 Clicked","server":"bcb6d16b.be84e","event_type":"html5_notification.clicked","x":100,"y":320,"wires":[["5f212728.f30198"]]},{"id":"603b64a0.3666cc","type":"api-current-state","z":"6425f89.f9f3b08","name":"Timer On?","server":"bcb6d16b.be84e","outputs":2,"halt_if":"false","halt_if_type":"bool","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.pool_pump_timer_enabled","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":270,"y":120,"wires":[["dbbbe5f2.9b4238"],[]]},{"id":"d5c5035d.7bb6c","type":"api-call-service","z":"6425f89.f9f3b08","name":"Pump","server":"bcb6d16b.be84e","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.pool_pump\"}","mergecontext":"","output_location":"","output_location_type":"none","x":770,"y":120,"wires":[[]]},{"id":"dbbbe5f2.9b4238","type":"api-current-state","z":"6425f89.f9f3b08","name":"Pool Pump","server":"bcb6d16b.be84e","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"switch.pool_pump","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":450,"y":120,"wires":[["b1ab6f22.04945"]]},{"id":"ffbb4ef.b4c09b","type":"api-render-template","z":"6425f89.f9f3b08","name":"Off Time Text","server":"bcb6d16b.be84e","template":"{{now().replace(hour=(now().hour+2)%24).strftime(\"%I:%M %p\")}}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":470,"y":180,"wires":[["c81848a2.76e468"]]},{"id":"1c7b1b54.8ef6d5","type":"server-state-changed","z":"6425f89.f9f3b08","name":"Pool Pump Off","server":"bcb6d16b.be84e","entityidfilter":"switch.pool_pump","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"false","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":440,"y":220,"wires":[["afad69f.8ed9298"],[]]},{"id":"2e9e9637.42239a","type":"api-current-state","z":"6943dccf.4adf14","name":"Home Occupied","server":"bcb6d16b.be84e","outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"group.all_devices","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":500,"y":120,"wires":[["330f4778.722e28","14f15a21.770146"],[]]},{"id":"330f4778.722e28","type":"api-call-service","z":"6943dccf.4adf14","name":"Notify","server":"bcb6d16b.be84e","service_domain":"notify","service":"html5","data":"{\"message\":\"Everyone Left, Running Eufy\", \"title\": \"Starting Eufy\"}","mergecontext":"","output_location":"","output_location_type":"none","x":670,"y":80,"wires":[[]]},{"id":"b37dfd97.3c483","type":"api-call-service","z":"6943dccf.4adf14","name":"Start Eufy","server":"bcb6d16b.be84e","service_domain":"remote","service":"send_command","data":"{\"entity_id\":\"remote.familyroom\",\"device\":60463993,\"command\":\"Start\"}","mergecontext":"","output_location":"","output_location_type":"none","x":860,"y":180,"wires":[[]]},{"id":"a9306b7f.682d98","type":"api-call-service","z":"6943dccf.4adf14","name":"Notify","server":"bcb6d16b.be84e","service_domain":"notify","service":"html5","data":"{\"message\":\"TV Off, Running Eufy\", \"title\": \"Starting Eufy\"}","mergecontext":"","output_location":"","output_location_type":"none","x":650,"y":240,"wires":[[]]},{"id":"eea8c688.7437c8","type":"api-call-service","z":"6943dccf.4adf14","name":"Stop Eufy","server":"bcb6d16b.be84e","service_domain":"remote","service":"send_command","data":"{\"entity_id\":\"remote.familyroom\",\"device\":60463993,\"command\":\"Stop\"}","mergecontext":"","output_location":"","output_location_type":"none","x":240,"y":340,"wires":[[]]},{"id":"f773e060.e088d","type":"server-state-changed","z":"cd61eba5.1d17e8","name":"Inside Garage Door","server":"bcb6d16b.be84e","entityidfilter":"binary_sensor.inside_garage_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"false","halt_if_type":"bool","halt_if_compare":"is","outputs":2,"output_only_on_state_change":true,"x":110,"y":80,"wires":[["5decbe67.efd6"],[]]},{"id":"5decbe67.efd6","type":"api-call-service","z":"cd61eba5.1d17e8","name":"Turn On Garage Light","server":"bcb6d16b.be84e","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.garage\"}","mergecontext":"","output_location":"","output_location_type":"none","x":350,"y":80,"wires":[[]]},{"id":"a53b9bb.3b3f568","type":"server-state-changed","z":"cd61eba5.1d17e8","name":"Outside Garage Door","server":"bcb6d16b.be84e","entityidfilter":"binary_sensor.garage_door","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"x":120,"y":200,"wires":[["720f38b0.5f37b8"]]},{"id":"2f725c77.ef5e24","type":"api-call-service","z":"cd61eba5.1d17e8","name":"Notify","server":"bcb6d16b.be84e","service_domain":"notify","service":"html5","data":"{\"message\":\"Garage Door is Open\"}","mergecontext":"","output_location":"","output_location_type":"none","x":730,"y":200,"wires":[[]]},{"id":"a2f278b6.221f18","type":"bigtimer","z":"ab7335c3.520b68","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Morning Outside Lights","lat":"43.1387","lon":"-76.23631","starttime":"5003","endtime":"5003","startoff":"-60","endoff":"+20","offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":290,"y":140,"wires":[["9bd39a80.5f5aa8"],[],[]]},{"id":"9bd39a80.5f5aa8","type":"switch","z":"ab7335c3.520b68","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","outputs":2,"x":504,"y":128.5,"wires":[[],[]]},{"id":"d3e9cdd5.bc7d8","type":"api-call-service","z":"ab7335c3.520b68","name":"Outside Lights On","server":"bcb6d16b.be84e","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.extension_2\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":730,"y":93.5,"wires":[[]]},{"id":"67c48e60.96372","type":"api-call-service","z":"ab7335c3.520b68","name":"Outside Lights Off","server":"bcb6d16b.be84e","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.extension_2\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":728,"y":160.5,"wires":[[]]},{"id":"bad277f.f4d0c88","type":"bigtimer","z":"ab7335c3.520b68","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Morning Christmas Tree","lat":"43.1387","lon":"-76.23631","starttime":"450","endtime":"570","startoff":"0","endoff":"0","offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":298,"y":398.5,"wires":[["d8ff3d69.5445b"],[],[]]},{"id":"d8ff3d69.5445b","type":"switch","z":"ab7335c3.520b68","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","outputs":2,"x":512,"y":383.5,"wires":[["a6c16aeb.7f7158"],["95d9d3d8.399cf"]]},{"id":"a6c16aeb.7f7158","type":"api-call-service","z":"ab7335c3.520b68","name":"Christmas Tree On","server":"bcb6d16b.be84e","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.extension_1\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":738,"y":348.5,"wires":[[]]},{"id":"95d9d3d8.399cf","type":"api-call-service","z":"ab7335c3.520b68","name":"Christmas Tree Off","server":"bcb6d16b.be84e","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.extension_1\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":736,"y":415.5,"wires":[[]]},{"id":"fdca1d9d.a7aff","type":"bigtimer","z":"ab7335c3.520b68","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Evening Lights","lat":"43.1387","lon":"-76.23631","starttime":"5004","endtime":"1380","startoff":"-30","endoff":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":268,"y":266,"wires":[["9bd39a80.5f5aa8","d8ff3d69.5445b"],[],[]]},{"id":"55b76e1a.353db","type":"api-call-service","z":"ab7335c3.520b68","name":"Christmas Tree Toggle","server":"bcb6d16b.be84e","service_domain":"switch","service":"toggle","data":"{\"entity_id\":\"switch.extension_1\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":760,"y":660,"wires":[[]]},{"id":"662a58cf.5da3d8","type":"api-current-state","z":"ab7335c3.520b68","name":"Water Level","server":"bcb6d16b.be84e","outputs":2,"halt_if":"full","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"sensor.christmas_tree_water_level_text","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":730,"y":740,"wires":[["ccae8202.213b7"],[]]},{"id":"e1a715bd.54c3f8","type":"api-call-service","z":"ab7335c3.520b68","name":"Notify","server":"bcb6d16b.be84e","service_domain":"notify","service":"html5","data":"{\"message\": \"Christmas Tree\", \"data\": {\"tag\": \"christmas_tree\"}}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":930,"y":520,"wires":[[]]},{"id":"b642bab5.5043d8","type":"server-state-changed","z":"ab7335c3.520b68","name":"Christmas Tree Water Level","server":"bcb6d16b.be84e","entityidfilter":"sensor.christmas_tree_water_level_text","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":120,"y":540,"wires":[["4e5c3fc9.97c8b"]]},{"id":"993fe1cd.ad424","type":"api-call-service","z":"42bda437.8bf3ec","name":"Turn On Bias Light","server":"bcb6d16b.be84e","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.tv_bias_light\",\"white_value\":150,\"rgb_color\":[0,0,50]}","mergecontext":"","output_location":"","output_location_type":"none","x":710,"y":320,"wires":[[]]},{"id":"92b56c6a.32184","type":"api-call-service","z":"42bda437.8bf3ec","name":"Turn Off Bias Light","server":"bcb6d16b.be84e","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.tv_bias_light\"}","mergecontext":"","output_location":"","output_location_type":"none","x":710,"y":360,"wires":[[]]},{"id":"de4d119c.eb75d","type":"api-call-service","z":"4a997387.5b288c","name":"Notify Christy","server":"bcb6d16b.be84e","service_domain":"notify","service":"html5_christys_lg_g2","data":"{\"message\":\"Avery needs her medicine\"}","mergecontext":"","output_location":"","output_location_type":"none","x":400,"y":80,"wires":[[]]},{"id":"875617d8.462568","type":"api-current-state","z":"4a997387.5b288c","name":"Guest Count","server":"bcb6d16b.be84e","outputs":2,"halt_if":"0","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"sensor.guest_count","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":410,"y":180,"wires":[["235e1270.0a761e"],[]]},{"id":"d4a660b8.d0bc9","type":"server-events","z":"2878bef7.9eec62","name":"HTML5 Clicked","server":"bcb6d16b.be84e","event_type":"html5_notification.clicked","x":170,"y":226.99999809265137,"wires":[["181206df.1ad0e9"]]},{"id":"576fa4b3.4e14fc","type":"api-call-service","z":"2878bef7.9eec62","name":"Notify","server":"bcb6d16b.be84e","version":"1","debugenabled":false,"service_domain":"notify","service":"html5","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":770,"y":100,"wires":[[]]},{"id":"f1faae6f.36b94","type":"api-call-service","z":"2878bef7.9eec62","name":"Notify","server":"bcb6d16b.be84e","service_domain":"notify","service":"html5","data":"","mergecontext":"","output_location":"","output_location_type":"none","x":890,"y":500,"wires":[[]]},{"id":"310568ff.231b38","type":"api-call-service","z":"3d9442da.6e01ee","name":"Click to Cancel Resume","server":"bcb6d16b.be84e","service_domain":"notify","service":"html5","data":"{\"title\": \"Ecobee Resumed\", \"message\": \"Location Change Detected, turning on Heat/AC\", \"data\": {\"tag\": \"ecobee_location_change\", \"actions\": [{\"action\": \"cancel_ecobee_home\", \"title\": \"Cancel Resume\"}]}}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":890,"y":40,"wires":[[]]},{"id":"e18aacb9.e267d","type":"server-state-changed","z":"3d9442da.6e01ee","name":"Home Occupied","server":"bcb6d16b.be84e","entityidfilter":"group.all_devices","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":140,"y":260,"wires":[["38acf50e.38b4ca"]]},{"id":"b43d6b02.e82658","type":"api-call-service","z":"3d9442da.6e01ee","name":"Turn Off All","server":"bcb6d16b.be84e","service_domain":"script","service":"turn_on","data":"{\"entity_id\":\"script.turn_off_all\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":490,"y":140,"wires":[[]]},{"id":"70590b8e.71d3b4","type":"api-call-service","z":"3d9442da.6e01ee","name":"Ecobee Away Mode","server":"bcb6d16b.be84e","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.ecobee_away_mode\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":520,"y":180,"wires":[[]]},{"id":"c2c66c0d.8216e","type":"api-call-service","z":"3d9442da.6e01ee","name":"Ecobee Resume Program","server":"bcb6d16b.be84e","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\":\"script.ecobee_resume_program\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":570,"y":220,"wires":[[]]},{"id":"69b583d9.fae9ac","type":"api-current-state","z":"3d9442da.6e01ee","name":"Christy Home","server":"bcb6d16b.be84e","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"input_select.christys_location","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1000,"y":360,"wires":[["b76e7113.27896"]]},{"id":"b76e7113.27896","type":"switch","z":"3d9442da.6e01ee","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"}],"checkall":"true","outputs":1,"x":1170,"y":340,"wires":[["47224534.ac8f2c"]]},{"id":"47224534.ac8f2c","type":"api-call-service","z":"3d9442da.6e01ee","name":"notify Christy","server":"bcb6d16b.be84e","service_domain":"notify","service":"html5_christys_lg_g2","data":"{\"title\":\"Heading Out\", \"message\": \"Seth Left Work\",\"data\": {\"tag\": \"seth_left_work\"}}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1310,"y":340,"wires":[[]]},{"id":"6b559d43.a5caa4","type":"api-current-state","z":"3d9442da.6e01ee","name":"Anyone Home?","server":"bcb6d16b.be84e","outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"group.family","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1140,"y":400,"wires":[["5fa2da07.8029a4"],[]]},{"id":"b8dc82b5.2564b","type":"api-current-state","z":"3d9442da.6e01ee","name":"Seth Not Home","server":"bcb6d16b.be84e","outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"device_tracker.sethsphone","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":860,"y":480,"wires":[["26f9df1a.f6996"],[]]},{"id":"26f9df1a.f6996","type":"api-call-service","z":"3d9442da.6e01ee","name":"notify Seth","server":"bcb6d16b.be84e","service_domain":"notify","service":"html5","data":"{\"target\": \"seths_one_plus_3t\",\"message\": \"Christy is now home\",\"data\": {\"tag\": \"christ_is_home\"}}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1035,"y":480,"wires":[[]]},{"id":"d25e59b0.28e018","type":"api-call-service","z":"3d9442da.6e01ee","name":"Set hold Home","server":"bcb6d16b.be84e","service_domain":"climate","service":"set_hold_mode","data":"{\"entity_id\":\"climate.bigbee\",\"hold_mode\":\"home\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1240,"y":80,"wires":[[]]},{"id":"1e8e2d4f.9dc4f3","type":"server-state-changed","z":"3d9442da.6e01ee","name":"Device Home","server":"bcb6d16b.be84e","entityidfilter":"device_tracker","entityidfiltertype":"substring","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":81,"y":880,"wires":[["eadf6028.607bb"]]},{"id":"ef26bb9c.0f2b08","type":"api-render-template","z":"3d9442da.6e01ee","name":"Family List","server":"bcb6d16b.be84e","template":"{%-for entities in states.group.family.attributes.entity_id-%}\n{%-if states.device_tracker[entities.split('.')[1]].state == 'home'-%}\n{{entities}}\n{%endif-%}\n{%endfor-%}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":510,"y":860,"wires":[["bcb106d8.13d008"]]},{"id":"cb6c38a7.2f70e8","type":"api-render-template","z":"3d9442da.6e01ee","name":"Devices List","server":"bcb6d16b.be84e","template":"{%-for entities in states.group.all_devices.attributes.entity_id-%}\n{%-if states.device_tracker[entities.split('.')[1]].state == 'home'-%}\n{{entities}}\n{%endif-%}\n{%-endfor-%}","resultsLocation":"payload","resultsLocationType":"msg","templateLocation":"template","templateLocationType":"msg","x":507.25,"y":908,"wires":[["bcb106d8.13d008"]]},{"id":"7b996009.2bd5c","type":"server-state-changed","z":"3d9442da.6e01ee","name":"Travel Time Updated Christy->Seth","server":"bcb6d16b.be84e","entityidfilter":"sensor.travel_time_christy_to_seth","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":160,"y":1120,"wires":[["51ac44eb.76eacc"]]},{"id":"51ac44eb.76eacc","type":"api-current-state","z":"3d9442da.6e01ee","name":"Should Notify Seth","server":"bcb6d16b.be84e","outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"input_boolean.notify_travel_time_christy_to_seth","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":411,"y":1122,"wires":[["c1c6361c.2ee6e8"],[]]},{"id":"e37be48.f6e7818","type":"api-current-state","z":"3d9442da.6e01ee","name":"Should Notify Christy","server":"bcb6d16b.be84e","outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"input_boolean.notify_travel_time_seth_to_christy","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":416,"y":1039,"wires":[["6578b42d.6bb6bc"],[]]},{"id":"8e5b3da3.f3765","type":"server-state-changed","z":"3d9442da.6e01ee","name":"Travel Time Updated Seth->Christy","server":"bcb6d16b.be84e","entityidfilter":"sensor.travel_time_seth_to_christy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":false,"x":160,"y":1039,"wires":[["e37be48.f6e7818"]]},{"id":"decbfcbd.6fb28","type":"api-current-state","z":"3d9442da.6e01ee","name":"Travel Time","server":"bcb6d16b.be84e","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"sensor.travel_time_christy_to_seth","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":731,"y":1123,"wires":[["85d3fc02.0de62"]]},{"id":"ccf79939.01e918","type":"api-call-service","z":"3d9442da.6e01ee","name":"Notification Off","server":"bcb6d16b.be84e","service_domain":"input_boolean","service":"turn_off","data":"{\"entity_id\":\"input_boolean.notify_travel_time_christy_to_seth\"}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1124,"y":1121,"wires":[[]]},{"id":"49edfab8.593e34","type":"api-current-state","z":"3d9442da.6e01ee","name":"Travel Time","server":"bcb6d16b.be84e","outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","override_topic":true,"entity_id":"sensor.travel_time_seth_to_christy","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":740,"y":1039,"wires":[["85d3fc02.0de62"]]},{"id":"85d3fc02.0de62","type":"function","z":"3d9442da.6e01ee","name":"Format Notification","func":"var notification = {};\nvar turn_off_notification = null;\n\nvar traveler = \"Seth\";\nvar destination = \"Christy\";\nvar phone = \"christys_lg_g2\";\nvar message = \"\";\nvar title = \"\";\nvar renotify = false;\nif(msg.topic.endsWith(\"seth\"))\n{\n    phone = \"seths_one_plus_3t\";\n    traveler = \"Christy\";\n    destination = \"Seth\";\n}\nif(Number(msg.payload) < 3)\n{\n    title = traveler+\" is here.\";\n    message = \"Travel time is 2 minutes or less.\";\n    renotify = true;\n    var entity_id = \"input_boolean.notify_travel_time_\"+traveler.toLowerCase()+\"_to_\"+destination.toLowerCase();\n    turn_off_notification = {payload: {\"data\":{\"entity_id\": entity_id}}};\n}\nelse\n{\n    title = traveler+\" will be here in \"+msg.payload+\" minutes.\";\n    message = \"Estimated travel time.\";\n}\nvar tag = traveler+\"_to_\"+destination;\nnotification = {payload: {\"data\": {\"target\": phone, \"title\": title, \"message\": message, \"data\":{\"tag\":tag, \"renotify\":renotify}}}};\n\nreturn [notification, turn_off_notification];","outputs":"2","noerr":0,"x":917,"y":1078,"wires":[["e8006d58.430a8","9b107766.116178"],["ccf79939.01e918"]]},{"id":"c1c6361c.2ee6e8","type":"delay","z":"3d9442da.6e01ee","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":580,"y":1122,"wires":[["decbfcbd.6fb28"]]},{"id":"e8006d58.430a8","type":"api-call-service","z":"3d9442da.6e01ee","name":"Notify Phone","server":"bcb6d16b.be84e","service_domain":"notify","service":"html5","data":"{}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":1116,"y":1067,"wires":[[]]},{"id":"9b107766.116178","type":"debug","z":"3d9442da.6e01ee","name":"","active":false,"console":"false","complete":"true","x":1085,"y":1025,"wires":[]},{"id":"6578b42d.6bb6bc","type":"delay","z":"3d9442da.6e01ee","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":593,"y":1039,"wires":[["49edfab8.593e34"]]},{"id":"a15adcbe.c366d","type":"comment","z":"3d9442da.6e01ee","name":"Travel Time update between seth and christy send html5 notification","info":"","x":713,"y":993.4999856948853,"wires":[]},{"id":"943bcca0.9f504","type":"mqtt in","z":"3d9442da.6e01ee","name":"Location Info","topic":"sdpinter/location/#","qos":"0","broker":"14ced623.01764a","x":110,"y":1220,"wires":[["4fe11456.069f8c","a9f53739.7e8628"]]},{"id":"a9f53739.7e8628","type":"debug","z":"3d9442da.6e01ee","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":692,"y":1274,"wires":[]},{"id":"ba44ed0f.59cbc","type":"template","z":"3d9442da.6e01ee","name":"Set Data","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"data\": {\n    \"dev_id\": \"{{dev_id}}\",\n    \"location_name\": \"{{payload.location}}\"\n    }\n}","output":"json","x":552,"y":1220,"wires":[["a9f53739.7e8628","df0e8b99.9fa228"]]},{"id":"df0e8b99.9fa228","type":"api-call-service","z":"3d9442da.6e01ee","name":"Set Room Location","server":"bcb6d16b.be84e","service_domain":"device_tracker","service":"see","data":"{}","mergecontext":"","output_location":"payload","output_location_type":"msg","x":728,"y":1220,"wires":[[]]},{"id":"4fe11456.069f8c","type":"json","z":"3d9442da.6e01ee","name":"","property":"payload","action":"","pretty":false,"x":248,"y":1220,"wires":[["2a48725.93fc88e"]]},{"id":"2a48725.93fc88e","type":"function","z":"3d9442da.6e01ee","name":"Get Device ID","func":"topic = msg.topic.split(\"/\")\ndevice = topic[topic.length-1]+\"_internal\"\nnode.status({fill:\"green\",shape:\"dot\",text:device});\nmsg.dev_id = device\nreturn msg;","outputs":1,"noerr":0,"x":394,"y":1220,"wires":[["ba44ed0f.59cbc"]]},{"id":"5cb0f2d2.9c235c","type":"api-current-state","z":"a52e9553.e94c48","name":"Kitchen Motion","server":"bcb6d16b.be84e","outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","override_topic":false,"entity_id":"input_boolean.kitchen_motion","state_type":"str","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":180,"y":40,"wires":[[],[]]},{"id":"51f913c5.4686fc","type":"fs-file-lister","z":"f90ad8d5.5a1c18","name":".homeassistant","start":"/share/homeassistant","pattern":"*","path":true,"single":true,"depth":"10","stat":false,"x":300,"y":360,"wires":[["c8314f32.b2e35"]]},{"id":"82e43e02.689a3","type":"file in","z":"f90ad8d5.5a1c18","name":"Get File","filename":"","format":"utf8","chunk":false,"sendError":false,"x":688,"y":399,"wires":[["a88fea.94f6b018","c3bf2e29.2022a"]]},{"id":"c8314f32.b2e35","type":"function","z":"f90ad8d5.5a1c18","name":"extract files and set filename parameter","func":"var returnMsgs = [];\nfor(i = 0; i < msg.payload.length; i++)\n{\n    var newMsg = {filename: msg.payload[i],\n                  gitPath: msg.payload[i].replace(\"/data/\", \"\")};\n    returnMsgs.push(newMsg);\n}\nreturn [returnMsgs];","outputs":1,"noerr":0,"x":600,"y":340,"wires":[["3b9ca05f.4fe1","fb447206.d3bc6"]]},{"id":"5ca9122d.9be36c","type":"github-repo","z":"f90ad8d5.5a1c18","github":"18823656.f5797a","name":"","username":"nordlead2005","usernameType":"str","repository":"home-assistant-config","repositoryType":"str","action":"write","branch":"master","branchType":"str","path":"gitPath","pathType":"msg","pathto":"","pathtoType":"str","contents":"payload","contentsType":"msg","outputs":"0","x":778,"y":559,"wires":[]},{"id":"a8cb2878.fdb348","type":"inject","z":"f90ad8d5.5a1c18","name":"Nightly Backup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 01 * * *","once":false,"x":109,"y":360,"wires":[["51f913c5.4686fc"]]},{"id":"a88fea.94f6b018","type":"delay","z":"f90ad8d5.5a1c18","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":860,"y":400,"wires":[[]]},{"id":"c3bf2e29.2022a","type":"debug","z":"f90ad8d5.5a1c18","name":"","active":true,"console":"false","complete":"true","x":578,"y":479,"wires":[]},{"id":"3b9ca05f.4fe1","type":"switch","z":"f90ad8d5.5a1c18","name":"","property":"filename","propertyType":"msg","rules":[{"t":"cont","v":"cred","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":538,"y":399,"wires":[[],["82e43e02.689a3"]]},{"id":"fb447206.d3bc6","type":"debug","z":"f90ad8d5.5a1c18","name":"","active":false,"console":"false","complete":"true","x":938,"y":319,"wires":[]},{"id":"b73849de.d9fc88","type":"function","z":"f90ad8d5.5a1c18","name":"filter files based on .gitignore","func":"","outputs":2,"noerr":0,"x":380,"y":520,"wires":[[],[]]},{"id":"403e0bfd.37cb84","type":"inject","z":"8c206717.a2b1c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":700,"wires":[["26a57faf.d9ac3"]]},{"id":"26a57faf.d9ac3","type":"function","z":"8c206717.a2b1c8","name":"worth","func":"var require = global.get('require');\nvar request = require('modern-rcon');\n\nvar server = 'pc-server2'\nvar rcon = new request(server, 'minecraft');\nrcon.connect().then(() =>\n{\n    rcon.send('setworth diamond 200').then(res => {\n        msg = {payload: {\n                        worth: res,\n                        },\n               server: server\n              };\n        node.send(msg);\n    }, () => {\n        node.warn(\"Failed to send to \"+server);\n    });\n}, () =>\n{\n    node.error(\"Failed to connect to \"+server);\n});\nrcon.disconnect();","outputs":1,"noerr":0,"x":270,"y":700,"wires":[["903954ad.3bcde8"]]},{"id":"903954ad.3bcde8","type":"debug","z":"8c206717.a2b1c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":410,"y":700,"wires":[]},{"id":"5685a064.4865c","type":"http request","z":"3f4b0de7.1a15d2","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","authType":"basic","x":170,"y":120,"wires":[[]]},{"id":"2d693356.b4623c","type":"http response","z":"3f4b0de7.1a15d2","name":"","statusCode":"","headers":{},"x":620,"y":120,"wires":[]},{"id":"8381eba.de50e18","type":"debug","z":"8c206717.a2b1c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":610,"y":40,"wires":[]},{"id":"d5635db2.9a1bd","type":"function","z":"8c206717.a2b1c8","name":"Player Count Join/Leave","func":"var mcServer = msg.payload.minecraftServer\nvar mcPlayers = mcServer+\"Players\"\nvar oldPlayers = flow.get(mcPlayers) || [];\nflow.set(mcPlayers, msg.payload.players);\n\nvar playersLeft = oldPlayers.filter(player => !msg.payload.players.includes(player));\nvar playersJoined = msg.payload.players.filter(player => !oldPlayers.includes(player));\n\nmsg.payload.playersLeft = playersLeft;\nmsg.payload.playersJoined = playersJoined;\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":80,"wires":[["2a7219ef.27f6d6","b995848d.4fe918"]],"outputLabels":["Players Left"]},{"id":"2a7219ef.27f6d6","type":"debug","z":"8c206717.a2b1c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":870,"y":20,"wires":[]},{"id":"b995848d.4fe918","type":"function","z":"8c206717.a2b1c8","name":"Format Notification For Players Joined","func":"var notifications = [];\nfor(var i = 0; i < msg.payload.playersJoined.length; ++i)\n{\n    notifications.push({ payload: {\n                        data: {\n                            title: \"Player Joined\",\n                            message: msg.payload.playersJoined[i]+\" is online.\",\n                            data:{\n                                tag: \"minecraft_\"+msg.payload.playersJoined[i],\n                                requireInteraction: false\n                            }\n                        }\n                    }});\n}\nfor(var i = 0; i < msg.payload.playersLeft.length; ++i)\n{\n    notifications.push({ payload: {\n                        data: {\n                            title: \"Player Left\",\n                            message: msg.payload.playersLeft[i]+\" logged off.\",\n                            data:{\n                                tag: \"minecraft_\"+msg.payload.playersLeft[i],\n                                requireInteraction: false\n                            }\n                        }\n                    }});\n}\n\nreturn [notifications];","outputs":1,"noerr":0,"x":890,"y":140,"wires":[["c9c800b4.95e01"]]},{"id":"c9c800b4.95e01","type":"api-call-service","z":"8c206717.a2b1c8","name":"Notify Seth","server":"bcb6d16b.be84e","version":1,"debugenabled":false,"service_domain":"notify","service":"html5_seths_one_plus_3t","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":970,"y":200,"wires":[[]]},{"id":"669a291e.bc0678","type":"function","z":"8c206717.a2b1c8","name":"mc players","func":"var require = global.get('require');\nvar request = require('modern-rcon');\n\nvar mcServer = msg.minecraftServer\nvar mcServerPort = msg.rconPort\nvar server = msg.serverAddress\n\n\nvar rcon = new request(server, port=mcServerPort, 'minecraft');\nrcon.connect().then(() =>\n{\n    rcon.send('list').then(res => {\n        players = []\n        try\n        {\n            res_split1 = res.split(':');\n            if(res_split1.length >= 2)\n            {\n                players = res_split1[1].split(',');\n                for(var i = 0; i < players.length; ++i)\n                {\n                    players[i] = players[i].trim().replace(/([0-9]|[a-f]|r)/g, \"\")\n\n                }\n                if(players.length == 1 && players[0] === \"\")\n                {\n                    players = []\n                }\n            }\n        }\n        catch(error)\n        {\n            node.error(error);\n        }\n        msg = {payload: {\n                        minecraftServer: mcServer,\n                        players: players,\n                        playerCount: players.length\n                        },\n               server: server\n              };\n        node.send(msg);\n    }, () => {\n        node.warn(\"Failed to send to \"+server);\n    });\n}, () =>\n{\n    node.error(\"Failed to connect to \"+server);\n});\nrcon.disconnect();","outputs":1,"noerr":0,"x":490,"y":80,"wires":[["d5635db2.9a1bd","8381eba.de50e18"]]},{"id":"fceb27b4.a1e468","type":"function","z":"8c206717.a2b1c8","name":"mc plugins","func":"var require = global.get('require');\nvar request = require('modern-rcon');\n\nvar mcServer = msg.minecraftServer\nvar mcServerPort = msg.rconPort\nvar server = msg.serverAddress\n\n\nvar rcon = new request(server, port=mcServerPort, 'minecraft');\nrcon.connect().then(() =>\n{\n    rcon.send('plugins').then(res => {\n        plugins = []\n        try\n        {\n            res_split1 = res.split(':');\n            if(res_split1.length >= 2)\n            {\n                plugins = res_split1[1].split(',');\n                for(var i = 0; i < plugins.length; ++i)\n                {\n                    plugins[i] = plugins[i].trim().replace(/([0-9]|[a-f]|r)/g, \"\")\n                }\n                if(plugins.length == 1 && plugins[0] === \"\")\n                {\n                    plugins = []\n                }\n                plugins.sort(compare);\n            }\n        }\n        catch(error)\n        {\n            node.error(error);\n        }\n        \n        flow.set(mcServer+\"Plugins\", plugins);\n        msg = {payload: {\n                        minecraftServer: mcServer,\n                        plugins: plugins,\n                        pluginCount: plugins.length\n                        },\n               server: server\n              };\n        node.send(msg);\n    }, () => {\n        node.warn(\"Failed to send to \"+server);\n    });\n}, () =>\n{\n    node.error(\"Failed to connect to \"+server);\n});\nrcon.disconnect();\n\nfunction compare(a, b) {\n  // Use toUpperCase() to ignore character casing\n  const stringA = a.toUpperCase();\n  const stringB = b.toUpperCase();\n\n  let comparison = 0;\n  if (stringA > stringB) {\n    comparison = 1;\n  } else if (stringA < stringB) {\n    comparison = -1;\n  }\n  return comparison;\n}","outputs":1,"noerr":0,"x":630,"y":220,"wires":[["68694c7c.7efd14"]]},{"id":"68694c7c.7efd14","type":"debug","z":"8c206717.a2b1c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":770,"y":220,"wires":[]},{"id":"6845bc0c.7e2ee4","type":"change","z":"8c206717.a2b1c8","name":"world","rules":[{"t":"set","p":"minecraftServer","pt":"msg","to":"world","tot":"str"},{"t":"set","p":"rconPort","pt":"msg","to":"25575","tot":"num"},{"t":"set","p":"serverAddress","pt":"msg","to":"pc-server2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":270,"y":160,"wires":[["669a291e.bc0678","b0505d4a.5f554"]]},{"id":"d6cbd09e.13e29","type":"change","z":"8c206717.a2b1c8","name":"skyblocks","rules":[{"t":"set","p":"minecraftServer","pt":"msg","to":"skyblocks","tot":"str"},{"t":"set","p":"rconPort","pt":"msg","to":"25576","tot":"num"},{"t":"set","p":"serverAddress","pt":"msg","to":"pc-server2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":200,"wires":[["669a291e.bc0678","8c3e5367.7b5f9"]]},{"id":"e5acc76d.1780f8","type":"change","z":"8c206717.a2b1c8","name":"creative","rules":[{"t":"set","p":"minecraftServer","pt":"msg","to":"creative","tot":"str"},{"t":"set","p":"rconPort","pt":"msg","to":"25578","tot":"num"},{"t":"set","p":"serverAddress","pt":"msg","to":"pc-server2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":240,"wires":[["669a291e.bc0678","6e44193f.55f098"]]},{"id":"569ed844.0ac048","type":"change","z":"8c206717.a2b1c8","name":"superflat","rules":[{"t":"set","p":"minecraftServer","pt":"msg","to":"superflat","tot":"str"},{"t":"set","p":"rconPort","pt":"msg","to":"25579","tot":"num"},{"t":"set","p":"serverAddress","pt":"msg","to":"pc-server2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":280,"wires":[["669a291e.bc0678","e40499f6.aecac8"]]},{"id":"b0505d4a.5f554","type":"throttle","z":"8c206717.a2b1c8","name":"","throttleType":"time","timeLimit":"24","timeLimitType":"hours","countLimit":0,"blockSize":0,"locked":false,"x":470,"y":160,"wires":[["fceb27b4.a1e468"]]},{"id":"8c3e5367.7b5f9","type":"throttle","z":"8c206717.a2b1c8","name":"","throttleType":"time","timeLimit":"24","timeLimitType":"hours","countLimit":0,"blockSize":0,"locked":false,"x":470,"y":200,"wires":[["fceb27b4.a1e468"]]},{"id":"6e44193f.55f098","type":"throttle","z":"8c206717.a2b1c8","name":"","throttleType":"time","timeLimit":"24","timeLimitType":"hours","countLimit":0,"blockSize":0,"locked":false,"x":470,"y":240,"wires":[["fceb27b4.a1e468"]]},{"id":"e40499f6.aecac8","type":"throttle","z":"8c206717.a2b1c8","name":"","throttleType":"time","timeLimit":"24","timeLimitType":"hours","countLimit":0,"blockSize":0,"locked":false,"x":470,"y":280,"wires":[["fceb27b4.a1e468"]]},{"id":"fc2683e8.27357","type":"api-current-state","z":"8c206717.a2b1c8","name":"CPU Use % > 40","server":"bcb6d16b.be84e","outputs":2,"halt_if":"40","halt_if_type":"num","halt_if_compare":"gte","override_topic":false,"entity_id":"sensor.processor_use","state_type":"num","state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":310,"y":440,"wires":[[],["905518ce.d888c8"]]},{"id":"43ed1d1d.ec31c4","type":"inject","z":"8c206717.a2b1c8","name":"","topic":"","payload":"","payloadType":"date","repeat":"1800","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":440,"wires":[["fc2683e8.27357"]]},{"id":"53b2ab5c.fe7384","type":"debug","z":"8c206717.a2b1c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":460,"wires":[]},{"id":"905518ce.d888c8","type":"switch","z":"8c206717.a2b1c8","name":"","property":"worldPlayers","propertyType":"flow","rules":[{"t":"empty"}],"checkall":"true","repair":false,"outputs":1,"x":560,"y":420,"wires":[["53b2ab5c.fe7384"]]},{"id":"f8d4bce7.29138","type":"http response","z":"3f4b0de7.1a15d2","name":"","statusCode":"","headers":{},"x":490,"y":200,"wires":[]},{"id":"1841e43b.3a1e1c","type":"http in","z":"3f4b0de7.1a15d2","name":"skins template","url":"/skins.html","method":"get","upload":false,"swaggerDoc":"","x":110,"y":200,"wires":[["c5d3744a.c6e638"]]},{"id":"c5d3744a.c6e638","type":"template","z":"3f4b0de7.1a15d2","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n  <head>\n  </head>\n  <body>\n    \n  </body>\n</html>","output":"str","x":280,"y":200,"wires":[["f8d4bce7.29138"]]},{"id":"74c09af0.db95c4","type":"websocket in","z":"12ea236b.b30f3d","name":"/ws/alienfrontiers","server":"a4d8fbce.f5a008","client":"","x":140,"y":80,"wires":[["80060961.6ab848"]]},{"id":"a0846bac.8f0488","type":"debug","z":"12ea236b.b30f3d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":811,"y":81,"wires":[]},{"id":"a193acec.0cdbc","type":"sqlite","z":"12ea236b.b30f3d","mydb":"92a53210.bb95b","sql":"","name":"alienfrontiers.db","x":280,"y":120,"wires":[["c4876a71.207928"]]},{"id":"5d6638b9.869878","type":"template","z":"12ea236b.b30f3d","name":"Query","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT * FROM chores where chore_id={{event.id}}","output":"str","x":601,"y":78,"wires":[["a193acec.0cdbc"]]},{"id":"c4876a71.207928","type":"function","z":"12ea236b.b30f3d","name":"Format Message","func":"msg.message = msg.event.person+ \" has completed \"+msg.payload[0].chore_name+\".\";\nmsg.id = msg.event.person+\"_\"+msg.event.id;\nreturn msg;","outputs":1,"noerr":0,"x":472,"y":120,"wires":[["e14781e0.3321f"]]},{"id":"864fce3f.d7509","type":"inject","z":"12ea236b.b30f3d","name":"","topic":"","payload":"{\"person\":\"Leif\",\"id\":79}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":171,"y":42,"wires":[["32428d02.fc5052"]]},{"id":"554bae2f.b10a9","type":"inject","z":"12ea236b.b30f3d","name":"Weekly Payout","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"30 23 * * 6","once":false,"onceDelay":0.1,"x":166,"y":349,"wires":[[]]},{"id":"9a046692.66d9b8","type":"sqlite","z":"12ea236b.b30f3d","mydb":"541582c5.74415c","name":"chores.db","x":573,"y":348,"wires":[["63d5cddb.3ef064"]]},{"id":"aa7728ca.c698b8","type":"template","z":"12ea236b.b30f3d","name":"Query","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT sum(value) FROM (SELECT sum(value) as 'value' FROM chores where completed_by=\"{{person}}\" AND STATUS=\"approved\" UNION SELECT balance as 'value' FROM bank WHERE person = \"{{person}}\")","output":"str","x":446,"y":348,"wires":[["9a046692.66d9b8"]]},{"id":"80060961.6ab848","type":"json","z":"12ea236b.b30f3d","name":"","property":"payload","action":"","pretty":false,"x":286,"y":80,"wires":[["32428d02.fc5052"]]},{"id":"cbb481c3.bfb66","type":"change","z":"12ea236b.b30f3d","name":"Leif","rules":[{"t":"set","p":"person","pt":"msg","to":"Leif","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":348,"wires":[["aa7728ca.c698b8"]]},{"id":"c5be451c.541258","type":"change","z":"12ea236b.b30f3d","name":"Liam","rules":[{"t":"set","p":"person","pt":"msg","to":"Liam","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":319,"y":383,"wires":[["aa7728ca.c698b8"]]},{"id":"4b3aac8b.15a414","type":"change","z":"12ea236b.b30f3d","name":"Avery","rules":[{"t":"set","p":"person","pt":"msg","to":"Avery","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":318,"y":416,"wires":[["aa7728ca.c698b8"]]},{"id":"63d5cddb.3ef064","type":"change","z":"12ea236b.b30f3d","name":"Extract Total","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].sum(value)","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":725,"y":349,"wires":[["a5e20f1a.75123"]]},{"id":"a5e20f1a.75123","type":"template","z":"12ea236b.b30f3d","name":"Query","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE bank SET balance={{payload}} WHERE person=\"{{person}}\"","output":"str","x":866,"y":348,"wires":[[]]},{"id":"107d85ad.83cb2a","type":"throttle","z":"12ea236b.b30f3d","name":"","throttleType":"time","timeLimit":"5","timeLimitType":"seconds","countLimit":0,"blockSize":0,"locked":false,"x":585,"y":416,"wires":[["435fa1ee.3d838"]]},{"id":"435fa1ee.3d838","type":"change","z":"12ea236b.b30f3d","name":"Clear Payouts","rules":[{"t":"set","p":"topic","pt":"msg","to":"UPDATE chores SET status=\"incomplete\",completed_by=\"\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":735,"y":416,"wires":[["52121c03.0e1164"]]},{"id":"52121c03.0e1164","type":"sqlite","z":"12ea236b.b30f3d","mydb":"541582c5.74415c","name":"chores.db","x":895,"y":416,"wires":[[]]},{"id":"e14781e0.3321f","type":"template","z":"12ea236b.b30f3d","name":"notify template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"data\": {\n    \"title\": \"Chore Finished\",\n    \"message\": \"{{message}}\",\n    \"data\":{\n      \"tag\": \"{{id}}\",\n      \"requireInteraction\": true,\n      \"icon\":\"https://hass.pinternet.us/local/inspect.png\",\n      \"actions\": [\n        {\n          \"action\": \"approved\",\n          \"title\": \"Approve\"\n        },\n        {\n          \"action\": \"incomplete\",\n          \"title\": \"Incomplete\"\n        }\n      ]\n    }\n  }\n}","output":"json","x":658,"y":120,"wires":[["a0846bac.8f0488","3ba4e70.da4301a"]]},{"id":"32428d02.fc5052","type":"change","z":"12ea236b.b30f3d","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"event","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":444,"y":79,"wires":[["5d6638b9.869878"]]},{"id":"d197d205.53d7","type":"function","z":"12ea236b.b30f3d","name":"Query","func":"id = msg.payload.event.tag.split('_')[1];\nstatus = msg.payload.event.action;\n\nif(status === null || status === \"\"){ msg = null; }\nelse {\n  msg.topic = 'UPDATE chores SET status=\"'+status+'\"WHERE chore_id='+id;\n}\nreturn msg;","outputs":1,"noerr":0,"x":532,"y":244,"wires":[["9dbd1cfd.32a72","3ddfbce4.acc894"]]},{"id":"9dbd1cfd.32a72","type":"sqlite","z":"12ea236b.b30f3d","mydb":"541582c5.74415c","name":"chores.db","x":665,"y":246,"wires":[[]]},{"id":"3ddfbce4.acc894","type":"debug","z":"12ea236b.b30f3d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":725,"y":196,"wires":[]},{"id":"5ef669fd.ca3d48","type":"switch","z":"12ea236b.b30f3d","name":"Chores","property":"payload.event.tag","propertyType":"msg","rules":[{"t":"regex","v":"(Leif|Liam|Avery)_[0-9]{1,}","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":399,"y":244,"wires":[["d197d205.53d7"]]},{"id":"f9b8c335.28969","type":"inject","z":"12ea236b.b30f3d","name":"Weekly Check Pending","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 16 * * 6","once":false,"onceDelay":0.1,"x":193,"y":506,"wires":[["374d6db0.c09cf2"]]},{"id":"25f58b06.50ef14","type":"comment","z":"12ea236b.b30f3d","name":"Receive WS from HTML page and notify parents","info":"","x":427,"y":40,"wires":[]},{"id":"6aff456d.f9c79c","type":"comment","z":"12ea236b.b30f3d","name":"Receive notification click events and update DB","info":"","x":259,"y":205,"wires":[]},{"id":"8a49ad8a.fc3f4","type":"comment","z":"12ea236b.b30f3d","name":"On Saturday, Pay out kids and reset chores","info":"","x":242,"y":313,"wires":[]},{"id":"374d6db0.c09cf2","type":"change","z":"12ea236b.b30f3d","name":"Check Pending","rules":[{"t":"set","p":"topic","pt":"msg","to":"SELECT * FROM chores where status=\"pending\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":451,"y":506,"wires":[["c96ae8e9.138198"]]},{"id":"c96ae8e9.138198","type":"sqlite","z":"12ea236b.b30f3d","mydb":"541582c5.74415c","name":"chores.db","x":613,"y":506,"wires":[["2b80bdac.230ed2","6d9d4d1f.8134f4"]]},{"id":"2b80bdac.230ed2","type":"function","z":"12ea236b.b30f3d","name":"Format Message","func":"returnVal = null;\n\nif(msg.payload !== null && msg.payload.length > 0)\n{\n    var legnth = msg.payload.length;\n    returnVal = {payload: {\n                    data: {\n                      title: \"Chores Pending\",\n                      message: \"There are \"+legnth+\" Pending.\",\n                      data:{\n                        url: \"http://chores.pinternet.us/admin.php\",\n                        tag: \"chore_pending\",\n                      }\n                    }\n                  }\n                };\n}\nreturn returnVal;","outputs":1,"noerr":0,"x":785,"y":506,"wires":[["6d9d4d1f.8134f4","a2c6d7a7.be8f48"]]},{"id":"6d9d4d1f.8134f4","type":"debug","z":"12ea236b.b30f3d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":943,"y":464,"wires":[]},{"id":"3599fce7.d2c484","type":"template","z":"12ea236b.b30f3d","name":"Query","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT * FROM Chores WHERE completed_by IS NOT NULL AND completed_by IS NOT \"\" AND value IS NOT 0","output":"str","x":305,"y":456,"wires":[["5e5139dc.3eb998"]]},{"id":"860619bc.7f0278","type":"inject","z":"12ea236b.b30f3d","name":"Weekly Payout","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"30 23 * * 6","once":false,"onceDelay":0.1,"x":155,"y":456,"wires":[["3599fce7.d2c484"]]},{"id":"5e5139dc.3eb998","type":"sqlite","z":"12ea236b.b30f3d","mydb":"541582c5.74415c","name":"chores.db","x":435,"y":456,"wires":[["8f75fcae.b5ebe","107d85ad.83cb2a"]]},{"id":"8f75fcae.b5ebe","type":"function","z":"12ea236b.b30f3d","name":"Query","func":"var messages = [];\noptions = { year: 'numeric', month: '2-digit', day: '2-digit' };\ndate = new Date(Date.now()).toLocaleDateString(options);\nfor(i = 0; i < msg.payload.length; i++)\n{\n    query = 'INSERT INTO Ledger VALUES ('\n           + '\"' + msg.payload[i].completed_by + '\",'\n           + '\"' + msg.payload[i].chore_name + '\",'\n           + '\"' + date +'\",'\n           + msg.payload[i].value +','\n           + '\"' + msg.payload[i].status + '\")';\n    tmpMsg = {topic: query}\n    messages.push(tmpMsg);\n}\nreturn [messages];","outputs":1,"noerr":0,"x":585,"y":456,"wires":[["be0796de.886e98","f46b27d.5a3a7d8"]]},{"id":"be0796de.886e98","type":"debug","z":"12ea236b.b30f3d","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":725,"y":376,"wires":[]},{"id":"f46b27d.5a3a7d8","type":"sqlite","z":"12ea236b.b30f3d","mydb":"541582c5.74415c","name":"chores.db","x":735,"y":456,"wires":[[]]},{"id":"7e4f519e.9e0be","type":"template","z":"12ea236b.b30f3d","name":"Query","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT * FROM Chores WHERE completed_by IS NOT NULL AND completed_by IS NOT \"\" AND value IS NOT 0","output":"str","x":305,"y":576,"wires":[["a2fa208.6ebade"]]},{"id":"77dc820e.32d65c","type":"inject","z":"12ea236b.b30f3d","name":"Test Pending","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":145,"y":576,"wires":[["7e4f519e.9e0be"]]},{"id":"a2fa208.6ebade","type":"sqlite","z":"12ea236b.b30f3d","mydb":"541582c5.74415c","name":"chores.db","x":435,"y":576,"wires":[["58f3af1.f2b8c5"]]},{"id":"58f3af1.f2b8c5","type":"function","z":"12ea236b.b30f3d","name":"Query","func":"var messages = [];\noptions = { year: 'numeric', month: '2-digit', day: '2-digit' };\ndate = new Date(Date.now()).toLocaleDateString(options);\nfor(i = 0; i < msg.payload.length; i++)\n{\n    query = 'INSERT INTO Ledger VALUES ('\n           + '\"' + msg.payload[i].completed_by + '\",'\n           + '\"' + msg.payload[i].chore_name + '\",'\n           + '\"' + date +'\",'\n           + msg.payload[i].value +','\n           + '\"' + msg.payload[i].status + '\")';\n    tmpMsg = {topic: query}\n    messages.push(tmpMsg);\n}\nreturn [messages];","outputs":1,"noerr":0,"x":565,"y":576,"wires":[["4698a093.29e6c"]]},{"id":"4698a093.29e6c","type":"sqlite","z":"12ea236b.b30f3d","mydb":"541582c5.74415c","name":"chores.db","x":695,"y":576,"wires":[[]]},{"id":"72cc0a64.449724","type":"server-events","z":"12ea236b.b30f3d","name":"HTML5 Clicked","server":"bcb6d16b.be84e","event_type":"html5_notification.clicked","x":225,"y":242.99999809265137,"wires":[["5ef669fd.ca3d48"]]},{"id":"3ba4e70.da4301a","type":"api-call-service","z":"12ea236b.b30f3d","name":"Notify","server":"bcb6d16b.be84e","version":"1","debugenabled":false,"service_domain":"notify","service":"html5","entityId":"","data":"","dataType":"json","mergecontext":"","output_location":"","output_location_type":"none","mustacheAltTags":false,"x":825,"y":116,"wires":[[]]},{"id":"a2c6d7a7.be8f48","type":"api-call-service","z":"12ea236b.b30f3d","name":"Notify","server":"bcb6d16b.be84e","service_domain":"notify","service":"html5","data":"","mergecontext":"","output_location":"","output_location_type":"none","x":945,"y":516,"wires":[[]]}]