flows_PC-SERVER.json
[{"id":"37ca70b3.1ccd","type":"tab","label":"Motion Control","disabled":false,"info":""},{"id":"42bda437.8bf3ec","type":"tab","label":"Family Room","disabled":false,"info":""},{"id":"3d9442da.6e01ee","type":"tab","label":"Ariving/Leaving","disabled":false,"info":""},{"id":"cd61eba5.1d17e8","type":"tab","label":"Doors","disabled":false,"info":""},{"id":"1ae55a97.d30a15","type":"tab","label":"Utility","disabled":false,"info":""},{"id":"f096674e.b4e168","type":"tab","label":"Weather","disabled":false,"info":""},{"id":"c7cc637f.2f28c","type":"tab","label":"Torrent","disabled":false,"info":""},{"id":"f90ad8d5.5a1c18","type":"tab","label":"Github","disabled":false,"info":""},{"id":"67b76939.9a9c98","type":"tab","label":"Networking","disabled":false,"info":""},{"id":"2878bef7.9eec62","type":"tab","label":"Chores","disabled":false,"info":""},{"id":"ab7335c3.520b68","type":"tab","label":"Christmas Lights/Tree","disabled":true,"info":""},{"id":"994bcb17.c990b8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6425f89.f9f3b08","type":"tab","label":"Pool","disabled":false,"info":""},{"id":"e3b9f6b1.a1d0c8","type":"subflow","name":"Light 1/5m Timer","info":"Takes an input of the template used to determine on time. Output is for turning off the light.\n\nNOTE: Node will output any home assistant API errors for catching with the 'catch all' node\n\nConfiguration\ntemplate string\nJinja template to be rendered, discarded if `msg.template` is provided via input msg\nInputs\ntemplate string\nJinja template to be rendered\nOutputs\ntemplate string\nThe original template sent to home assistant for rendering\npayload string\nThe rendered template","in":[{"x":25,"y":163,"wires":[{"id":"4b7cf0de.21ef3"}]}],"out":[{"x":903,"y":158,"wires":[{"id":"6253919d.3b4f7","port":0},{"id":"69b3b513.3d7cfc","port":0}]}],"inputLabels":["last change time in seconds"],"outputLabels":["long timer trigger"]},{"id":"30de7929.802c66","type":"subflow","name":"Kitchen Light Should Turn On","info":"","in":[{"x":25,"y":128,"wires":[{"id":"9b5f568d.71cf08"},{"id":"98c1c02.19be34"},{"id":"a7cc0711.69d318"}]}],"out":[{"x":940,"y":141,"wires":[{"id":"d7a9417.dd76dc","port":1}]},{"x":1019,"y":51,"wires":[{"id":"d76a1623.d2d128","port":0}]},{"x":768,"y":201,"wires":[{"id":"51cdf89d.656b68","port":0}]}],"outputLabels":["Full Bright","Night Mode"]},{"id":"a52e9553.e94c48","type":"subflow","name":"Kitchen Motion","info":"","in":[{"x":50,"y":30,"wires":[{"id":"84549505.706f88"}]}],"out":[{"x":470,"y":27,"wires":[{"id":"48f4f500.3c075c","port":0}]}]},{"id":"fa3dc47b.73ac68","type":"subflow","name":"Dining Motion","info":"","in":[{"x":50,"y":30,"wires":[{"id":"6ef514.198a5aec"}]}],"out":[{"x":455,"y":29,"wires":[{"id":"260414bc.0d035c","port":0}]}]},{"id":"24ed876f.5e68d8","type":"subflow","name":"Living Motion","info":"","in":[{"x":48,"y":25,"wires":[{"id":"ff758c21.b9829"}]}],"out":[{"x":475,"y":25,"wires":[{"id":"6af6dece.28d34","port":0}]}]},{"id":"be6daaf.e87f058","type":"subflow","name":"Dining Light Should Turn On","info":"","in":[{"x":46,"y":145,"wires":[{"id":"e162552d.5bbe18"},{"id":"b107777a.d69ff8"},{"id":"bef42de4.40bcd"},{"id":"bf77d069.da049"}]}],"out":[{"x":826,"y":143,"wires":[{"id":"e8ed0eb0.c85ea","port":0}]}]},{"id":"6e62bbb7.da2654","type":"subflow","name":"Kitchen Light Level High","info":"","in":[{"x":49.99998474121094,"y":59.999996185302734,"wires":[{"id":"98f79f04.9b08f"}]}],"out":[{"x":488.9166717529297,"y":59.749996185302734,"wires":[{"id":"f3cd4ad0.4b9c68","port":0},{"id":"f3cd4ad0.4b9c68","port":1}]}]},{"id":"49f9131f.8ed8fc","type":"subflow","name":"Living Room Lights Should Turn On","info":"","in":[{"x":26,"y":116,"wires":[{"id":"d53116a8.40a048"},{"id":"731292ad.2c812c"}]}],"out":[{"x":696,"y":127,"wires":[{"id":"c4109cf3.7558a","port":0}]}]},{"id":"586f2092.a61f","type":"server","z":"","name":"Home Assistant","url":"http://127.0.0.1:8123","pass":""},{"id":"9261fdd1.b8cc3","type":"github-credentials","z":"","name":"nordlead2005"},{"id":"14ced623.01764a","type":"mqtt-broker","z":"","name":"hass","broker":"localhost","port":"1883","clientid":"NodeRED","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"home/NodeRED/availability","willQos":"0","willPayload":"offline","birthTopic":"home/NodeRED/availability","birthQos":"0","birthPayload":"online"},{"id":"575b4c2f.0d7e64","type":"websocket-client","z":"","path":"ws://localhost:8123/api/websocket","tls":"","wholemsg":"false"},{"id":"6c10d696.600518","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"home_assistant","name":"Home Assistant DB","usetls":false,"tls":""},{"id":"c6e44f7f.644af","type":"websocket-listener","z":"2878bef7.9eec62","path":"/ws/simple","wholemsg":"false"},{"id":"112b57e5.982ba8","type":"websocket-listener","z":"","path":"/ws/chores","wholemsg":"false"},{"id":"541582c5.74415c","type":"sqlitedb","z":"","db":"/var/www/chores/data/chores.db"},{"id":"8fb4aaf2.66e718","type":"server-state-changed","z":"37ca70b3.1ccd","name":"Dining Room Motion","server":"586f2092.a61f","entityidfilter":"binary_sensor.dining_room_motion","entityidfiltertype":"exact","haltifstate":"off","x":95,"y":134.9166498184204,"wires":[["3dce11d3.475bfe","5eaa7f3f.bafbd"]]},{"id":"44843c4.7a0d7c4","type":"api-call-service","z":"37ca70b3.1ccd","name":"Turn On Dining Room","server":"586f2092.a61f","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.dining_room\"}","mergecontext":"","x":605.5,"y":68.41665649414062,"wires":[[]]},{"id":"1cc19bd6.5207d4","type":"api-call-service","z":"37ca70b3.1ccd","name":"Turn Off Dining Room","server":"586f2092.a61f","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.dining_room\"}","x":1230.083251953125,"y":134.55553436279297,"wires":[[]]},{"id":"bc982a8.d6b66d8","type":"server-state-changed","z":"37ca70b3.1ccd","name":"Kitchen Cooking Motion","server":"586f2092.a61f","entityidfilter":"binary_sensor.kitchen_motion","entityidfiltertype":"exact","haltifstate":"off","x":105,"y":284.6666622161865,"wires":[[]]},{"id":"79d18640.bf6758","type":"api-call-service","z":"37ca70b3.1ccd","name":"Turn On Kitchen","server":"586f2092.a61f","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.kitchen\"}","x":612.6666259765625,"y":236.66666507720947,"wires":[[]]},{"id":"ea78a7df.9c1528","type":"api-call-service","z":"37ca70b3.1ccd","name":"Turn Off Kitchen","server":"586f2092.a61f","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.kitchen\"}","x":1153,"y":236.66666507720947,"wires":[[]]},{"id":"2adc18d5.f88f18","type":"server-state-changed","z":"37ca70b3.1ccd","name":"Kitchen Table Motion","server":"586f2092.a61f","entityidfilter":"binary_sensor.kitchen_table_motion","entityidfiltertype":"exact","haltifstate":"off","x":95,"y":472.6666622161865,"wires":[["a41a3acf.7bff98","54117482.5f166c"]]},{"id":"1c48afeb.1075a","type":"api-call-service","z":"37ca70b3.1ccd","name":"Turn On Kitchen Table","server":"586f2092.a61f","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.kitchen_table\"}","x":628,"y":512.9999475479126,"wires":[[]]},{"id":"419553f1.5a5efc","type":"api-call-service","z":"37ca70b3.1ccd","name":"Turn Off Kitchen Table","server":"586f2092.a61f","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.kitchen_table\"}","x":1180,"y":469.6666955947876,"wires":[[]]},{"id":"b74bc36e.4cc8d","type":"server-state-changed","z":"37ca70b3.1ccd","name":"Piano Room Motion","server":"586f2092.a61f","entityidfilter":"binary_sensor.living_room_motion","entityidfiltertype":"exact","haltifstate":"off","x":95,"y":647.583366394043,"wires":[["2dac65cd.c0bf9a"]]},{"id":"ec054ff6.8d8db","type":"api-call-service","z":"37ca70b3.1ccd","name":"Turn On Living Room","server":"586f2092.a61f","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.wemo_switch_2\"}","x":650.1111450195312,"y":608.027792930603,"wires":[[]]},{"id":"25a568e.1250098","type":"time-range-switch","z":"37ca70b3.1ccd","name":"Daytime For Motion","lat":"43.14029","lon":"-76.09538","startTime":"7:00","endTime":"21:00","startOffset":0,"endOffset":0,"x":646,"y":660.5833959579468,"wires":[["f1193a48.97d778"],["6e3decff.fa78d4"]],"inputLabels":["Motion Activation"],"outputLabels":["Daytime","Nighttime"]},{"id":"f1193a48.97d778","type":"stoptimer","z":"37ca70b3.1ccd","duration":"10","units":"Minute","payloadtype":"num","payloadval":"10","name":"","x":869,"y":631.5833959579468,"wires":[["c330083c.5dcd38"],[]]},{"id":"6e3decff.fa78d4","type":"stoptimer","z":"37ca70b3.1ccd","duration":"2","units":"Minute","payloadtype":"num","payloadval":"2","name":"","x":869,"y":685.5833959579468,"wires":[["c330083c.5dcd38"],[]]},{"id":"bc500984.0551c8","type":"api-call-service","z":"37ca70b3.1ccd","name":"Turn Off Living Room","server":"586f2092.a61f","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.wemo_switch_2\"}","x":1263.3333740234375,"y":652.5833959579468,"wires":[[]]},{"id":"5d21105c.389ed","type":"bigtimer","z":"42bda437.8bf3ec","outtopic":"/home/downstairs/family_room/shades/set","outpayload1":"OPEN","outpayload2":"CLOSE","name":"Big Timer","lat":"43.1387","lon":"-76.23631","starttime":"480","endtime":"5004","startoff":0,"endoff":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":255,"y":177.5,"wires":[["c75f5398.41348"],[],[]]},{"id":"f04b316e.19e55","type":"api-call-service","z":"42bda437.8bf3ec","name":"Close Family Room Shades","server":"586f2092.a61f","service_domain":"cover","service":"close_cover","data":"{\"entity_id\":\"cover.family_room_shades\"}","x":792,"y":303,"wires":[[]]},{"id":"e9f3aa1f.c3bc68","type":"api-call-service","z":"42bda437.8bf3ec","name":"Open Family Room Shades","server":"586f2092.a61f","service_domain":"cover","service":"open_cover","data":"{\"entity_id\":\"cover.family_room_shades\"}","x":964,"y":242,"wires":[[]]},{"id":"c75f5398.41348","type":"switch","z":"42bda437.8bf3ec","name":"Shades Switch","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OPEN","vt":"str"},{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"CLOSE","vt":"str"},{"t":"eq","v":"not_home","vt":"str"}],"checkall":"false","outputs":4,"x":558,"y":247,"wires":[["3f4340b7.ee7ab"],["e9f3aa1f.c3bc68"],["f04b316e.19e55"],["f04b316e.19e55"]]},{"id":"1e59164b.20676a","type":"inject","z":"42bda437.8bf3ec","name":"CLOSE","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":false,"x":96,"y":234,"wires":[["5d21105c.389ed"]]},{"id":"a83a2578.e4f088","type":"inject","z":"42bda437.8bf3ec","name":"OPEN","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":97,"y":176,"wires":[["5d21105c.389ed"]]},{"id":"8517c07c.83ab8","type":"server-state-changed","z":"42bda437.8bf3ec","name":"Home Occupied","server":"586f2092.a61f","entityidfilter":"group.all_devices","entityidfiltertype":"exact","haltifstate":"","x":91,"y":329,"wires":[["6596ada.51c6754"]]},{"id":"7d078c95.bb9424","type":"time-range-switch","z":"42bda437.8bf3ec","name":"","lat":"43.1387","lon":"-76.23631","startTime":"08:00","endTime":"sunset","startOffset":0,"endOffset":"-30","x":389,"y":329,"wires":[["c75f5398.41348"],[]]},{"id":"4218fc07.feee94","type":"bigtimer","z":"ab7335c3.520b68","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Morning Outside Lights","lat":"43.1387","lon":"-76.23631","starttime":"5003","endtime":"5003","startoff":"-60","endoff":"+20","offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":294,"y":137.5,"wires":[["e8bc9c89.a4293"],[],[]]},{"id":"e8bc9c89.a4293","type":"switch","z":"ab7335c3.520b68","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","outputs":2,"x":508,"y":126,"wires":[["f47a0330.4ea52"],["b39ae2fe.b7cd"]]},{"id":"f47a0330.4ea52","type":"api-call-service","z":"ab7335c3.520b68","name":"Outside Lights On","server":"586f2092.a61f","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.extension_2\"}","x":734,"y":91,"wires":[[]]},{"id":"b39ae2fe.b7cd","type":"api-call-service","z":"ab7335c3.520b68","name":"Outside Lights Off","server":"586f2092.a61f","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.extension_2\"}","x":732,"y":158,"wires":[[]]},{"id":"d9a735ef.874948","type":"bigtimer","z":"ab7335c3.520b68","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Morning Christmas Tree","lat":"43.1387","lon":"-76.23631","starttime":"450","endtime":"570","startoff":"0","endoff":"0","offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":302,"y":396,"wires":[["eb713b24.0348e8"],[],[]]},{"id":"eb713b24.0348e8","type":"switch","z":"ab7335c3.520b68","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","outputs":2,"x":516,"y":381,"wires":[["7519ca55.6a4a44"],["64d94c23.b03554"]]},{"id":"7519ca55.6a4a44","type":"api-call-service","z":"ab7335c3.520b68","name":"Christmas Tree On","server":"586f2092.a61f","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.extension_1\"}","x":742,"y":346,"wires":[[]]},{"id":"64d94c23.b03554","type":"api-call-service","z":"ab7335c3.520b68","name":"Christmas Tree Off","server":"586f2092.a61f","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.extension_1\"}","x":740,"y":413,"wires":[[]]},{"id":"e38f971f.2c4c48","type":"bigtimer","z":"ab7335c3.520b68","outtopic":"","outpayload1":"on","outpayload2":"off","name":"Evening Lights","lat":"43.1387","lon":"-76.23631","starttime":"5004","endtime":"1380","startoff":"-30","endoff":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":272,"y":263.5,"wires":[["e8bc9c89.a4293","eb713b24.0348e8"],[],[]]},{"id":"51d74033.cbc0d","type":"api-call-service","z":"3d9442da.6e01ee","name":"Turn Off All","server":"586f2092.a61f","service_domain":"script","service":"turn_on","data":"{ \"entity_id\": \"script.turn_off_all\"}","x":509,"y":117,"wires":[[]]},{"id":"6e4c0b99.4dc514","type":"server-state-changed","z":"3d9442da.6e01ee","name":"Home Occupied","server":"586f2092.a61f","entityidfilter":"group.all_devices","entityidfiltertype":"exact","haltifstate":"","x":170,"y":240,"wires":[["38acf50e.38b4ca"]]},{"id":"38acf50e.38b4ca","type":"switch","z":"3d9442da.6e01ee","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"not_home","vt":"str"},{"t":"eq","v":"home","vt":"str"}],"checkall":"false","outputs":2,"x":338,"y":240,"wires":[["51d74033.cbc0d","d69953fc.020c9"],["989862aa.77261","dc99cb27.e31f88"]]},{"id":"dc22af1c.6a5f9","type":"server-state-changed","z":"3d9442da.6e01ee","name":"Location","server":"586f2092.a61f","entityidfilter":"input_select.christys_location,input_select.seths_location","entityidfiltertype":"exact","haltifstate":"","x":128,"y":495,"wires":[["c8bae6fe.6be4b8","c6d21787.09be58"]]},{"id":"c8bae6fe.6be4b8","type":"switch","z":"3d9442da.6e01ee","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"},{"t":"eq","v":"just_left","vt":"str"},{"t":"eq","v":"just_arrived","vt":"str"},{"t":"eq","v":"work","vt":"str"},{"t":"eq","v":"church","vt":"str"},{"t":"eq","v":"parentsHouse","vt":"str"},{"t":"eq","v":"inLawsHouse","vt":"str"},{"t":"eq","v":"northwestYMCA","vt":"str"},{"t":"eq","v":"wegmans","vt":"str"}],"checkall":"false","outputs":10,"x":292,"y":496,"wires":[[],["cc63a4c4.fd77a8"],[],["6c5cf4b8.b7964c","989862aa.77261"],[],[],[],[],[],[]]},{"id":"c0de85c2.891c88","type":"delay","z":"3d9442da.6e01ee","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":690,"y":509,"wires":[["4be73aa5.edeaf4"]]},{"id":"4be73aa5.edeaf4","type":"api-current-state","z":"3d9442da.6e01ee","name":"Seth Not Home","server":"586f2092.a61f","halt_if":"home","entity_id":"device_tracker.sethsphone","x":849,"y":508,"wires":[["b3c1de7a.f90a6"]]},{"id":"b3c1de7a.f90a6","type":"api-call-service","z":"3d9442da.6e01ee","name":"notify Seth","server":"586f2092.a61f","service_domain":"notify","service":"html5","data":"{\"target\": \"seths_one_plus_3t\",\"message\": \"Christy is now home\",\"data\": {\"tag\": \"christ_is_home\"}}","x":1024,"y":508,"wires":[[]]},{"id":"989862aa.77261","type":"time-range-switch","z":"3d9442da.6e01ee","name":"","lat":"43.14035","lon":"-76.09633","startTime":"sunrise","endTime":"sunset","startOffset":0,"endOffset":0,"x":535,"y":266,"wires":[[],["8a177250.62b96","ab9a7ee.4d59c8"]]},{"id":"8a177250.62b96","type":"api-call-service","z":"3d9442da.6e01ee","name":"Front Porch On","server":"586f2092.a61f","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.front_porch\"}","x":763,"y":243,"wires":[[]]},{"id":"ab9a7ee.4d59c8","type":"stoptimer","z":"3d9442da.6e01ee","duration":"7","units":"Minute","payloadtype":"num","payloadval":"7","name":"","x":763,"y":288,"wires":[["77154b81.b69624"],[]]},{"id":"77154b81.b69624","type":"api-call-service","z":"3d9442da.6e01ee","name":"Front Porch Off","server":"586f2092.a61f","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.front_porch\"}","x":950,"y":306,"wires":[[]]},{"id":"d69953fc.020c9","type":"api-call-service","z":"3d9442da.6e01ee","name":"Ecobee Away Mode","server":"586f2092.a61f","service_domain":"switch","service":"turn_on","data":"{\"entity_id\": \"switch.ecobee_away_mode\"}","x":542,"y":163,"wires":[[]]},{"id":"dc99cb27.e31f88","type":"api-call-service","z":"3d9442da.6e01ee","name":"Ecobee Resume Program","server":"586f2092.a61f","service_domain":"homeassistant","service":"turn_on","data":"{\"entity_id\": \"script.ecobee_resume_program\"}","x":563,"y":212,"wires":[[]]},{"id":"1e35ed17.cf6343","type":"server-state-changed","z":"cd61eba5.1d17e8","name":"Inside Garage Door","server":"586f2092.a61f","entityidfilter":"binary_sensor.inside_garage_door","entityidfiltertype":"exact","haltifstate":"off","x":106,"y":92,"wires":[["c7ec5074.cbbc2"]]},{"id":"c7ec5074.cbbc2","type":"api-call-service","z":"cd61eba5.1d17e8","name":"Turn On Garage Light","server":"586f2092.a61f","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.garage\"}","x":342,"y":92,"wires":[[]]},{"id":"f499ae6b.eeedc","type":"server-state-changed","z":"cd61eba5.1d17e8","name":"Outside Garage Door","server":"586f2092.a61f","entityidfilter":"binary_sensor.garage_door","entityidfiltertype":"exact","haltifstate":"","x":118,"y":203,"wires":[["720f38b0.5f37b8"]]},{"id":"971294c8.efdcb8","type":"stoptimer","z":"cd61eba5.1d17e8","duration":"1","units":"Hour","payloadtype":"num","payloadval":"0","name":"","x":550,"y":203,"wires":[["cc023c6d.ebc6c"],[]]},{"id":"720f38b0.5f37b8","type":"change","z":"cd61eba5.1d17e8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"off","fromt":"str","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":354,"y":203,"wires":[["971294c8.efdcb8"]]},{"id":"cc023c6d.ebc6c","type":"api-call-service","z":"cd61eba5.1d17e8","name":"Notify","server":"586f2092.a61f","service_domain":"notify","service":"html5","data":"{\"message\":\"Garage Door is Open\"}","x":702,"y":196,"wires":[[]]},{"id":"7f77a94.a905758","type":"server-state-changed","z":"1ae55a97.d30a15","name":"Power Event","server":"586f2092.a61f","entityidfilter":"sensor.ups_battery","entityidfiltertype":"exact","haltifstate":"","x":75,"y":179,"wires":[["afa6889b.491fd8"]]},{"id":"afa6889b.491fd8","type":"switch","z":"1ae55a97.d30a15","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"100","vt":"str"}],"checkall":"true","outputs":1,"x":231,"y":179,"wires":[["1ec8c6ed.f611a9"]]},{"id":"6ee3c32d.9f77ac","type":"api-call-service","z":"1ae55a97.d30a15","name":"Notify Seth","server":"586f2092.a61f","service_domain":"notify","service":"html5_seths_one_plus_3t","data":"{\"target\":\"seths_one_plus_3t\", \"message\":\"Power Event Occured\"}","x":567,"y":178,"wires":[[]]},{"id":"8917b685.0c4bc8","type":"server-state-changed","z":"ab7335c3.520b68","name":"Christmas Tree Water Level","server":"586f2092.a61f","entityidfilter":"sensor.christmas_tree_water_level_text","haltifstate":"","x":130.5,"y":535.25,"wires":[[]]},{"id":"aa6eff9f.1b3f7","type":"switch","z":"ab7335c3.520b68","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"full","vt":"str"},{"t":"eq","v":"low","vt":"str"},{"t":"eq","v":"critical","vt":"str"}],"checkall":"false","outputs":3,"x":335.5,"y":538.2500095367432,"wires":[["9648f7a6.ba0698"],["c2677356.41dc9","9648f7a6.ba0698"],["9648f7a6.ba0698"]]},{"id":"9ab36f47.6004c","type":"api-call-service","z":"ab7335c3.520b68","name":"Notify","server":"586f2092.a61f","service_domain":"notify","service":"html5","data":"{\"message\": \"Christmas Tree\", \"data\": {\"tag\": \"christmas_tree\"}}","x":700.5,"y":506.25,"wires":[[]]},{"id":"ccae8202.213b7","type":"stoptimer","z":"ab7335c3.520b68","duration":"2","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":754.5,"y":733.25,"wires":[["465b4b55.348c14"],[]]},{"id":"c2677356.41dc9","type":"repeat","z":"ab7335c3.520b68","name":"","repetitions":"6","elseOutput":true,"outputs":2,"x":381.5,"y":665.2500095367432,"wires":[["32c816e.f7d03ea","41144609.142f98"],["e21311af.04c09"]]},{"id":"32c816e.f7d03ea","type":"delay","z":"ab7335c3.520b68","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":557.5,"y":651.25,"wires":[["4a9ec202.42748c"]]},{"id":"465b4b55.348c14","type":"change","z":"ab7335c3.520b68","name":"Reset Loop To 6","rules":[{"t":"set","p":"_loopController.remaining","pt":"msg","to":"6","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":936.5,"y":726.25,"wires":[["287b25cc.f15cfa"]]},{"id":"41144609.142f98","type":"api-call-service","z":"ab7335c3.520b68","name":"Christmas Tree Toggle","server":"586f2092.a61f","service_domain":"switch","service":"toggle","data":"{\"entity_id\":\"switch.extension_1\"}","x":592.5,"y":613.25,"wires":[[]]},{"id":"9648f7a6.ba0698","type":"change","z":"ab7335c3.520b68","name":"Format Notification","rules":[{"t":"change","p":"payload","pt":"msg","from":"full","fromt":"str","to":"{\"data\":{\"message\": \"Thanks, I sure was thirsty!!\",\"data\": {\"tag\": \"christmas_tree\"}}}","tot":"json"},{"t":"change","p":"payload","pt":"msg","from":"low","fromt":"str","to":"{\"data\":{\"message\": \"Please Water Me!! [low]\",\"data\": {\"tag\": \"christmas_tree\"}}}","tot":"json"},{"t":"change","p":"payload","pt":"msg","from":"critical","fromt":"str","to":"{\"data\":{\"message\": \"Please Water Me!! [critical]\",\"data\": {\"tag\": \"christmas_tree\"}}}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":537,"y":506,"wires":[["9ab36f47.6004c"]]},{"id":"f11250a.23b24b","type":"comment","z":"ab7335c3.520b68","name":"Blink the tree 6 times every 2 minutes while not full","info":"","x":476,"y":593,"wires":[]},{"id":"f37741be.800d1","type":"switch","z":"e3b9f6b1.a1d0c8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"180","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":564,"y":197,"wires":[["9ef70dc1.602dc","69b3b513.3d7cfc"],["6253919d.3b4f7"]]},{"id":"9ef70dc1.602dc","type":"change","z":"e3b9f6b1.a1d0c8","name":"Stop Timer","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":728,"y":188,"wires":[["6253919d.3b4f7"]]},{"id":"6253919d.3b4f7","type":"stoptimer","z":"e3b9f6b1.a1d0c8","duration":"1","units":"Minute","payloadtype":"num","payloadval":"1","name":"","x":784.333251953125,"y":250.16665649414062,"wires":[[],[]]},{"id":"a83126e6.84a798","type":"subflow:e3b9f6b1.a1d0c8","z":"37ca70b3.1ccd","x":811,"y":133.91664123535156,"wires":[["daa78b25.204ac8"]]},{"id":"50f1bd91.4a42f4","type":"subflow:e3b9f6b1.a1d0c8","z":"37ca70b3.1ccd","x":779,"y":283.6666650772095,"wires":[["4719404d.ef282"]]},{"id":"968b2e9e.b60e4","type":"subflow:e3b9f6b1.a1d0c8","z":"37ca70b3.1ccd","x":775,"y":473.6666955947876,"wires":[["9120aa45.8e39f8"]]},{"id":"9b5f568d.71cf08","type":"api-current-state","z":"30de7929.802c66","name":"Kitchen Lights on","server":"586f2092.a61f","halt_if":"off","entity_id":"switch.kitchen","x":199,"y":128.66665649414062,"wires":[["e56fc132.08256"]]},{"id":"98c1c02.19be34","type":"api-current-state","z":"30de7929.802c66","name":"Kitchen Table Lights on","server":"586f2092.a61f","halt_if":"off","entity_id":"switch.kitchen_table","x":221,"y":181.66665649414062,"wires":[["e56fc132.08256"]]},{"id":"e56fc132.08256","type":"throttle","z":"30de7929.802c66","name":"","throttleType":"time","timeLimit":"50","timeLimitType":"milliseconds","countLimit":0,"blockSize":0,"locked":false,"x":480,"y":114,"wires":[["51cdf89d.656b68"]]},{"id":"b4e5b296.50c36","type":"subflow:30de7929.802c66","z":"37ca70b3.1ccd","x":360,"y":284.0000047683716,"wires":[["79d18640.bf6758"],["efa9e4c6.dcf4b8","dad13fc8.0792b"],["46c8a65c.c626e8"]]},{"id":"c6496bc9.8b2738","type":"subflow:30de7929.802c66","z":"37ca70b3.1ccd","x":341,"y":472.0000047683716,"wires":[["1c48afeb.1075a"],["efa9e4c6.dcf4b8","dad13fc8.0792b"],["d5f0abdc.108c38"]]},{"id":"e21311af.04c09","type":"api-current-state","z":"ab7335c3.520b68","name":"Water Level","server":"586f2092.a61f","halt_if":"full","entity_id":"sensor.christmas_tree_water_level_text","x":570,"y":733,"wires":[["ccae8202.213b7"]]},{"id":"efa9e4c6.dcf4b8","type":"api-call-service","z":"37ca70b3.1ccd","name":"Turn On Kitchen Sink","server":"586f2092.a61f","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.kitchen_sink\"}","x":640.0000610351562,"y":385.9999780654907,"wires":[[]]},{"id":"dad13fc8.0792b","type":"api-call-service","z":"37ca70b3.1ccd","name":"Turn On Fireplace","server":"586f2092.a61f","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.living_room_fireplace\"}","x":629.6666259765625,"y":347.3333520889282,"wires":[[]]},{"id":"b6830ae1.a3e868","type":"api-call-service","z":"37ca70b3.1ccd","name":"Turn Off Kitchen Sink","server":"586f2092.a61f","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.kitchen_sink\"}","x":1357,"y":311.00000858306885,"wires":[[]]},{"id":"a0ad8de4.d55c5","type":"api-call-service","z":"37ca70b3.1ccd","name":"Turn Off Fireplace","server":"586f2092.a61f","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.living_room_fireplace\"}","x":1349,"y":360,"wires":[[]]},{"id":"84549505.706f88","type":"api-current-state","z":"a52e9553.e94c48","name":"kitchen mode","server":"586f2092.a61f","halt_if":"","entity_id":"input_select.kitchen_motion","x":168,"y":29,"wires":[["48f4f500.3c075c"]]},{"id":"48f4f500.3c075c","type":"switch","z":"a52e9553.e94c48","name":"Kitchen Mode","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"motion","vt":"str"}],"checkall":"true","outputs":1,"x":345,"y":28,"wires":[[]]},{"id":"51cdf89d.656b68","type":"subflow:a52e9553.e94c48","z":"30de7929.802c66","x":632,"y":113,"wires":[["d7a9417.dd76dc"]]},{"id":"4719404d.ef282","type":"subflow:a52e9553.e94c48","z":"37ca70b3.1ccd","x":966,"y":283.00000858306885,"wires":[["ea78a7df.9c1528","a21b48b9.031fa8"]]},{"id":"9120aa45.8e39f8","type":"subflow:a52e9553.e94c48","z":"37ca70b3.1ccd","x":965,"y":473.00000858306885,"wires":[["419553f1.5a5efc","a21b48b9.031fa8"]]},{"id":"6ef514.198a5aec","type":"api-current-state","z":"fa3dc47b.73ac68","name":"Dining mode","server":"586f2092.a61f","halt_if":"","entity_id":"input_select.dining_room_motion","x":173,"y":30,"wires":[["260414bc.0d035c"]]},{"id":"260414bc.0d035c","type":"switch","z":"fa3dc47b.73ac68","name":"Dining Mode","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"motion","vt":"str"}],"checkall":"true","outputs":1,"x":340,"y":29,"wires":[[]]},{"id":"ff758c21.b9829","type":"api-current-state","z":"24ed876f.5e68d8","name":"Living mode","server":"586f2092.a61f","halt_if":"","entity_id":"input_select.living_room_motion","x":175,"y":21,"wires":[["6af6dece.28d34"]]},{"id":"6af6dece.28d34","type":"switch","z":"24ed876f.5e68d8","name":"Living Mode","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"motion","vt":"str"}],"checkall":"true","outputs":1,"x":342,"y":20,"wires":[[]]},{"id":"daa78b25.204ac8","type":"subflow:fa3dc47b.73ac68","z":"37ca70b3.1ccd","x":1019,"y":135.24999237060547,"wires":[["1cc19bd6.5207d4"]]},{"id":"c330083c.5dcd38","type":"subflow:24ed876f.5e68d8","z":"37ca70b3.1ccd","x":1066,"y":653.666708946228,"wires":[["bc500984.0551c8"]]},{"id":"98f79f04.9b08f","type":"api-current-state","z":"6e62bbb7.da2654","name":"Light Level","server":"586f2092.a61f","halt_if":"","entity_id":"sensor.kitchen_light_level","x":199.99998474121094,"y":59.999996185302734,"wires":[["f3cd4ad0.4b9c68"]]},{"id":"f3cd4ad0.4b9c68","type":"switch","z":"6e62bbb7.da2654","name":"Light < 20","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"20","vt":"num"},{"t":"eq","v":"undefined","vt":"str"}],"checkall":"true","outputs":2,"x":348.9166717529297,"y":59.749996185302734,"wires":[[],[]]},{"id":"e162552d.5bbe18","type":"api-current-state","z":"be6daaf.e87f058","name":"Kitchen Lights on","server":"586f2092.a61f","halt_if":"off","entity_id":"switch.kitchen","x":284.9166717529297,"y":105.7500114440918,"wires":[["f133b53d.2aee58"]]},{"id":"b107777a.d69ff8","type":"api-current-state","z":"be6daaf.e87f058","name":"Kitchen Table Lights on","server":"586f2092.a61f","halt_if":"off","entity_id":"switch.kitchen_table","x":304.24998474121094,"y":151.0833101272583,"wires":[["f133b53d.2aee58"]]},{"id":"bef42de4.40bcd","type":"api-current-state","z":"be6daaf.e87f058","name":"Dining Room Lights On","server":"586f2092.a61f","halt_if":"off","entity_id":"switch.dining_room","x":306.91664123535156,"y":199.08334064483643,"wires":[["f133b53d.2aee58"]]},{"id":"f133b53d.2aee58","type":"throttle","z":"be6daaf.e87f058","name":"","throttleType":"time","timeLimit":"100","timeLimitType":"milliseconds","countLimit":0,"blockSize":0,"locked":false,"x":509.74999237060547,"y":144.4166555404663,"wires":[["e8ed0eb0.c85ea"]]},{"id":"e8ed0eb0.c85ea","type":"subflow:fa3dc47b.73ac68","z":"be6daaf.e87f058","x":677.3333129882812,"y":142.75,"wires":[[]]},{"id":"3dce11d3.475bfe","type":"subflow:be6daaf.e87f058","z":"37ca70b3.1ccd","x":356,"y":134,"wires":[["44843c4.7a0d7c4","2576a529.1f8d0a"]]},{"id":"bf77d069.da049","type":"subflow:6e62bbb7.da2654","z":"be6daaf.e87f058","x":272.4583282470703,"y":60.874996185302734,"wires":[["f133b53d.2aee58"]]},{"id":"a7cc0711.69d318","type":"subflow:6e62bbb7.da2654","z":"30de7929.802c66","x":221,"y":74,"wires":[["e56fc132.08256"]]},{"id":"c4109cf3.7558a","type":"subflow:24ed876f.5e68d8","z":"49f9131f.8ed8fc","x":568,"y":128,"wires":[[]]},{"id":"c837e56d.6edfd8","type":"throttle","z":"49f9131f.8ed8fc","name":"","throttleType":"time","timeLimit":"100","timeLimitType":"milliseconds","countLimit":0,"blockSize":0,"locked":false,"x":404.00000762939453,"y":132.41667079925537,"wires":[["c4109cf3.7558a"]]},{"id":"24b0c047.f9cb4","type":"switch","z":"49f9131f.8ed8fc","name":"Light < 500","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"500","vt":"num"},{"t":"eq","v":"undefined","vt":"str"}],"checkall":"true","outputs":2,"x":302.91668701171875,"y":85.75,"wires":[["c837e56d.6edfd8"],["c837e56d.6edfd8"]]},{"id":"731292ad.2c812c","type":"api-current-state","z":"49f9131f.8ed8fc","name":"Living Room Lights on","server":"586f2092.a61f","halt_if":"off","entity_id":"switch.wemo_switch_2","x":207.75000762939453,"y":132.66667079925537,"wires":[["c837e56d.6edfd8"]]},{"id":"d53116a8.40a048","type":"api-current-state","z":"49f9131f.8ed8fc","name":"Light Level","server":"586f2092.a61f","halt_if":"","entity_id":"sensor.living_room_light_level","x":146,"y":86,"wires":[["24b0c047.f9cb4"]]},{"id":"2dac65cd.c0bf9a","type":"subflow:49f9131f.8ed8fc","z":"37ca70b3.1ccd","name":"","x":353,"y":646.666708946228,"wires":[["25a568e.1250098","ec054ff6.8d8db"]]},{"id":"4b7cf0de.21ef3","type":"time-range-switch","z":"e3b9f6b1.a1d0c8","name":"Daytime For Motion","lat":"43.14029","lon":"-76.09538","startTime":"7:00","endTime":"21:00","startOffset":0,"endOffset":0,"x":181,"y":163,"wires":[["69b3b513.3d7cfc"],["be38bee4.722be"]],"inputLabels":["Motion Activation"],"outputLabels":["Daytime","Nighttime"]},{"id":"be38bee4.722be","type":"api-render-template","z":"e3b9f6b1.a1d0c8","name":"Execute Template","server":"586f2092.a61f","template":"{{(as_timestamp(now()) - as_timestamp(states.switch.dining_room.last_changed)) if states.switch.dining_room.state == 'on' else 0}}","x":394.41668701171875,"y":197.58331298828125,"wires":[["f37741be.800d1"]]},{"id":"69b3b513.3d7cfc","type":"stoptimer","z":"e3b9f6b1.a1d0c8","duration":"5","units":"Minute","payloadtype":"num","payloadval":"5","name":"","x":599.25,"y":107.25,"wires":[[],[]]},{"id":"2576a529.1f8d0a","type":"change","z":"37ca70b3.1ccd","name":"Set Template","rules":[{"t":"set","p":"template","pt":"msg","to":"{{(as_timestamp(now()) - as_timestamp(states.switch.dining_room.last_changed)) if states.switch.dining_room.state == 'on' else 0}}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":603,"y":135,"wires":[["a83126e6.84a798"]]},{"id":"46c8a65c.c626e8","type":"change","z":"37ca70b3.1ccd","name":"Set Template","rules":[{"t":"set","p":"template","pt":"msg","to":"{{(as_timestamp(now()) - as_timestamp(states.switch.kitchen.last_changed)) if states.switch.kitchen.state == 'on' else 0}}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":599,"y":284.00000858306885,"wires":[["50f1bd91.4a42f4"]]},{"id":"d5f0abdc.108c38","type":"change","z":"37ca70b3.1ccd","name":"Set Template","rules":[{"t":"set","p":"template","pt":"msg","to":"{{(as_timestamp(now()) - as_timestamp(states.switch.kitchen_table.last_changed)) if states.switch.kitchen_table.state == 'on' else 0}}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":595,"y":474.00000858306885,"wires":[["968b2e9e.b60e4"]]},{"id":"1d57943c.9ae1dc","type":"server-state-changed","z":"1ae55a97.d30a15","name":"Water Level","server":"586f2092.a61f","entityidfilter":"water_level","entityidfiltertype":"substring","haltifstate":"","x":75,"y":341,"wires":[["1af692e2.3434bd"]]},{"id":"1af692e2.3434bd","type":"switch","z":"1ae55a97.d30a15","name":"switch","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"christmas","vt":"str"},{"t":"cont","v":"sump","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":214,"y":340,"wires":[[],["1114f5cc.cf8e2a"],["298e06fc.ee6bda"]]},{"id":"4b0d1d68.47d904","type":"api-call-service","z":"1ae55a97.d30a15","name":"Notify Html5","server":"586f2092.a61f","service_domain":"notify","service":"html5","data":"{\"message\":\"Water Level High\"}","x":982,"y":368,"wires":[[]]},{"id":"9cca897f.281048","type":"template","z":"1ae55a97.d30a15","name":"notify template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"data\": {\n    \"title\": \"{{data.new_state.attributes.friendly_name}} High [{{payload}}]\",\n    \"message\": \"Check Water Sensor\",\n    \"data\": {\n        \"tag\": \"{{data.new_state.attributes.friendly_name}}\"\n        }\n    }\n}","output":"json","x":806,"y":368,"wires":[["4b0d1d68.47d904"]]},{"id":"ef8f0323.9f368","type":"comment","z":"1ae55a97.d30a15","name":"If water level is over 10 for a sensor notify everyone","info":"","x":228,"y":300,"wires":[]},{"id":"51a83227.d977ec","type":"comment","z":"1ae55a97.d30a15","name":"If a power loss was detected at the server try to notify seth","info":"","x":221,"y":138,"wires":[]},{"id":"f6a13638.c79488","type":"comment","z":"42bda437.8bf3ec","name":"open the shades at 8 and close at sunset","info":"","x":292,"y":129,"wires":[]},{"id":"7ab76a8e.79af94","type":"comment","z":"42bda437.8bf3ec","name":"open/close shades during daytime when ariving/leaving","info":"","x":208,"y":293,"wires":[]},{"id":"298e06fc.ee6bda","type":"switch","z":"1ae55a97.d30a15","name":"Non-trivial Water level","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"10","vt":"num"}],"checkall":"true","outputs":1,"x":512,"y":369,"wires":[["9cca897f.281048"]]},{"id":"bfa09016.0ce46","type":"server-state-changed","z":"3d9442da.6e01ee","name":"Travel Time Updated Christy->Seth","server":"586f2092.a61f","entityidfilter":"sensor.travel_time_christy_to_seth","entityidfiltertype":"exact","haltifstate":"","x":145,"y":803.5000143051147,"wires":[["b2444193.e1ee"]]},{"id":"b2444193.e1ee","type":"api-current-state","z":"3d9442da.6e01ee","name":"Should Notify Seth","server":"586f2092.a61f","halt_if":"off","entity_id":"input_boolean.notify_travel_time_christy_to_seth","x":396,"y":805.5000143051147,"wires":[["40f1e2cb.03fa8c"]]},{"id":"302e089f.cd0d38","type":"api-current-state","z":"3d9442da.6e01ee","name":"Should Notify Christy","server":"586f2092.a61f","halt_if":"off","entity_id":"input_boolean.notify_travel_time_seth_to_christy","x":401,"y":722.5000143051147,"wires":[["4eac2310.d65f6c"]]},{"id":"2d2dc934.558326","type":"server-state-changed","z":"3d9442da.6e01ee","name":"Travel Time Updated Seth->Christy","server":"586f2092.a61f","entityidfilter":"sensor.travel_time_seth_to_christy","entityidfiltertype":"exact","haltifstate":"","x":145,"y":722.5000143051147,"wires":[["302e089f.cd0d38"]]},{"id":"c625e5a0.be82d8","type":"watch","z":"c7cc637f.2f28c","name":"Torrent Finished","files":"/share/media/torrents","recursive":true,"x":118,"y":116,"wires":[["c55225dd.c2bb38","6f033f2f.f4fec"]]},{"id":"d4246700.c7f078","type":"api-call-service","z":"c7cc637f.2f28c","name":"Notify Seth","server":"586f2092.a61f","service_domain":"notify","service":"html5_seths_one_plus_3t","data":"{\"message\": \"torrent finished\"}","x":651,"y":124,"wires":[[]]},{"id":"c55225dd.c2bb38","type":"switch","z":"c7cc637f.2f28c","name":"","property":"type","propertyType":"msg","rules":[{"t":"eq","v":"none","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":308,"y":117,"wires":[[],["59122a09.bc0964","6f033f2f.f4fec"]]},{"id":"59122a09.bc0964","type":"template","z":"c7cc637f.2f28c","name":"notify template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"data\": {\n    \"title\": \"{{file}} finished downloading\",\n    \"message\": \"Download Finished\",\n    \"data\":{\n        \"tag\": \"{{file}}_tag\",\n        \"vibrate\": [500, 200, 500, 200, 500],\n        \"renotify\": true\n        }\n    }\n}","output":"json","x":461,"y":124,"wires":[["d4246700.c7f078","6f033f2f.f4fec"]]},{"id":"6f033f2f.f4fec","type":"debug","z":"c7cc637f.2f28c","name":"","active":false,"console":"false","complete":"true","x":588,"y":199,"wires":[]},{"id":"3c9e5bdc.b3a6f4","type":"api-current-state","z":"3d9442da.6e01ee","name":"Travel Time","server":"586f2092.a61f","halt_if":"","entity_id":"sensor.travel_time_christy_to_seth","x":716,"y":806.5000143051147,"wires":[["65f2204d.a42c8"]]},{"id":"f8fcb024.0f32","type":"api-call-service","z":"3d9442da.6e01ee","name":"Notification Off","server":"586f2092.a61f","service_domain":"input_boolean","service":"turn_off","data":"{ \"entity_id\":\"input_boolean.notify_travel_time_christy_to_seth\"}","x":1109,"y":804.5000143051147,"wires":[[]]},{"id":"457c1633.a4ff28","type":"api-current-state","z":"3d9442da.6e01ee","name":"Travel Time","server":"586f2092.a61f","halt_if":"","entity_id":"sensor.travel_time_seth_to_christy","x":725,"y":722.5000143051147,"wires":[["65f2204d.a42c8"]]},{"id":"65f2204d.a42c8","type":"function","z":"3d9442da.6e01ee","name":"Format Notification","func":"var notification = {};\nvar turn_off_notification = null;\n\nvar traveler = \"Seth\";\nvar destination = \"Christy\";\nvar phone = \"christys_lg_g2\";\nvar message = \"\";\nvar title = \"\";\nvar renotify = false;\nif(msg.topic.endsWith(\"seth\"))\n{\n    phone = \"seths_one_plus_3t\";\n    traveler = \"Christy\";\n    destination = \"Seth\";\n}\nif(Number(msg.payload) < 3)\n{\n    title = traveler+\" is here.\";\n    message = \"Travel time is 2 minutes or less.\";\n    renotify = true;\n    var entity_id = \"input_boolean.notify_travel_time_\"+traveler.toLowerCase()+\"_to_\"+destination.toLowerCase();\n    turn_off_notification = {payload: {\"data\":{\"entity_id\": entity_id}}};\n}\nelse\n{\n    title = traveler+\" will be here in \"+msg.payload+\" minutes.\";\n    message = \"Estimated travel time.\";\n}\nvar tag = traveler+\"_to_\"+destination;\nnotification = {payload: {\"data\": {\"target\": phone, \"title\": title, \"message\": message, \"data\":{\"tag\":tag, \"renotify\":renotify}}}};\n\nreturn [notification, turn_off_notification];","outputs":"2","noerr":0,"x":902,"y":761.5000143051147,"wires":[["466d26f1.ba08e8","e0ce6620.a67b78"],["f8fcb024.0f32"]]},{"id":"40f1e2cb.03fa8c","type":"delay","z":"3d9442da.6e01ee","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":565,"y":805.5000143051147,"wires":[["3c9e5bdc.b3a6f4"]]},{"id":"466d26f1.ba08e8","type":"api-call-service","z":"3d9442da.6e01ee","name":"Notify Phone","server":"586f2092.a61f","service_domain":"notify","service":"html5","data":"{}","x":1101,"y":750.5000143051147,"wires":[[]]},{"id":"e0ce6620.a67b78","type":"debug","z":"3d9442da.6e01ee","name":"","active":false,"console":"false","complete":"true","x":1070,"y":708.5000143051147,"wires":[]},{"id":"4eac2310.d65f6c","type":"delay","z":"3d9442da.6e01ee","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":578,"y":722.5000143051147,"wires":[["457c1633.a4ff28"]]},{"id":"a52e1c97.eaa5b","type":"server-state-changed","z":"1ae55a97.d30a15","name":"Motion","server":"586f2092.a61f","entityidfilter":"binary_sensor","entityidfiltertype":"substring","haltifstate":"off","x":70,"y":553,"wires":[["dd38b2fc.f614e"]]},{"id":"dd38b2fc.f614e","type":"switch","z":"1ae55a97.d30a15","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"motion","vt":"str"}],"checkall":"true","outputs":1,"x":183,"y":553,"wires":[["a4610aef.c99798","ff263327.01b43","1ceefd51.90d053"]]},{"id":"a4610aef.c99798","type":"debug","z":"1ae55a97.d30a15","name":"","active":false,"console":"false","complete":"true","x":375,"y":477,"wires":[]},{"id":"a59f5aab.dfd738","type":"api-call-service","z":"1ae55a97.d30a15","name":"Set Motion Detected","server":"586f2092.a61f","service_domain":"input_boolean","service":"turn_on","data":"{ \"entity_id\": \"input_boolean.motion_detected\"}","x":710,"y":500,"wires":[[]]},{"id":"ff263327.01b43","type":"stoptimer","z":"1ae55a97.d30a15","duration":"5","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":335,"y":576,"wires":[["9de6a2eb.5ed35"],[]]},{"id":"c047be7c.d8f4e","type":"api-call-service","z":"1ae55a97.d30a15","name":"Clear Motion Detected","server":"586f2092.a61f","service_domain":"input_boolean","service":"turn_off","data":"{ \"entity_id\": \"input_boolean.motion_detected\"}","x":746,"y":555,"wires":[[]]},{"id":"789c067.67e4df8","type":"comment","z":"1ae55a97.d30a15","name":"motion boolean for baysien sensor","info":"","x":148,"y":481,"wires":[]},{"id":"bf5073d5.b7516","type":"inject","z":"ab7335c3.520b68","name":"","topic":"","payload":"full","payloadType":"str","repeat":"","crontab":"","once":false,"x":164,"y":630,"wires":[["aa6eff9f.1b3f7"]]},{"id":"f8de8c16.8b4c6","type":"inject","z":"ab7335c3.520b68","name":"","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"x":583,"y":690,"wires":[["ccae8202.213b7"]]},{"id":"2971cd9c.67efd2","type":"inject","z":"1ae55a97.d30a15","name":"Check Disk Usage","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"30 17 * * *","once":false,"x":128,"y":707,"wires":[["68816641.a1f8f8","68fd01ac.93614","b771de6.b9b352"]]},{"id":"68fd01ac.93614","type":"api-current-state","z":"1ae55a97.d30a15","name":"% Used /mnt/backup","server":"586f2092.a61f","halt_if":"","entity_id":"sensor.disk_used_mntbackup","x":344,"y":668,"wires":[["92dfd19b.23a32"]]},{"id":"92dfd19b.23a32","type":"switch","z":"1ae55a97.d30a15","name":"> 90","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"90","vt":"num"}],"checkall":"true","outputs":1,"x":686,"y":693,"wires":[["3e822922.736d46"]]},{"id":"68816641.a1f8f8","type":"api-current-state","z":"1ae55a97.d30a15","name":"% Used /mnt/share","server":"586f2092.a61f","halt_if":"","entity_id":"sensor.disk_used_mntshare","x":346,"y":724,"wires":[["61440062.f64f"]]},{"id":"70874b9f.26bee4","type":"api-call-service","z":"1ae55a97.d30a15","name":"Notify Seth","server":"586f2092.a61f","service_domain":"notify","service":"html5_seths_one_plus_3t","data":"{\"target\":\"seths_one_plus_3t\", \"message\":\"Power Event Occured\"}","x":1171,"y":693,"wires":[[]]},{"id":"3e822922.736d46","type":"template","z":"1ae55a97.d30a15","name":"notify template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"data\": {\n    \"title\": \"{{data.attributes.friendly_name}} is {{payload}}%\",\n    \"message\": \"Usage High\",\n    \"data\": {\n        \"tag\": \"{{topic}}\"\n        }\n    }\n}","output":"json","x":840,"y":693,"wires":[["746e84a0.b2fb2c","c8e3308f.57c1"]]},{"id":"746e84a0.b2fb2c","type":"change","z":"1ae55a97.d30a15","name":"pretty format","rules":[{"t":"change","p":"payload.data.title","pt":"msg","from":"&#x2F;","fromt":"str","to":"/","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1011,"y":693,"wires":[["70874b9f.26bee4","c8e3308f.57c1"]]},{"id":"c8e3308f.57c1","type":"debug","z":"1ae55a97.d30a15","name":"","active":false,"console":"false","complete":"true","x":1157,"y":730,"wires":[]},{"id":"1ec8c6ed.f611a9","type":"template","z":"1ae55a97.d30a15","name":"notify template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"data\": {\n    \"title\": \"Power Event Occured\",\n    \"message\": \"Battery At {{payload}}\",\n    \"data\": {\n        \"tag\": \"{{topic}}\"\n        }\n    }\n}","output":"json","x":388,"y":178,"wires":[["6ee3c32d.9f77ac"]]},{"id":"d693a69c.8d8928","type":"inject","z":"1ae55a97.d30a15","name":"12:30 AM","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"30 12 * * *","once":false,"x":90,"y":60,"wires":[["7cd48723.5f6fc8"]]},{"id":"3417f442.48ea2c","type":"api-call-service","z":"1ae55a97.d30a15","name":"Turn Off All","server":"586f2092.a61f","service_domain":"script","service":"turn_on","data":"{ \"entity_id\": \"script.turn_off_all\"}","x":530,"y":40,"wires":[[]]},{"id":"360cb8c6.d7cce8","type":"comment","z":"1ae55a97.d30a15","name":"Reset the house at 12:30","info":"","x":132,"y":20,"wires":[]},{"id":"6c5cf4b8.b7964c","type":"switch","z":"3d9442da.6e01ee","name":"Christy Home?","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"input_select.christys_location","vt":"str"}],"checkall":"true","outputs":1,"x":531,"y":509,"wires":[["c0de85c2.891c88"]]},{"id":"c6d21787.09be58","type":"debug","z":"3d9442da.6e01ee","name":"","active":false,"console":"false","complete":"true","x":293,"y":589,"wires":[]},{"id":"870762b4.e7462","type":"api-call-service","z":"3d9442da.6e01ee","name":"notify Christy","server":"586f2092.a61f","service_domain":"notify","service":"html5_christys_lg_g2","data":"{\"title\":\"Heading Out\", \"message\": \"Seth Left Work\",\"data\": {\"tag\": \"seth_left_work\"}}","x":1310,"y":418,"wires":[[]]},{"id":"1f044ac9.9bd6a5","type":"time-range-switch","z":"3d9442da.6e01ee","name":"","lat":"43.14035","lon":"-76.09633","startTime":"16:00","endTime":"18:30","startOffset":0,"endOffset":0,"x":836,"y":420,"wires":[["292d894d.039ad6"],[]]},{"id":"61440062.f64f","type":"delay","z":"1ae55a97.d30a15","name":"","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":531,"y":723,"wires":[["92dfd19b.23a32"]]},{"id":"aeab69a4.453768","type":"comment","z":"1ae55a97.d30a15","name":"delay required or notify fails to notify if both are over 90","info":"","x":670,"y":654,"wires":[]},{"id":"292d894d.039ad6","type":"api-current-state","z":"3d9442da.6e01ee","name":"Christy Home","server":"586f2092.a61f","halt_if":"","entity_id":"input_select.christys_location","x":1008,"y":413,"wires":[["35f37f30.eb1ab"]]},{"id":"35f37f30.eb1ab","type":"switch","z":"3d9442da.6e01ee","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"}],"checkall":"true","outputs":1,"x":1167,"y":419,"wires":[["870762b4.e7462"]]},{"id":"aa2dd421.c69468","type":"comment","z":"3d9442da.6e01ee","name":"Let Christy Know Seth Left Work","info":"","x":901,"y":378,"wires":[]},{"id":"b7be6b1c.bd6708","type":"server-state-changed","z":"1ae55a97.d30a15","name":"Swap Space","server":"586f2092.a61f","entityidfilter":"sensor.swap_used","haltifstate":"","x":391.25,"y":814,"wires":[["356aeb2c.6fdb54"]]},{"id":"356aeb2c.6fdb54","type":"switch","z":"1ae55a97.d30a15","name":"> 50","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"50","vt":"num"}],"checkall":"true","outputs":1,"x":534.5,"y":813.75,"wires":[["3e822922.736d46"]]},{"id":"8ca9c845.726ae8","type":"server-state-changed","z":"3d9442da.6e01ee","name":"Device Home","server":"586f2092.a61f","entityidfilter":"device_tracker","entityidfiltertype":"substring","haltifstate":"","x":75,"y":1052.500015258789,"wires":[["eadf6028.607bb"]]},{"id":"1782141.c55f6ec","type":"throttle","z":"3d9442da.6e01ee","name":"","throttleType":"time","timeLimit":"100","timeLimitType":"milliseconds","countLimit":0,"blockSize":0,"locked":false,"x":345,"y":1051.5,"wires":[["b538d4a.6726a28","9567fe7c.0d1fc"]]},{"id":"8e01f1e5.f8f76","type":"debug","z":"3d9442da.6e01ee","name":"","active":false,"console":"false","complete":"true","x":1017,"y":1101.25,"wires":[]},{"id":"50346b91.f7b494","type":"inject","z":"3d9442da.6e01ee","name":"","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":false,"onceDelay":"","x":222.5,"y":1103.25,"wires":[["1782141.c55f6ec"]]},{"id":"9567fe7c.0d1fc","type":"api-render-template","z":"3d9442da.6e01ee","name":"Devices List","server":"586f2092.a61f","template":"{%-for entities in states.group.all_devices.attributes.entity_id-%}\n{%-if states.device_tracker[entities.split('.')[1]].state == 'home'-%}\n{{entities}}\n{%endif-%}\n{%-endfor-%}","x":487.5,"y":1079.25,"wires":[["bcb106d8.13d008","8e01f1e5.f8f76"]]},{"id":"b538d4a.6726a28","type":"api-render-template","z":"3d9442da.6e01ee","name":"Family List","server":"586f2092.a61f","template":"{%-for entities in states.group.family.attributes.entity_id-%}\n{%-if states.device_tracker[entities.split('.')[1]].state == 'home'-%}\n{{entities}}\n{%endif-%}\n{%endfor-%}","x":490.25,"y":1031.25,"wires":[["bcb106d8.13d008","8e01f1e5.f8f76"]]},{"id":"bcb106d8.13d008","type":"join","z":"3d9442da.6e01ee","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"1","count":"","x":633.25,"y":1051.5,"wires":[["7ec4516.f85f5b","8e01f1e5.f8f76"]]},{"id":"7ec4516.f85f5b","type":"function","z":"3d9442da.6e01ee","name":"Count Difference","func":"var list1 = msg.payload[0].split('\\n');\nvar count = list1.length;\nif(msg.payload.length > 1)\n{\n    list2 = msg.payload[1].split('\\n');\n    count = Math.abs(list1.length - list2.length);\n}\n\nvar result = {payload: {\n                \"state\":count ,\n                \"attributes\":{\"friendly_name\": \"Number of Guests\"}\n                },\n              topic: \"Number of Guests\"};\nreturn result;","outputs":1,"noerr":0,"x":791,"y":1050.5,"wires":[["8e01f1e5.f8f76","d9e9c882.c3e9c8"]]},{"id":"eadf6028.607bb","type":"switch","z":"3d9442da.6e01ee","name":"","property":"data.old_state.state != payload","propertyType":"jsonata","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":217,"y":1052,"wires":[["1782141.c55f6ec"]]},{"id":"d9e9c882.c3e9c8","type":"http request","z":"3d9442da.6e01ee","name":"HA REST Post","method":"POST","ret":"txt","url":"localhost:8123/api/states/sensor.guest_count","tls":"","x":983,"y":1051,"wires":[["8e01f1e5.f8f76"]]},{"id":"bdf85915.217238","type":"comment","z":"3d9442da.6e01ee","name":"Count the number of tracked devices in the house and compare them to the known \"family member\" devices","info":"","x":397,"y":994,"wires":[]},{"id":"492c14a.ecf1fec","type":"comment","z":"3d9442da.6e01ee","name":"hass REST api is the only way to create and update a read only sensor","info":"","x":1050,"y":1018,"wires":[]},{"id":"e7c57007.11aca","type":"comment","z":"3d9442da.6e01ee","name":"Travel Time update between seth and christy send html5 notification","info":"","x":698,"y":677,"wires":[]},{"id":"7cd48723.5f6fc8","type":"api-current-state","z":"1ae55a97.d30a15","name":"Guest Count","server":"586f2092.a61f","halt_if":"","entity_id":"sensor.guest_count","x":250,"y":60,"wires":[["73e8f184.1362a"]]},{"id":"73e8f184.1362a","type":"switch","z":"1ae55a97.d30a15","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":390,"y":60,"wires":[["3417f442.48ea2c"],["70e217a1.cce908"]]},{"id":"70e217a1.cce908","type":"stoptimer","z":"1ae55a97.d30a15","duration":"10","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":545,"y":85,"wires":[["25e58ce1.7e70b4"],[]]},{"id":"f12220f6.3e632","type":"link in","z":"1ae55a97.d30a15","name":"House Shutdown In","links":["25e58ce1.7e70b4"],"x":136,"y":98,"wires":[["7cd48723.5f6fc8"]]},{"id":"25e58ce1.7e70b4","type":"link out","z":"1ae55a97.d30a15","name":"House Shutdown Out","links":["f12220f6.3e632"],"x":668,"y":78,"wires":[]},{"id":"287b25cc.f15cfa","type":"link out","z":"ab7335c3.520b68","name":"Christmas Tree Flash Loop Out","links":["16272eb.afdc2d1"],"x":1057,"y":726,"wires":[]},{"id":"16272eb.afdc2d1","type":"link in","z":"ab7335c3.520b68","name":"Christmas Tree Flash Loop In","links":["287b25cc.f15cfa","4a9ec202.42748c"],"x":250,"y":667,"wires":[["c2677356.41dc9"]]},{"id":"4a9ec202.42748c","type":"link out","z":"ab7335c3.520b68","name":"Christmas Tree Flash Loop Out","links":["16272eb.afdc2d1"],"x":655,"y":651,"wires":[]},{"id":"cc63a4c4.fd77a8","type":"switch","z":"3d9442da.6e01ee","name":"Departed Where?","property":"data.old_state.state","propertyType":"msg","rules":[{"t":"eq","v":"home","vt":"str"},{"t":"eq","v":"not_home","vt":"str"},{"t":"eq","v":"just_left","vt":"str"},{"t":"eq","v":"just_arrived","vt":"str"},{"t":"eq","v":"work","vt":"str"},{"t":"eq","v":"church","vt":"str"},{"t":"eq","v":"parentsHouse","vt":"str"},{"t":"eq","v":"inLawsHouse","vt":"str"},{"t":"eq","v":"northwestYMCA","vt":"str"},{"t":"eq","v":"wegmans","vt":"str"}],"checkall":"false","outputs":10,"x":539,"y":402,"wires":[[],[],["77154b81.b69624"],[],["1f044ac9.9bd6a5","d516d4ae.4ae468"],["d516d4ae.4ae468"],["d516d4ae.4ae468"],["d516d4ae.4ae468"],["d516d4ae.4ae468"],[]]},{"id":"6b9ac9da.c32d58","type":"switch","z":"3d9442da.6e01ee","name":"> 30min","property":"dT","propertyType":"msg","rules":[{"t":"gt","v":"30","vt":"num"}],"checkall":"true","outputs":1,"x":991,"y":468,"wires":[["feda4a99.71c3c8"]]},{"id":"d516d4ae.4ae468","type":"function","z":"3d9442da.6e01ee","name":"dT minutes","func":"var t1 = Date.parse(msg.data.old_state.last_changed);\nvar t2 = Date.parse(msg.data.new_state.last_changed);\n\n//time delta in minutes\nvar delta = ((t2-t1)/1000.0)/60.0;\nmsg.dT = delta;\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":468,"wires":[["6b9ac9da.c32d58"]]},{"id":"feda4a99.71c3c8","type":"api-current-state","z":"3d9442da.6e01ee","name":"Anyone Home?","server":"586f2092.a61f","halt_if":"home","entity_id":"group.all_devices","x":1147,"y":468,"wires":[["658c3d24.7e53d4","d76ab97b.e43c78"]]},{"id":"658c3d24.7e53d4","type":"api-call-service","z":"3d9442da.6e01ee","name":"Set hold Home","server":"586f2092.a61f","service_domain":"climate","service":"set_hold_mode","data":"{\"entity_id\": \"climate.bigbee\", \"hold_mode\": \"home\"}","x":1324,"y":491,"wires":[[]]},{"id":"d76ab97b.e43c78","type":"api-call-service","z":"3d9442da.6e01ee","name":"Click to Cancel Resume","server":"586f2092.a61f","service_domain":"notify","service":"html5","data":"{\"title\": \"Ecobee Resumed\", \"message\": \"Location Change Detected, turning on Heat/AC\", \"data\": {\"tag\": \"ecobee_location_change\", \"actions\": [{\"action\": \"cancel_ecobee_home\", \"title\": \"Cancel Resume\"}]}}","x":1353,"y":456,"wires":[[]]},{"id":"a21b48b9.031fa8","type":"time-range-switch","z":"37ca70b3.1ccd","name":"","lat":"43.18568","lon":"-76.17175","startTime":"00:30","endTime":"06:00","startOffset":0,"endOffset":0,"x":1152,"y":344.00000858306885,"wires":[["b6830ae1.a3e868","a0ad8de4.d55c5"],[]]},{"id":"d7a9417.dd76dc","type":"time-range-switch","z":"30de7929.802c66","name":"","lat":"43.18568","lon":"-76.17175","startTime":"00:30","endTime":"05:30","startOffset":0,"endOffset":0,"x":804,"y":114,"wires":[["d76a1623.d2d128"],[]]},{"id":"3f4340b7.ee7ab","type":"api-current-state","z":"42bda437.8bf3ec","name":"Home Occupied?","server":"586f2092.a61f","halt_if":"not_home","entity_id":"group.all_devices","x":743,"y":195,"wires":[["e9f3aa1f.c3bc68"]]},{"id":"6aac6a98.2b2934","type":"switch","z":"1ae55a97.d30a15","name":"Non-trivial Water level","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"10","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":590,"y":330,"wires":[["9cca897f.281048"]]},{"id":"1114f5cc.cf8e2a","type":"rbe","z":"1ae55a97.d30a15","name":"","func":"narrowband","gap":"20","start":"","inout":"in","x":401,"y":329,"wires":[["6aac6a98.2b2934"]]},{"id":"1a374238.d270ee","type":"fs-file-lister","z":"f90ad8d5.5a1c18","name":".node-red","start":"/home/hass/.node-red","pattern":"*","path":true,"single":true,"depth":"0","stat":false,"x":292,"y":61,"wires":[["110b1547.683d1b"]]},{"id":"798015da.a8cfac","type":"fs-file-lister","z":"f90ad8d5.5a1c18","name":".node-red/lib","start":"/home/hass/.node-red/lib","pattern":"*","path":true,"single":true,"depth":"10","stat":false,"x":302,"y":117,"wires":[["110b1547.683d1b"]]},{"id":"2b3802e.9c8bbfe","type":"file in","z":"f90ad8d5.5a1c18","name":"Get File","filename":"","format":"utf8","chunk":false,"sendError":false,"x":547,"y":109,"wires":[["73001a0.233afe8","5d83edb6.7af7e4"]]},{"id":"110b1547.683d1b","type":"function","z":"f90ad8d5.5a1c18","name":"extract files and set filename parameter","func":"var returnMsgs = [];\nfor(i = 0; i < msg.payload.length; i++)\n{\n    var newMsg = {filename: msg.payload[i],\n                  gitPath: msg.payload[i].replace(\"/home/hass/.node-red/\", \"\")};\n    returnMsgs.push(newMsg);\n}\nreturn [returnMsgs];","outputs":1,"noerr":0,"x":590,"y":46,"wires":[["2b3802e.9c8bbfe"]]},{"id":"2719c027.fa87e","type":"github-repo","z":"f90ad8d5.5a1c18","github":"9261fdd1.b8cc3","name":"","username":"nordlead2005","usernameType":"str","repository":"node-red-config","repositoryType":"str","action":"write","branch":"master","branchType":"str","path":"gitPath","pathType":"msg","pathto":"","pathtoType":"str","contents":"payload","contentsType":"msg","outputs":"0","x":685,"y":175,"wires":[]},{"id":"8f5b1c08.21433","type":"inject","z":"f90ad8d5.5a1c18","name":"Nightly Backup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 01 * * *","once":false,"x":121,"y":61,"wires":[["1a374238.d270ee","798015da.a8cfac","5ca6d79f.bcb9d8"]]},{"id":"73001a0.233afe8","type":"delay","z":"f90ad8d5.5a1c18","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":723,"y":110,"wires":[["2719c027.fa87e"]]},{"id":"5ca6d79f.bcb9d8","type":"fs-file-lister","z":"f90ad8d5.5a1c18","name":".node-red/nodes","start":"/home/hass/.node-red/nodes","pattern":"*","path":true,"single":true,"depth":"10","stat":false,"x":309,"y":171,"wires":[["110b1547.683d1b"]]},{"id":"40a1512b.5c71","type":"server-state-changed","z":"42bda437.8bf3ec","name":"Family Room Scene","server":"586f2092.a61f","entityidfilter":"sensor.family_room","entityidfiltertype":"exact","haltifstate":"","x":95,"y":478,"wires":[["7ae620fd.75dd"]]},{"id":"7ae620fd.75dd","type":"switch","z":"42bda437.8bf3ec","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Power Off","vt":"str"},{"t":"eq","v":"Watch PC","vt":"str"}],"checkall":"false","outputs":2,"x":260,"y":478,"wires":[["78836d78.4bef64"],["4ea5e15e.e38f8"]]},{"id":"78836d78.4bef64","type":"api-call-service","z":"42bda437.8bf3ec","name":"Turn Off HTPC","server":"586f2092.a61f","service_domain":"switch","service":"turn_off","data":"{\"entity_id\":\"switch.htpc\"}","x":434,"y":457,"wires":[[]]},{"id":"4ea5e15e.e38f8","type":"api-call-service","z":"42bda437.8bf3ec","name":"Turn On HTPC","server":"586f2092.a61f","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.htpc\"}","x":435,"y":499,"wires":[[]]},{"id":"1ceefd51.90d053","type":"throttle","z":"1ae55a97.d30a15","name":"","throttleType":"reset","timeLimit":0,"timeLimitType":"seconds","countLimit":0,"blockSize":0,"locked":false,"x":487,"y":513,"wires":[["a59f5aab.dfd738"]]},{"id":"9de6a2eb.5ed35","type":"change","z":"1ae55a97.d30a15","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":516,"y":569,"wires":[["c047be7c.d8f4e","1ceefd51.90d053"]]},{"id":"5eaa7f3f.bafbd","type":"debug","z":"37ca70b3.1ccd","name":"","active":false,"console":"false","complete":"true","x":294,"y":83,"wires":[]},{"id":"5d83edb6.7af7e4","type":"debug","z":"f90ad8d5.5a1c18","name":"","active":false,"console":"false","complete":"true","x":866,"y":70,"wires":[]},{"id":"37e14b81.ba9d14","type":"api-current-state","z":"f096674e.b4e168","name":"Ecobee","server":"586f2092.a61f","halt_if":"","entity_id":"climate.bigbee","x":323,"y":358,"wires":[["83ed6a6e.1b4788","d92888d6.9b81e8"]]},{"id":"d55d622f.8e83","type":"inject","z":"f096674e.b4e168","name":"Night Check","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 20 * * *","once":false,"x":140,"y":380,"wires":[["37e14b81.ba9d14","39c3bfa4.bd47f","6f0c378f.f5dd48"]]},{"id":"83ed6a6e.1b4788","type":"switch","z":"f096674e.b4e168","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"auto","vt":"str"},{"t":"eq","v":"cool","vt":"str"},{"t":"eq","v":"heat","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":456,"y":358,"wires":[["41c7a69c.496a08","e033b906.3e6318","394b05e4.d2802a","b256cabc.604378"],["394b05e4.d2802a","b256cabc.604378"],["41c7a69c.496a08","e033b906.3e6318"],["e033b906.3e6318","b256cabc.604378"]]},{"id":"41c7a69c.496a08","type":"time-range-switch","z":"f096674e.b4e168","name":"Night","lat":"43.12228","lon":"-76.10097","startTime":"19:30","endTime":"23:59","startOffset":0,"endOffset":0,"x":619,"y":236,"wires":[["7d2ddb87.4659b4"],["a7dbbef5.dc2dc"]]},{"id":"ede35d45.ff69b","type":"change","z":"f096674e.b4e168","name":"Set as Today","rules":[{"t":"set","p":"day","pt":"msg","to":"Today","tot":"str"},{"t":"set","p":"operation","pt":"msg","to":"heat","tot":"str"},{"t":"set","p":"title","pt":"msg","to":"Off Heat","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":917,"y":259,"wires":[["b695a44d.070378"]]},{"id":"b695a44d.070378","type":"switch","z":"f096674e.b4e168","name":">=65F","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"65","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":1055,"y":259,"wires":[["942cf452.254cf8","f9d42f06.8da15"]]},{"id":"942cf452.254cf8","type":"api-call-service","z":"f096674e.b4e168","name":"Set Mode To Off","server":"586f2092.a61f","service_domain":"climate","service":"set_operation_mode","data":"{\"entity_id\":\"climate.bigbee\", \"operation_mode\": \"off\"}","x":1222,"y":274,"wires":[[]]},{"id":"d92888d6.9b81e8","type":"debug","z":"f096674e.b4e168","name":"","active":false,"console":"false","complete":"true","x":447,"y":301,"wires":[]},{"id":"b8475374.7db35","type":"switch","z":"f096674e.b4e168","name":">=85F","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"85","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":1138,"y":62,"wires":[["c7b553a9.a8f7d"]]},{"id":"1cc0f641.2cdcda","type":"api-current-state","z":"f096674e.b4e168","name":"Tomorrow's High","server":"586f2092.a61f","halt_if":"","entity_id":"sensor.dark_sky_daytime_high_temperature_1","x":784,"y":62,"wires":[["22950c37.da5094"]]},{"id":"e033b906.3e6318","type":"time-range-switch","z":"f096674e.b4e168","name":"Night","lat":"43.12228","lon":"-76.10097","startTime":"19:30","endTime":"23:59","startOffset":0,"endOffset":0,"x":621,"y":83,"wires":[["1cc0f641.2cdcda"],["a537f222.84194"]]},{"id":"a537f222.84194","type":"api-current-state","z":"f096674e.b4e168","name":"Today's High","server":"586f2092.a61f","halt_if":"","entity_id":"sensor.dark_sky_daytime_high_temperature","x":764,"y":106,"wires":[["7714b3c.6f4994c"]]},{"id":"22950c37.da5094","type":"change","z":"f096674e.b4e168","name":"Set as Tomorrow","rules":[{"t":"set","p":"day","pt":"msg","to":"Tomorrow","tot":"str"},{"t":"set","p":"operation","pt":"msg","to":"cool","tot":"str"},{"t":"set","p":"title","pt":"msg","to":"On A/C","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":981,"y":62,"wires":[["b8475374.7db35"]]},{"id":"1239b4b1.7bf82b","type":"change","z":"f096674e.b4e168","name":"Set as Today","rules":[{"t":"set","p":"day","pt":"msg","to":"Today","tot":"str"},{"t":"set","p":"operation","pt":"msg","to":"off","tot":"str"},{"t":"set","p":"title","pt":"msg","to":"On A/C","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1119,"y":107,"wires":[["b22c8fcc.0f34a"]]},{"id":"b22c8fcc.0f34a","type":"switch","z":"f096674e.b4e168","name":">=85F","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"85","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":1257,"y":107,"wires":[["dc9ea27c.9b06c","c7b553a9.a8f7d"]]},{"id":"dc9ea27c.9b06c","type":"api-call-service","z":"f096674e.b4e168","name":"Set Mode To Cool","server":"586f2092.a61f","service_domain":"climate","service":"set_operation_mode","data":"{\"entity_id\":\"climate.bigbee\", \"operation_mode\": \"cool\"}","x":1434,"y":122,"wires":[[]]},{"id":"bd09cf78.b6764","type":"switch","z":"f096674e.b4e168","name":">=65F","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"65","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":1136,"y":215,"wires":[["f9d42f06.8da15"]]},{"id":"324cff85.5557a","type":"change","z":"f096674e.b4e168","name":"Set as Tomorrow","rules":[{"t":"set","p":"day","pt":"msg","to":"Tomorrow","tot":"str"},{"t":"set","p":"operation","pt":"msg","to":"off","tot":"str"},{"t":"set","p":"title","pt":"msg","to":"Off Heat","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":979,"y":215,"wires":[["bd09cf78.b6764"]]},{"id":"e3f79293.7029e","type":"comment","z":"f096674e.b4e168","name":"Warmer Tomorrow","info":"","x":785,"y":173,"wires":[]},{"id":"12cd3d7a.08ada3","type":"comment","z":"f096674e.b4e168","name":"Hotter Tomorrow","info":"","x":775,"y":20,"wires":[]},{"id":"c7b553a9.a8f7d","type":"link out","z":"f096674e.b4e168","name":"Hotter Tomorrow","links":["51601549.378d1c"],"x":1345,"y":65,"wires":[]},{"id":"63d9fcec.be59d4","type":"debug","z":"f096674e.b4e168","name":"","active":false,"console":"false","complete":"true","x":380,"y":91,"wires":[]},{"id":"2cf94aaf.813a36","type":"api-call-service","z":"f096674e.b4e168","name":"Notify","server":"586f2092.a61f","service_domain":"notify","service":"html5_seths_one_plus_3t","data":"{\"title\": \"Ecobee Mode Change\"}","x":386,"y":126,"wires":[[]]},{"id":"3007add0.08c8e2","type":"template","z":"f096674e.b4e168","name":"notify template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"data\": {\n    \"title\": \"Turning {{title}}\",\n    \"message\": \"{{day}}'s High is {{payload}}{{data.attributes.unit_of_measurement}}\",\n    \"data\":{\n        \"tag\": \"ecobee_automate\",\n        \"vibrate\": [500, 200, 500, 200, 500],\n        \"renotify\": true,\n        \"mode\": \"{{operation}}\",\n        \"actions\": [\n            {\n                \"action\": \"change_ecobee_operation_mode\",\n                \"title\": \"Set Ecobee to {{operation}}\"\n            }\n            ]\n        }\n    }\n}","output":"json","x":224,"y":126,"wires":[["63d9fcec.be59d4","2cf94aaf.813a36"]]},{"id":"51601549.378d1c","type":"link in","z":"f096674e.b4e168","name":"Ecobee Format And Notify","links":["c7b553a9.a8f7d","f9d42f06.8da15","c9b91219.b586f","8d51285a.7fb068"],"x":88,"y":126,"wires":[["3007add0.08c8e2"]]},{"id":"f9d42f06.8da15","type":"link out","z":"f096674e.b4e168","name":"Warmer Tomorrow","links":["51601549.378d1c"],"x":1301,"y":226,"wires":[]},{"id":"394b05e4.d2802a","type":"time-range-switch","z":"f096674e.b4e168","name":"Night","lat":"43.12228","lon":"-76.10097","startTime":"19:30","endTime":"23:59","startOffset":0,"endOffset":0,"x":618,"y":392,"wires":[["77af02f4.fca17c"],["3c6a3105.ba0c9e"]]},{"id":"863e35f5.085ae8","type":"change","z":"f096674e.b4e168","name":"Set as Today","rules":[{"t":"set","p":"day","pt":"msg","to":"Today","tot":"str"},{"t":"set","p":"operation","pt":"msg","to":"cool","tot":"str"},{"t":"set","p":"title","pt":"msg","to":"Off A/C","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":916,"y":415,"wires":[["b757dbfa.35aad8"]]},{"id":"b757dbfa.35aad8","type":"switch","z":"f096674e.b4e168","name":"<=80F","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"65","vt":"num"}],"checkall":"false","outputs":1,"x":1054,"y":415,"wires":[["c9b91219.b586f","942cf452.254cf8"]]},{"id":"655a5ed0.47638","type":"switch","z":"f096674e.b4e168","name":"<=80F","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"80","vt":"num"}],"checkall":"false","outputs":1,"x":1135,"y":371,"wires":[["c9b91219.b586f"]]},{"id":"1249e7ad.9221b8","type":"change","z":"f096674e.b4e168","name":"Set as Tomorrow","rules":[{"t":"set","p":"day","pt":"msg","to":"Tomorrow","tot":"str"},{"t":"set","p":"operation","pt":"msg","to":"off","tot":"str"},{"t":"set","p":"title","pt":"msg","to":"Off A/C","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":978,"y":371,"wires":[["655a5ed0.47638"]]},{"id":"e326806a.41edb","type":"comment","z":"f096674e.b4e168","name":"Cooler Tomorrow","info":"","x":774,"y":329,"wires":[]},{"id":"c9b91219.b586f","type":"link out","z":"f096674e.b4e168","name":"Warmer Tomorrow","links":["51601549.378d1c"],"x":1300,"y":382,"wires":[]},{"id":"1f550968.c27777","type":"switch","z":"f096674e.b4e168","name":"<=63F","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"63","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":1137,"y":528,"wires":[["8d51285a.7fb068"]]},{"id":"b256cabc.604378","type":"time-range-switch","z":"f096674e.b4e168","name":"Night","lat":"43.12228","lon":"-76.10097","startTime":"19:30","endTime":"23:59","startOffset":0,"endOffset":0,"x":620,"y":549,"wires":[["546c9f72.e0d0e"],["7e1b7b7b.838b74"]]},{"id":"212ce4f3.1057bc","type":"change","z":"f096674e.b4e168","name":"Set as Tomorrow","rules":[{"t":"set","p":"day","pt":"msg","to":"Tomorrow","tot":"str"},{"t":"set","p":"operation","pt":"msg","to":"heat","tot":"str"},{"t":"set","p":"title","pt":"msg","to":"On Heat","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":528,"wires":[["1f550968.c27777"]]},{"id":"eba43172.12aa7","type":"change","z":"f096674e.b4e168","name":"Set as Today","rules":[{"t":"set","p":"day","pt":"msg","to":"Today","tot":"str"},{"t":"set","p":"operation","pt":"msg","to":"off","tot":"str"},{"t":"set","p":"title","pt":"msg","to":"On Heat","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":918,"y":572,"wires":[["82ced88f.27cdd8"]]},{"id":"82ced88f.27cdd8","type":"switch","z":"f096674e.b4e168","name":"<=63F","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"63","vt":"num"}],"checkall":"false","repair":false,"outputs":1,"x":1056,"y":572,"wires":[["58b59281.c0422c","8d51285a.7fb068"]]},{"id":"58b59281.c0422c","type":"api-call-service","z":"f096674e.b4e168","name":"Set Mode To Heat","server":"586f2092.a61f","service_domain":"climate","service":"set_operation_mode","data":"{\"entity_id\":\"climate.bigbee\", \"operation_mode\": \"heat\"}","x":1233,"y":587,"wires":[[]]},{"id":"10f5dc8b.3995d3","type":"comment","z":"f096674e.b4e168","name":"Colder Tomorrow","info":"","x":774,"y":486,"wires":[]},{"id":"8d51285a.7fb068","type":"link out","z":"f096674e.b4e168","name":"Hotter Tomorrow","links":["51601549.378d1c"],"x":1298,"y":541,"wires":[]},{"id":"7714b3c.6f4994c","type":"api-current-state","z":"f096674e.b4e168","name":"House Occupied?","server":"586f2092.a61f","halt_if":"not_home","entity_id":"group.all_devices","x":940,"y":107,"wires":[["1239b4b1.7bf82b"]]},{"id":"c843937e.511","type":"inject","z":"f096674e.b4e168","name":"Morning Check","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 8 * * *","once":false,"x":140,"y":340,"wires":[["37e14b81.ba9d14"]]},{"id":"39c3bfa4.bd47f","type":"api-current-state","z":"f096674e.b4e168","name":"Tomorrow's Snow","server":"586f2092.a61f","halt_if":"","entity_id":"sensor.dark_sky_precip_accumulation_1","x":139,"y":498,"wires":[["16d91eda.619a41"]]},{"id":"16d91eda.619a41","type":"switch","z":"f096674e.b4e168","name":">=2.5\"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"2.5","vt":"num"}],"checkall":"false","outputs":1,"x":299,"y":497,"wires":[["3426cb75.ba1824"]]},{"id":"88b7072e.0f6bb8","type":"debug","z":"f096674e.b4e168","name":"","active":false,"console":"false","complete":"true","x":462,"y":551,"wires":[]},{"id":"e8ecc079.428cc","type":"api-call-service","z":"f096674e.b4e168","name":"Notify","server":"586f2092.a61f","service_domain":"notify","service":"html5","data":"{\"title\": \"Snow Total\"}","x":468,"y":586,"wires":[[]]},{"id":"3426cb75.ba1824","type":"template","z":"f096674e.b4e168","name":"notify template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"data\": {\n    \"title\": \"Snow Tomorrow\",\n    \"message\": \"{{payload}}\\\" of snow expected\",\n    \"data\":{\n        \"tag\": \"tomorrow_snow\",\n        \"renotify\": true\n        }\n    }\n}","output":"json","x":301,"y":549,"wires":[["88b7072e.0f6bb8","e8ecc079.428cc"]]},{"id":"6f0c378f.f5dd48","type":"api-current-state","z":"f096674e.b4e168","name":"Tomorrow's Wind","server":"586f2092.a61f","halt_if":"","entity_id":"sensor.dark_sky_wind_speed_1","x":140,"y":595,"wires":[["d589fb74.764a18"]]},{"id":"d589fb74.764a18","type":"switch","z":"f096674e.b4e168","name":">=15mph","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"15","vt":"num"}],"checkall":"false","outputs":1,"x":310,"y":594,"wires":[["9a936d7.5bed49"]]},{"id":"9a936d7.5bed49","type":"template","z":"f096674e.b4e168","name":"notify template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"data\": {\n    \"title\": \"Windy Tomorrow\",\n    \"message\": \"{{payload}} MPH expected\",\n    \"data\":{\n        \"tag\": \"tomorrow_wind\",\n        \"renotify\": true\n        }\n    }\n}","output":"json","x":302,"y":646,"wires":[["e8ecc079.428cc","88b7072e.0f6bb8"]]},{"id":"6596ada.51c6754","type":"switch","z":"42bda437.8bf3ec","name":"","property":"data.old_state.state != payload","propertyType":"jsonata","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":241,"y":330,"wires":[["7d078c95.bb9424"]]},{"id":"5560b605.790298","type":"server-state-changed","z":"42bda437.8bf3ec","name":"AVReceiver","server":"586f2092.a61f","entityidfilter":"binary_sensor.yamaha_receiver","entityidfiltertype":"exact","haltifstate":"","x":75,"y":660,"wires":[["5e3c0d24.8cdf24"]]},{"id":"5e3c0d24.8cdf24","type":"switch","z":"42bda437.8bf3ec","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":212,"y":660,"wires":[["bb3dda67.0613f8"],["f195c004.71087"]]},{"id":"f195c004.71087","type":"api-call-service","z":"42bda437.8bf3ec","name":"Turn Off Bias Light","server":"586f2092.a61f","service_domain":"light","service":"turn_off","data":"{\"entity_id\":\"light.tv_bias_light\"}","x":375,"y":675,"wires":[[]]},{"id":"c603061.97308f8","type":"api-call-service","z":"42bda437.8bf3ec","name":"Turn On Bias Light","server":"586f2092.a61f","service_domain":"light","service":"turn_on","data":"{\"entity_id\":\"light.tv_bias_light\", \"white_value\":150, \"rgb_color\": [0,0,50]}","x":562,"y":633,"wires":[[]]},{"id":"1b2f4885.3bd3b7","type":"comment","z":"42bda437.8bf3ec","name":"Bias Light","info":"","x":66,"y":621,"wires":[]},{"id":"bb3dda67.0613f8","type":"time-range-switch","z":"42bda437.8bf3ec","name":"","lat":"43.1387","lon":"-76.23631","startTime":"sunrise","endTime":"sunset","startOffset":0,"endOffset":"-30","x":364,"y":639,"wires":[[],["c603061.97308f8"]]},{"id":"8ae80189.3197","type":"bigtimer","z":"42bda437.8bf3ec","outtopic":"/home/downstairs/family_room/shades/set","outpayload1":"on","outpayload2":"off","name":"Big Timer","lat":"43.1387","lon":"-76.23631","starttime":"5004","endtime":"5004","startoff":"-29","endoff":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":false,"atstart":true,"odd":false,"even":false,"x":201,"y":597,"wires":[["a841f11e.e63a6"],[],[]]},{"id":"a841f11e.e63a6","type":"api-current-state","z":"42bda437.8bf3ec","name":"AV Receiver","server":"586f2092.a61f","halt_if":"off","entity_id":"binary_sensor.yamaha_receiver","x":354,"y":600,"wires":[["c603061.97308f8"]]},{"id":"6252b5e1.9e76fc","type":"mqtt in","z":"3d9442da.6e01ee","name":"Location Info","topic":"sdpinter/location/#","qos":"0","broker":"14ced623.01764a","x":75,"y":1295,"wires":[["fa842ef.00f79d","b33a800d.11fc1"]]},{"id":"b33a800d.11fc1","type":"debug","z":"3d9442da.6e01ee","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":657,"y":1349,"wires":[]},{"id":"f30b2f8e.548c4","type":"template","z":"3d9442da.6e01ee","name":"Set Data","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"data\": {\n    \"dev_id\": \"{{dev_id}}\",\n    \"location_name\": \"{{payload.location}}\"\n    }\n}","output":"json","x":517,"y":1295,"wires":[["b33a800d.11fc1","5488d053.72191"]]},{"id":"5488d053.72191","type":"api-call-service","z":"3d9442da.6e01ee","name":"Set Room Location","server":"586f2092.a61f","service_domain":"device_tracker","service":"see","data":"{}","x":693,"y":1295,"wires":[[]]},{"id":"fa842ef.00f79d","type":"json","z":"3d9442da.6e01ee","name":"","property":"payload","action":"","pretty":false,"x":213,"y":1295,"wires":[["514f1d92.83e764"]]},{"id":"514f1d92.83e764","type":"function","z":"3d9442da.6e01ee","name":"Get Device ID","func":"topic = msg.topic.split(\"/\")\ndevice = topic[topic.length-1]+\"_internal\"\nnode.status({fill:\"green\",shape:\"dot\",text:device});\nmsg.dev_id = device\nreturn msg;","outputs":1,"noerr":0,"x":359,"y":1295,"wires":[["f30b2f8e.548c4"]]},{"id":"b771de6.b9b352","type":"api-current-state","z":"1ae55a97.d30a15","name":"% Used /","server":"586f2092.a61f","halt_if":"","entity_id":"sensor.disk_used_","x":321,"y":770,"wires":[["b032389c.57f5e8"]]},{"id":"b032389c.57f5e8","type":"delay","z":"1ae55a97.d30a15","name":"","pauseType":"delay","timeout":"100","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":533,"y":770,"wires":[["92dfd19b.23a32"]]},{"id":"3a3557d1.b8e288","type":"watch","z":"1ae55a97.d30a15","name":"rsync log","files":"/home/sdpinter/rsync_remote.log","recursive":false,"x":89,"y":925,"wires":[["d053b325.effa5","4ea28a8.2bd9f74"]]},{"id":"d053b325.effa5","type":"switch","z":"1ae55a97.d30a15","name":"","property":"type","propertyType":"msg","rules":[{"t":"eq","v":"none","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":232,"y":945,"wires":[[],["d3363327.1d9fa"]]},{"id":"4ea28a8.2bd9f74","type":"debug","z":"1ae55a97.d30a15","name":"","active":false,"tosidebar":true,"console":false,"complete":"true","x":226,"y":879,"wires":[]},{"id":"d3363327.1d9fa","type":"stoptimer","z":"1ae55a97.d30a15","duration":"10","units":"Minute","payloadtype":"num","payloadval":"0","name":"","x":382,"y":953,"wires":[["79e7fed1.b0659"],[]]},{"id":"3164f8d5.59e168","type":"debug","z":"1ae55a97.d30a15","name":"","active":false,"tosidebar":true,"console":false,"complete":"true","x":663,"y":965,"wires":[]},{"id":"2eda3d36.a1baf2","type":"function","z":"1ae55a97.d30a15","name":"Extract Errors","func":"var errorMsg = null\nif(msg.payload.includes(\"rsync error\"))\n{\n  errorMsg = msg.payload.match(/rsync.*\\n/)\n  for(i = 0; i < errorMsg.length; i++)\n  {\n    result = errorMsg[i].slice(7)\n    errorMsg[i] = result\n    node.error(errorMsg[i])\n  }\n}\nvar returnMsg = {payload: errorMsg}\nreturn returnMsg;","outputs":1,"noerr":0,"x":386,"y":1010,"wires":[["cec37a9.daa1488"]]},{"id":"79e7fed1.b0659","type":"file in","z":"1ae55a97.d30a15","name":"Get File","filename":"/home/sdpinter/rsync_remote.log","format":"utf8","chunk":false,"sendError":false,"x":225,"y":1011,"wires":[["2eda3d36.a1baf2"]]},{"id":"cec37a9.daa1488","type":"function","z":"1ae55a97.d30a15","name":"format","func":"// outputs: 1\nvar returnMsgs = [];\nvar phone = \"seths_one_plus_3t\"\nvar title = \"Rsync Error\"\nfor(i = 0; i < msg.payload.length; i++)\n{\n    var message = msg.payload[i];\n    var newMsg = notification = {payload: {\"data\": {\"target\": phone, \"title\": title, \"message\": message, \"data\":{ \"vibrate\":[0]}}}};\n    returnMsgs.push(newMsg);\n}\nreturn [returnMsgs];","outputs":1,"noerr":0,"x":539,"y":1009,"wires":[["3164f8d5.59e168","110b13d5.a6560c"]]},{"id":"110b13d5.a6560c","type":"api-call-service","z":"1ae55a97.d30a15","name":"Notify Phone","server":"586f2092.a61f","service_domain":"notify","service":"html5","data":"{}","x":686,"y":1008,"wires":[[]]},{"id":"372d430a.5dde9c","type":"snmp walker","z":"67b76939.9a9c98","host":"192.168.125.3","community":"public","version":"1","oids":"1.3.6.1.2.1.1.1.0","timeout":5,"name":"dd-wrt","x":230,"y":201,"wires":[["b900e212.2ad25"]]},{"id":"b900e212.2ad25","type":"debug","z":"67b76939.9a9c98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":384,"y":202,"wires":[]},{"id":"a65c4138.04cb","type":"inject","z":"67b76939.9a9c98","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":84,"y":283,"wires":[["c389cdd4.8e59f"]]},{"id":"c389cdd4.8e59f","type":"snmp","z":"67b76939.9a9c98","host":"192.168.125.3","community":"public","version":"2c","oids":"1.3.6.1.2.1.2.2.1.2.1,1.3.6.1.2.1.2.2.1.2.2,1.3.6.1.2.1.2.2.1.2.3,1.3.6.1.2.1.2.2.1.2.4,1.3.6.1.2.1.2.2.1.2.5,1.3.6.1.2.1.2.2.1.2.6,1.3.6.1.2.1.2.2.1.2.7","timeout":5,"name":"Interface Retriever","x":277,"y":283,"wires":[["b900e212.2ad25"]]},{"id":"38ef83a3.d46f0c","type":"inject","z":"67b76939.9a9c98","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":86,"y":198,"wires":[["372d430a.5dde9c"]]},{"id":"b5c0ff85.4cd99","type":"snmp","z":"67b76939.9a9c98","host":"192.168.125.1","community":"public","version":"1","oids":"1.3.6.1.4.1.2021.255.3.54.1.3.32.1.4.1","timeout":5,"name":"","x":289,"y":324,"wires":[["b900e212.2ad25"]]},{"id":"f4204d3b.65034","type":"inject","z":"67b76939.9a9c98","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":88,"y":327,"wires":[["b5c0ff85.4cd99"]]},{"id":"f2c46fc2.50408","type":"inject","z":"67b76939.9a9c98","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":97,"y":72,"wires":[["d90d2fb1.7c431","9c5aa539.4b4048","da97a9d5.155008"]]},{"id":"d90d2fb1.7c431","type":"snmp","z":"67b76939.9a9c98","host":"192.168.125.1","community":"public","version":"2c","oids":"1.3.6.1.2.1.2.2.1.10.7,1.3.6.1.2.1.2.2.1.16.7","timeout":5,"name":"1 WAN In/Out","x":267,"y":29,"wires":[["a3688874.d1c928"]]},{"id":"a0312472.b48b48","type":"function","z":"67b76939.9a9c98","name":"Kbps Calculator","func":"//get previous values and store the current values\nvar ifInPrev = context.get('ifInPrev'+msg.router_interface)||null\nvar ifOutPrev = context.get('ifOutPrev'+msg.router_interface)||null\ncontext.set('ifInPrev'+msg.router_interface, msg.payload[0].value)\ncontext.set('ifOutPrev'+msg.router_interface, msg.payload[1].value)\n\nif(ifInPrev === null || ifOutPrev === null)\n  return null;\nelse\n{\n  var msgInRate = null\n  var msgOutRate = null\n  var unitOfMeasure = \"Kbps\"\n  var baseURL = \"localhost:8123/api/states/sensor.router_\"\n  var ifInRate = Math.round((msg.payload[0].value - ifInPrev) / 128 / 10)\n  var ifOutRate = Math.round((msg.payload[1].value - ifOutPrev) / 128 / 10)\n  var msgDebug = {payload: [ifInRate, ifOutRate]}\n  \n  if(ifInRate >= 0)\n  {\n    msgInRate = {\n      payload: {\n        state:ifInRate,\n          attributes: {\n            unit_of_measurement:unitOfMeasure,\n            icon:msg.icon,\n            friendly_name:msg.friendly_name+\" In\"\n          }\n      },\n      url: baseURL+msg.router_interface+\"_in\"\n    }\n  }\n  if(ifOutRate >= 0)\n  {\n    var msgOutRate = {\n      payload: {\n        state:ifOutRate,\n          attributes: {\n            unit_of_measurement:unitOfMeasure,\n            icon:msg.icon,\n            friendly_name:msg.friendly_name+\" Out\"\n        }\n      },\n      url: baseURL+msg.router_interface+\"_out\"\n    }\n  }\n  \n  return [msgInRate, msgOutRate, msgDebug];\n}","outputs":3,"noerr":0,"x":594,"y":66,"wires":[["b5503cdf.4ff5a"],["6e5eb2e4.b58b6c"],["e5c69d01.3ffbb"]],"outputLabels":["In Kbps","Out Kbps","Debug"]},{"id":"e5c69d01.3ffbb","type":"debug","z":"67b76939.9a9c98","name":"","active":false,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","x":770,"y":111,"wires":[]},{"id":"9c5aa539.4b4048","type":"snmp","z":"67b76939.9a9c98","host":"192.168.125.1","community":"public","version":"2c","oids":"1.3.6.1.2.1.2.2.1.10.3,1.3.6.1.2.1.2.2.1.16.3","timeout":5,"name":"1 LAN In/Out","x":257,"y":73,"wires":[["733c9fc4.65f6a"]]},{"id":"b5503cdf.4ff5a","type":"http request","z":"67b76939.9a9c98","name":"HA REST Post","method":"POST","ret":"txt","url":"","tls":"","x":777,"y":20,"wires":[[]]},{"id":"cf086011.b6de8","type":"websocket in","z":"67b76939.9a9c98","name":"","server":"","client":"575b4c2f.0d7e64","x":692,"y":201,"wires":[["f42b3544.2e1ee8"]]},{"id":"f42b3544.2e1ee8","type":"debug","z":"67b76939.9a9c98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","x":916,"y":201,"wires":[]},{"id":"1e0ddfe8.ddb4e","type":"websocket out","z":"67b76939.9a9c98","name":"","server":"","client":"575b4c2f.0d7e64","x":815,"y":326,"wires":[]},{"id":"e78a27dc.388508","type":"inject","z":"67b76939.9a9c98","name":"","topic":"","payload":"{   \"id\": 1,   \"type\": \"get_services\" }","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":559,"y":326,"wires":[["1e0ddfe8.ddb4e"]]},{"id":"6e5eb2e4.b58b6c","type":"http request","z":"67b76939.9a9c98","name":"HA REST Post","method":"POST","ret":"txt","url":"","tls":"","x":778,"y":66,"wires":[[]]},{"id":"a3688874.d1c928","type":"change","z":"67b76939.9a9c98","name":"1_wan","rules":[{"t":"set","p":"router_interface","pt":"msg","to":"1_wan","tot":"str"},{"t":"set","p":"icon","pt":"msg","to":"mdi:wan","tot":"str"},{"t":"set","p":"friendly_name","pt":"msg","to":"WAN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":429,"y":29,"wires":[["a0312472.b48b48"]]},{"id":"733c9fc4.65f6a","type":"change","z":"67b76939.9a9c98","name":"1_lan","rules":[{"t":"set","p":"router_interface","pt":"msg","to":"1_lan","tot":"str"},{"t":"set","p":"icon","pt":"msg","to":"mdi:lan","tot":"str"},{"t":"set","p":"friendly_name","pt":"msg","to":"Router 1 LAN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":429,"y":73,"wires":[["a0312472.b48b48"]]},{"id":"da97a9d5.155008","type":"snmp","z":"67b76939.9a9c98","host":"192.168.125.3","community":"public","version":"2c","oids":"1.3.6.1.2.1.2.2.1.10.5,1.3.6.1.2.1.2.2.1.16.5","timeout":5,"name":"2 LAN In/Out","x":258,"y":114,"wires":[["31956441.2b1b9c"]]},{"id":"31956441.2b1b9c","type":"change","z":"67b76939.9a9c98","name":"2_lan","rules":[{"t":"set","p":"router_interface","pt":"msg","to":"2_lan","tot":"str"},{"t":"set","p":"icon","pt":"msg","to":"mdi:lan","tot":"str"},{"t":"set","p":"friendly_name","pt":"msg","to":"Router 2 LAN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":428,"y":114,"wires":[["a0312472.b48b48"]]},{"id":"a204bfb8.6e151","type":"snmp table","z":"67b76939.9a9c98","host":"192.168.125.1","community":"public","version":"1","oids":"1.3.6.1.4.1.2021.255.3.54.1.3.32.1.1.1","timeout":5,"name":"","x":292,"y":372,"wires":[["b900e212.2ad25"]]},{"id":"5da3f86d.de28c8","type":"inject","z":"67b76939.9a9c98","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":91,"y":373,"wires":[["a204bfb8.6e151"]]},{"id":"efa04685.12f1a8","type":"influxdb out","z":"67b76939.9a9c98","influxdb":"6c10d696.600518","name":"","measurement":"kbps","precision":"","retentionPolicy":"","x":622,"y":491,"wires":[]},{"id":"d9ee8945.e6b7b8","type":"snmp","z":"67b76939.9a9c98","host":"192.168.125.3","community":"public","version":"1","oids":"1.3.6.1.4.1.2021.255.3.54.1.3.32.1.13.1,1.3.6.1.4.1.2021.255.3.54.1.3.32.1.26.1,1.3.6.1.4.1.2021.255.3.54.1.3.32.1.27.1,1.3.6.1.4.1.2021.255.3.54.1.3.32.1.4.15,1.3.6.1.4.1.2021.255.3.54.1.3.32.1.26.15,1.3.6.1.4.1.2021.255.3.54.1.3.32.1.27.15","timeout":5,"name":"SNR Retriever ","x":275,"y":431,"wires":[["b900e212.2ad25"]]},{"id":"eee47723.25b1f8","type":"inject","z":"67b76939.9a9c98","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":92,"y":431,"wires":[["d9ee8945.e6b7b8"]]},{"id":"2b66e8f1.2ca378","type":"websocket in","z":"2878bef7.9eec62","name":"","server":"112b57e5.982ba8","client":"","x":85,"y":64,"wires":[["5b83cea4.7c22f"]]},{"id":"48dbb019.e7abf","type":"debug","z":"2878bef7.9eec62","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":756,"y":65,"wires":[]},{"id":"e085ced7.758e8","type":"inject","z":"42bda437.8bf3ec","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":376.5,"y":562,"wires":[["c603061.97308f8"]]},{"id":"2f882d31.599292","type":"sqlite","z":"2878bef7.9eec62","mydb":"541582c5.74415c","name":"chores.db","x":250,"y":104,"wires":[["2aca3b8d.a11574"]]},{"id":"bdb58895.a532e8","type":"template","z":"2878bef7.9eec62","name":"Query","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT * FROM chores where chore_id={{event.id}}","output":"str","x":546,"y":62,"wires":[["2f882d31.599292"]]},{"id":"2aca3b8d.a11574","type":"function","z":"2878bef7.9eec62","name":"Format Message","func":"msg.message = msg.event.person+ \" has completed \"+msg.payload[0].chore_name+\".\";\nmsg.id = msg.event.person+\"_\"+msg.event.id;\nreturn msg;","outputs":1,"noerr":0,"x":417,"y":104,"wires":[["a302f322.ec12a"]]},{"id":"a8de7815.0fd508","type":"inject","z":"2878bef7.9eec62","name":"","topic":"","payload":"{\"person\":\"Leif\",\"id\":79}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":116,"y":26,"wires":[["c36a336c.f8417"]]},{"id":"29955349.528c1c","type":"inject","z":"2878bef7.9eec62","name":"Weekly Payout","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"59 22 * * 6","once":false,"onceDelay":0.1,"x":111,"y":333,"wires":[["bab97217.8865f","aadc6d79.48f46","ed6503b5.dbb4a"]]},{"id":"c679d552.fd7e48","type":"sqlite","z":"2878bef7.9eec62","mydb":"541582c5.74415c","name":"chores.db","x":518,"y":332,"wires":[["6bbcb459.fc1a2c","23b9614b.e7504e"]]},{"id":"feae83d3.51cf6","type":"template","z":"2878bef7.9eec62","name":"Query","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT sum(value) FROM (SELECT sum(value) as 'value' FROM chores where completed_by=\"{{person}}\" AND STATUS=\"approved\" UNION SELECT balance as 'value' FROM bank WHERE person = \"{{person}}\")","output":"str","x":391,"y":332,"wires":[["c679d552.fd7e48"]]},{"id":"5b83cea4.7c22f","type":"json","z":"2878bef7.9eec62","name":"","property":"payload","action":"","pretty":false,"x":231,"y":64,"wires":[["c36a336c.f8417"]]},{"id":"1c20f0f8.434bef","type":"function","z":"2878bef7.9eec62","name":"Get Week (Starting Sunday)","func":"var D = new Date();\nvar d = new Date(Date.UTC(D.getFullYear(), D.getMonth(), D.getDate()));\nd.setUTCDate(d.getUTCDate() - d.getUTCDay());//+1);//\nvar yearStart = new Date(Date.UTC(d.getUTCFullYear(), 0, 1));\nmsg.weekOfYear = Math.ceil((((d - yearStart) / 86400000) + 1) / 7);\nreturn msg;","outputs":1,"noerr":0,"x":134,"y":573,"wires":[[]]},{"id":"bab97217.8865f","type":"change","z":"2878bef7.9eec62","name":"Leif","rules":[{"t":"set","p":"person","pt":"msg","to":"Leif","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":265,"y":332,"wires":[["feae83d3.51cf6"]]},{"id":"aadc6d79.48f46","type":"change","z":"2878bef7.9eec62","name":"Liam","rules":[{"t":"set","p":"person","pt":"msg","to":"Liam","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":264,"y":367,"wires":[["feae83d3.51cf6"]]},{"id":"ed6503b5.dbb4a","type":"change","z":"2878bef7.9eec62","name":"Avery","rules":[{"t":"set","p":"person","pt":"msg","to":"Avery","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":263,"y":400,"wires":[["feae83d3.51cf6"]]},{"id":"6bbcb459.fc1a2c","type":"change","z":"2878bef7.9eec62","name":"Extract Total","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].sum(value)","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":333,"wires":[["3bc4cc8d.6199d4"]]},{"id":"3bc4cc8d.6199d4","type":"template","z":"2878bef7.9eec62","name":"Query","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE bank SET balance={{payload}} WHERE person=\"{{person}}\"","output":"str","x":811,"y":332,"wires":[["948e9144.8d32b"]]},{"id":"23b9614b.e7504e","type":"throttle","z":"2878bef7.9eec62","name":"","throttleType":"time","timeLimit":"5","timeLimitType":"seconds","countLimit":0,"blockSize":0,"locked":false,"x":651,"y":371,"wires":[["36bccf9c.dd621"]]},{"id":"36bccf9c.dd621","type":"change","z":"2878bef7.9eec62","name":"Clear Payouts","rules":[{"t":"set","p":"topic","pt":"msg","to":"UPDATE chores SET status=\"incomplete\",completed_by=\"\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":798,"y":370,"wires":[["948e9144.8d32b"]]},{"id":"948e9144.8d32b","type":"sqlite","z":"2878bef7.9eec62","mydb":"541582c5.74415c","name":"chores.db","x":957,"y":331,"wires":[[]]},{"id":"d94ed44c.def438","type":"api-call-service","z":"2878bef7.9eec62","name":"Notify","server":"586f2092.a61f","service_domain":"notify","service":"html5","data":"{\"message\": \"chore finished\"}","mergecontext":"","x":757,"y":102,"wires":[[]]},{"id":"a302f322.ec12a","type":"template","z":"2878bef7.9eec62","name":"notify template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{ \"data\": {\n    \"title\": \"Chore Finished\",\n    \"message\": \"{{message}}\",\n    \"data\":{\n      \"tag\": \"{{id}}\",\n      \"requireInteraction\": true,\n      \"icon\":\"https://hass.pinternet.us/local/inspect.png\",\n      \"actions\": [\n        {\n          \"action\": \"approved\",\n          \"title\": \"Approve\"\n        },\n        {\n          \"action\": \"incomplete\",\n          \"title\": \"Incomplete\"\n        }\n      ]\n    }\n  }\n}","output":"json","x":603,"y":104,"wires":[["d94ed44c.def438","48dbb019.e7abf"]]},{"id":"c36a336c.f8417","type":"change","z":"2878bef7.9eec62","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"event","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":389,"y":63,"wires":[["bdb58895.a532e8"]]},{"id":"8b2aeff5.09474","type":"server-events","z":"2878bef7.9eec62","name":"HA Events","server":"586f2092.a61f","x":65,"y":235,"wires":[["253db130.26eb6e"]]},{"id":"253db130.26eb6e","type":"switch","z":"2878bef7.9eec62","name":"HMLT5","property":"event_type","propertyType":"msg","rules":[{"t":"eq","v":"html5_notification.clicked","vt":"str"},{"t":"eq","v":"html5_notification.closed","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":202,"y":235,"wires":[["181206df.1ad0e9","9640bb74.e9ca08"],[]]},{"id":"75c59dd5.ddd1e4","type":"function","z":"2878bef7.9eec62","name":"Query","func":"id = msg.payload.event.tag.split('_')[1];\nstatus = msg.payload.event.action;\n\nif(status === null || status === \"\"){ msg = null; }\nelse {\n  msg.topic = 'UPDATE chores SET status=\"'+status+'\"WHERE chore_id='+id;\n}\nreturn msg;","outputs":1,"noerr":0,"x":477,"y":228,"wires":[["629bd747.3d3d48","9640bb74.e9ca08"]]},{"id":"629bd747.3d3d48","type":"sqlite","z":"2878bef7.9eec62","mydb":"541582c5.74415c","name":"chores.db","x":610,"y":230,"wires":[[]]},{"id":"9640bb74.e9ca08","type":"debug","z":"2878bef7.9eec62","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":608,"y":188,"wires":[]},{"id":"181206df.1ad0e9","type":"switch","z":"2878bef7.9eec62","name":"Chores","property":"payload.event.tag","propertyType":"msg","rules":[{"t":"regex","v":"(Leif|Liam|Avery)_[0-9]{1,}","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":1,"x":344,"y":228,"wires":[["75c59dd5.ddd1e4"]]},{"id":"d61f0d7f.f4764","type":"inject","z":"2878bef7.9eec62","name":"Weekly Check Pending","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 18 * * 6","once":false,"onceDelay":0.1,"x":138,"y":490,"wires":[["2a75785c.d107b8"]]},{"id":"343a92e6.22ff4e","type":"comment","z":"2878bef7.9eec62","name":"Receive WS from HTML page and notify parents","info":"","x":372,"y":24,"wires":[]},{"id":"91445dd5.58541","type":"comment","z":"2878bef7.9eec62","name":"Receive notification click events and update DB","info":"","x":204,"y":189,"wires":[]},{"id":"550490f.7c61b7","type":"comment","z":"2878bef7.9eec62","name":"On Saturday, Pay out kids and reset chores","info":"","x":187,"y":297,"wires":[]},{"id":"2a75785c.d107b8","type":"change","z":"2878bef7.9eec62","name":"Check Pending","rules":[{"t":"set","p":"topic","pt":"msg","to":"SELECT * FROM chores where status=\"pending\"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":396,"y":490,"wires":[["b6d09703.8b3b28"]]},{"id":"b6d09703.8b3b28","type":"sqlite","z":"2878bef7.9eec62","mydb":"541582c5.74415c","name":"chores.db","x":558,"y":490,"wires":[["cafdf730.decdc8","91260aef.a7b638"]]},{"id":"85d1c839.341108","type":"api-call-service","z":"2878bef7.9eec62","name":"Notify","server":"586f2092.a61f","service_domain":"notify","service":"html5","data":"{\"message\": \"chore finished\"}","mergecontext":"","x":908,"y":489,"wires":[[]]},{"id":"cafdf730.decdc8","type":"function","z":"2878bef7.9eec62","name":"Format Message","func":"returnVal = null;\n\nif(msg.payload !== null && msg.payload.length > 0)\n{\n    var legnth = msg.payload.length;\n    returnVal = {payload: {\n                    data: {\n                      title: \"Chores Pending\",\n                      message: \"There are \"+legnth+\" Pending.\",\n                      data:{\n                        url: \"http://chores.pinternet.us/admin.php\",\n                        tag: \"chore_pending\",\n                      }\n                    }\n                  }\n                };\n}\nreturn returnVal;","outputs":1,"noerr":0,"x":730,"y":490,"wires":[["91260aef.a7b638","85d1c839.341108"]]},{"id":"91260aef.a7b638","type":"debug","z":"2878bef7.9eec62","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":888,"y":448,"wires":[]},{"id":"644589d2.520078","type":"server-state-changed","z":"37ca70b3.1ccd","name":"Kitchen Table Motion","server":"586f2092.a61f","entityidfilter":"binary_sensor.kitchen_microwave_motion","entityidfiltertype":"exact","haltifstate":"off","x":100,"y":376,"wires":[[]]},{"id":"d76a1623.d2d128","type":"api-current-state","z":"30de7929.802c66","name":"Microwave Motion Detection","server":"586f2092.a61f","halt_if":"off","entity_id":"binary_sensor.kitchen_microwave_motion","x":852,"y":53,"wires":[[]]},{"id":"54117482.5f166c","type":"api-current-state","z":"37ca70b3.1ccd","name":"Microwave Motion Detection","server":"586f2092.a61f","halt_if":"off","entity_id":"binary_sensor.kitchen_microwave_motion","x":190,"y":244,"wires":[["b4e5b296.50c36"]]},{"id":"a41a3acf.7bff98","type":"api-current-state","z":"37ca70b3.1ccd","name":"Microwave Motion Detection","server":"586f2092.a61f","halt_if":"off","entity_id":"binary_sensor.kitchen_microwave_motion","x":207,"y":429,"wires":[["c6496bc9.8b2738"]]},{"id":"2da60874.84a9f8","type":"inject","z":"37ca70b3.1ccd","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"45 05 * * *","once":false,"onceDelay":0.1,"x":1237,"y":276,"wires":[["b6830ae1.a3e868","a0ad8de4.d55c5"]]},{"id":"a7be1c59.04056","type":"api-call-service","z":"37ca70b3.1ccd","name":"Turn On Dining Room","server":"586f2092.a61f","service_domain":"switch","service":"turn_on","data":"{\"entity_id\":\"switch.basement\"}","mergecontext":"","x":400,"y":24,"wires":[[]]},{"id":"111c5a3c.db3c76","type":"server-state-changed","z":"42bda437.8bf3ec","name":"TCL 65\"","server":"586f2092.a61f","entityidfilter":"media_player.65_tcl_roku_tv","entityidfiltertype":"exact","haltifstate":"","x":76,"y":727,"wires":[["1a3d6879.0c4c88"]]},{"id":"1a3d6879.0c4c88","type":"debug","z":"42bda437.8bf3ec","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":277,"y":746,"wires":[]},{"id":"a7dbbef5.dc2dc","type":"api-current-state","z":"f096674e.b4e168","name":"Today's High","server":"586f2092.a61f","halt_if":"","entity_id":"sensor.dark_sky_daytime_high_temperature","x":761,"y":260,"wires":[["ede35d45.ff69b"]]},{"id":"7d2ddb87.4659b4","type":"api-current-state","z":"f096674e.b4e168","name":"Tomorrow's High","server":"586f2092.a61f","halt_if":"","entity_id":"sensor.dark_sky_daytime_high_temperature_1","x":781,"y":216,"wires":[["324cff85.5557a"]]},{"id":"3c6a3105.ba0c9e","type":"api-current-state","z":"f096674e.b4e168","name":"Today's High","server":"586f2092.a61f","halt_if":"","entity_id":"sensor.dark_sky_daytime_high_temperature","x":760,"y":416,"wires":[["863e35f5.085ae8"]]},{"id":"77af02f4.fca17c","type":"api-current-state","z":"f096674e.b4e168","name":"Tomorrow's High","server":"586f2092.a61f","halt_if":"","entity_id":"sensor.dark_sky_daytime_high_temperature_1","x":780,"y":372,"wires":[["1249e7ad.9221b8"]]},{"id":"7e1b7b7b.838b74","type":"api-current-state","z":"f096674e.b4e168","name":"Today's High","server":"586f2092.a61f","halt_if":"","entity_id":"sensor.dark_sky_daytime_high_temperature","x":761,"y":574,"wires":[["eba43172.12aa7"]]},{"id":"546c9f72.e0d0e","type":"api-current-state","z":"f096674e.b4e168","name":"Tomorrow's High","server":"586f2092.a61f","halt_if":"","entity_id":"sensor.dark_sky_daytime_high_temperature_1","x":781,"y":530,"wires":[["212ce4f3.1057bc"]]},{"id":"5f721f2e.7ae93","type":"inject","z":"6425f89.f9f3b08","name":"Check Pool","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":false,"onceDelay":0.1,"x":108,"y":117,"wires":[["a1e1c054.14cac"]]},{"id":"a1e1c054.14cac","type":"api-current-state","z":"6425f89.f9f3b08","name":"Timer Enabled?","server":"586f2092.a61f","halt_if":"off","entity_id":"input_boolean.pool_pump_timer_enabled","x":281,"y":117,"wires":[["9780053d.786b48"]]},{"id":"9780053d.786b48","type":"api-current-state","z":"6425f89.f9f3b08","name":"Pool Pump","server":"586f2092.a61f","halt_if":"","entity_id":"switch.pool_pump","x":451,"y":117,"wires":[["b1ab6f22.04945","b7b884b5.a1f058"]]},{"id":"b1ab6f22.04945","type":"function","z":"6425f89.f9f3b08","name":"Pump on/off","func":"service = \"\"\nlastChangeTime = Date.parse(msg.data.last_changed)\ntimeSinceLastChangeMinutes = (Date.now() - lastChangeTime) / (1000 * 60)\n\nif(msg.data.state === \"on\" && timeSinceLastChangeMinutes > 120)\n{\n    service = \"turn_off\"\n}\nelse if(timeSinceLastChangeMinutes > 600)\n{\n    service = \"turn_on\"\n}\n\nif(service !== \"\")\n{\n   msg.payload = { \"service\": service,\n                   \"payload\": msg.payload}\n   return msg;\n}\nreturn null;","outputs":1,"noerr":0,"x":618,"y":116,"wires":[["69cd7d53.5d4624","b7b884b5.a1f058","b239473d.a780a8"]]},{"id":"69cd7d53.5d4624","type":"api-call-service","z":"6425f89.f9f3b08","name":"Pump","server":"586f2092.a61f","service_domain":"switch","service":"","data":"{\"entity_id\":\"switch.pool_pump\"}","mergecontext":"","x":782,"y":117,"wires":[[]]},{"id":"b7b884b5.a1f058","type":"debug","z":"6425f89.f9f3b08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":668,"y":50,"wires":[]},{"id":"b239473d.a780a8","type":"switch","z":"6425f89.f9f3b08","name":"","property":"payload.service","propertyType":"msg","rules":[{"t":"eq","v":"turn_on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":343,"y":185,"wires":[["4895dd31.d796f4"]]},{"id":"4895dd31.d796f4","type":"api-render-template","z":"6425f89.f9f3b08","name":"Off Time Text","server":"586f2092.a61f","template":"{{now().replace(hour=(now().hour+2)%24).strftime(\"%I:%M %p\")}}","x":487,"y":184,"wires":[["c81848a2.76e468"]]},{"id":"c81848a2.76e468","type":"template","z":"6425f89.f9f3b08","name":"Format Data","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"state\":\"{{payload}}\",\n  \"attributes\":{\"friendly_name\": \"Pool Pump Off Time\"}\n}","output":"json","x":646,"y":184,"wires":[["e9fadbc0.dc80b8"]]},{"id":"e9fadbc0.dc80b8","type":"http request","z":"6425f89.f9f3b08","name":"HA REST Post","method":"POST","ret":"txt","url":"localhost:8123/api/states/sensor.pool_pump_off_time","tls":"","x":815,"y":184,"wires":[[]]},{"id":"91e163cc.ee38d","type":"server-state-changed","z":"6425f89.f9f3b08","name":"Pool Pump Off","server":"586f2092.a61f","entityidfilter":"switch.pool_pump","entityidfiltertype":"substring","haltifstate":"on","x":481,"y":233,"wires":[["afad69f.8ed9298"]]},{"id":"afad69f.8ed9298","type":"template","z":"6425f89.f9f3b08","name":"Format Data","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n  \"state\":\"--:--\",\n  \"attributes\":{\"friendly_name\": \"Pool Pump Off Time\"}\n}","output":"json","x":649,"y":233,"wires":[["e9fadbc0.dc80b8"]]}]